In [3]:
import geopandas as gpd
import libpysal
import esda

In [4]:
gdf = gpd.read_file("clean_data/master.shp")

In [5]:
gdf.head()

,index,OBJECTID,Year,FedID,CDCode,CDSCode,CountyName,DistrictNa,DistrictTy,GradeLow,...,total_gran,District C,studentgro,e_currstat,e_priorsta,e_change,m_currstat,m_priorsta,m_change,geometry
0,NaN,1,2018-19,0601770,0161119,1611190000000,Alameda,Alameda Unified,Unified,KG,...,"82,158,116",11190,None,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-13606221.352 4540862.002, -13..."
1,NaN,2,2018-19,0601860,0161127,1611270000000,Alameda,Albany City Unified,Unified,KG,...,"31,352,540",11270,None,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-13612889.056 4565138.930, -13612894..."
2,NaN,3,2018-19,0604740,0161143,1611430000000,Alameda,Berkeley Unified,Unified,KG,...,"89,369,621",11430,None,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-13609481.010 4565073.896, -13609481..."
3,NaN,4,2018-19,0607800,0161150,1611500000000,Alameda,Castro Valley Unified,Unified,KG,...,"79,554,607",11500,None,NaN,NaN,NaN,NaN,NaN,NaN,"MULTIPOLYGON (((-13581537.591 4528171.452, -13..."
4,NaN,5,2018-19,0612630,0161168,1611680000000,Alameda,Emery Unified,Unified,KG,...,"7,326,875",11680,None,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-13614035.309 4555653.898, -13614035..."

In [6]:
wq = libpysal.weights.Queen.from_dataframe(gdf)

C:\Users\fiend\Anaconda2\envs\capstone\lib\site-packages\libpysal\weights\weights.py:172: UserWarning: The weights matrix is not fully connected:
 There are 2 disconnected components.
  warnings.warn(message)

In [7]:
wq.n

12491

In [9]:
gdf.shape

(12491, 84)