In [1]:
import pandas
from geosnap import Community
from geosnap import datasets
import fiona
import geopandas
%matplotlib inline
import matplotlib.pyplot as plt
import segregation

# questions for today 5/27
# bucket problem with geosnap?
# losing district and county name with frpm aggregation
# merge operation breaking ela currstatus

C:\Users\fiend\Anaconda2\envs\capstone\lib\site-packages\geosnap\_data.py:123: UserWarning: Unable to locate local census data. Streaming instead.
If you plan to use census data repeatedly you can store it locally with the io.store_census function for better performance
  "Unable to locate local census data. Streaming instead.\n"
Loading manifest: 100%|██████████| 5/5 [00:00<00:00, 5008.72entries/s]
Loading manifest: 100%|██████████| 5/5 [00:00<00:00, 2506.16entries/s]
C:\Users\fiend\Anaconda2\envs\capstone\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.cluster.spectral module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.cluster. Anything that cannot be imported from sklearn.cluster is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
pandas.set_option('display.max_rows', 500)
pandas.set_option('display.max_column', 500)

In [3]:
ele = geopandas.read_file("districts_tiger/tl_2015_us_sde.shp")
# Reading in shapefiles from census/tiger

In [4]:
seco = geopandas.read_file("districts_tiger/tl_2015_us_sds.shp")

In [5]:
uni = geopandas.read_file("districts_tiger/tl_2015_us_sdu.shp")

In [6]:
ele = ele.loc[ele['STATEFP'] == '06']
# slicing out California
# elementary school districts in California

In [7]:
seco = seco.loc[seco['STATEFP'] == '06']
# secondary school districts in California

In [8]:
uni = uni.loc[uni['STATEFP'] == '06']
# unified school districts in California

In [9]:
len(ele)+len(seco)+len(uni)

986

## Combining shapefiles into single geodataframe

In [10]:
ele['origin'] = 'elementary'

In [11]:
seco['origin'] = 'secondary'

In [12]:
uni['origin'] = 'unified'

In [13]:
adistricts = uni.append([ele, seco])
#all districts

In [14]:
adistricts = adistricts.sort_values('NAME', ascending=True)

In [15]:
check = adistricts['NAME'].str.contains('County Office')

res = [i for i, val in enumerate(check) if val]
print(res)

[]

In [157]:
cnames = (
'Alameda County', 
'Alpine County', 
'Amador County', 
'Butte County', 
'Calaveras County', 
'Colusa County', 
'Contra Costa County',
'Del Norte County', 
'El Dorado County', 
'Fresno County', 
'Glenn County',
'Humboldt County',
'Imperial County', 
'Inyo County',
'Kern County', 
'Kings County',
'Lake County', 
'Lassen County',
'Los Angeles County', 
'Madera County', 
'Marin County', 
'Mariposa County', 
'Mendocino County', 
'Merced County', 
'Modoc County', 
'Mono County', 
'Monterey County', 
'Napa County', 
'Nevada County', 
'Orange County',
'Placer County',
'Plumas County', 
'Riverside County', 
'Sacramento County', 
'San Benito County', 
'San Bernardino County', 
'San Diego County', 
'San Francisco County', 
'San Joaquin County', 
'San Luis Obispo County',
'San Mateo County',
'Santa Barbara County', 
'Santa Clara County',
'Santa Cruz County', 
'Shasta County', 
'Sierra County', 
'Siskiyou County', 
'Solano County', 
'Sonoma County',
'Stanislaus County', 
'Sutter County', 
'Tehama County',
'Trinity County', 
'Tulare County', 
'Tuolumne County', 
'Ventura County', 
'Yolo County',
'Yuba County')
cnames

('Alameda County',
 'Alpine County',
 'Amador County',
 'Butte County',
 'Calaveras County',
 'Colusa County',
 'Contra Costa County',
 'Del Norte County',
 'El Dorado County',
 'Fresno County',
 'Glenn County',
 'Humboldt County',
 'Imperial County',
 'Inyo County',
 'Kern County',
 'Kings County',
 'Lake County',
 'Lassen County',
 'Los Angeles County',
 'Madera County',
 'Marin County',
 'Mariposa County',
 'Mendocino County',
 'Merced County',
 'Modoc County',
 'Mono County',
 'Monterey County',
 'Napa County',
 'Nevada County',
 'Orange County',
 'Placer County',
 'Plumas County',
 'Riverside County',
 'Sacramento County',
 'San Benito County',
 'San Bernardino County',
 'San Diego County',
 'San Francisco County',
 'San Joaquin County',
 'San Luis Obispo County',
 'San Mateo County',
 'Santa Barbara County',
 'Santa Clara County',
 'Santa Cruz County',
 'Shasta County',
 'Sierra County',
 'Siskiyou County',
 'Solano County',
 'Sonoma County',
 'Stanislaus County',
 'Sutter County',
 'Tehama County',
 'Trinity County',
 'Tulare County',
 'Tuolumne County',
 'Ventura County',
 'Yolo County',
 'Yuba County')

In [158]:
geoid = ('06001',
'06003',
'06005',
'06007',
'06009',
'06011',
'06013',
'06015',
'06017',
'06019',
'06021',
'06023',
'06025',
'06027',
'06029',
'06031',
'06033',
'06035',
'06037',
'06039',
'06041',
'06043',
'06045',
'06047',
'06049',
'06051',
'06053',
'06055',
'06057',
'06059',
'06061',
'06063',
'06065',
'06067',
'06069',
'06071',
'06073',
'06075',
'06077',
'06079',
'06081',
'06083',
'06085',
'06087',
'06089',
'06091',
'06093',
'06095',
'06097',
'06099',
'06101',
'06103',
'06105',
'06107',
'06109',
'06111',
'06113', 
'06115')
geoid

('06001',
 '06003',
 '06005',
 '06007',
 '06009',
 '06011',
 '06013',
 '06015',
 '06017',
 '06019',
 '06021',
 '06023',
 '06025',
 '06027',
 '06029',
 '06031',
 '06033',
 '06035',
 '06037',
 '06039',
 '06041',
 '06043',
 '06045',
 '06047',
 '06049',
 '06051',
 '06053',
 '06055',
 '06057',
 '06059',
 '06061',
 '06063',
 '06065',
 '06067',
 '06069',
 '06071',
 '06073',
 '06075',
 '06077',
 '06079',
 '06081',
 '06083',
 '06085',
 '06087',
 '06089',
 '06091',
 '06093',
 '06095',
 '06097',
 '06099',
 '06101',
 '06103',
 '06105',
 '06107',
 '06109',
 '06111',
 '06113',
 '06115')

In [160]:
cfips = pandas.DataFrame(zip(cnames, geoid), columns=['county_name', 'GEOID'])
cfips

               county_name  GEOID
0           Alameda County  06001
1            Alpine County  06003
2            Amador County  06005
3             Butte County  06007
4         Calaveras County  06009
5            Colusa County  06011
6      Contra Costa County  06013
7         Del Norte County  06015
8         El Dorado County  06017
9            Fresno County  06019
10            Glenn County  06021
11         Humboldt County  06023
12         Imperial County  06025
13             Inyo County  06027
14             Kern County  06029
15            Kings County  06031
16             Lake County  06033
17           Lassen County  06035
18      Los Angeles County  06037
19           Madera County  06039
20            Marin County  06041
21         Mariposa County  06043
22        Mendocino County  06045
23           Merced County  06047
24            Modoc County  06049
25             Mono County  06051
26         Monterey County  06053
27             Napa County  06055
28           Nevada County  06057
29           Orange County  06059
30           Placer County  06061
31           Plumas County  06063
32        Riverside County  06065
33       Sacramento County  06067
34       San Benito County  06069
35   San Bernardino County  06071
36        San Diego County  06073
37    San Francisco County  06075
38      San Joaquin County  06077
39  San Luis Obispo County  06079
40        San Mateo County  06081
41    Santa Barbara County  06083
42      Santa Clara County  06085
43       Santa Cruz County  06087
44           Shasta County  06089
45           Sierra County  06091
46         Siskiyou County  06093
47           Solano County  06095
48           Sonoma County  06097
49       Stanislaus County  06099
50           Sutter County  06101
51           Tehama County  06103
52          Trinity County  06105
53           Tulare County  06107
54         Tuolumne County  06109
55          Ventura County  06111
56             Yolo County  06113
57             Yuba County  06115

In [132]:
adistricts['GEOID'].astype(str)
adistricts

,STATEFP,UNSDLEA,GEOID,NAME,LSAD,LOGRADE,HIGRADE,MTFCC,SDTYP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,origin,ELSDLEA,SCSDLEA
645,06,01620,0601620,ABC Unified School District,00,KG,12,G5420,None,E,38772821,556042,+33.8637711,-118.0665456,"POLYGON ((-118.10857 33.88775, -118.10843 33.8...",unified,NaN,NaN
29,06,NaN,0601650,Acalanes Union High School District,00,09,12,G5410,None,E,205137702,4413448,+37.8772150,-122.1288576,"POLYGON ((-122.26126 37.92143, -122.26009 37.9...",secondary,NaN,01650
403,06,NaN,0601680,Ackerman Elementary School District,00,KG,08,G5400,None,E,11308882,7628,+38.9366318,-121.0507823,"POLYGON ((-121.07045 38.92923, -121.07045 38.9...",elementary,01680,NaN
658,06,00001,0600001,Acton-Agua Dulce Unified School District,00,KG,12,G5420,None,E,555175128,182565,+34.4509057,-118.2276141,"POLYGON ((-118.38010 34.50369, -118.37724 34.5...",unified,NaN,NaN
376,06,NaN,0601710,Adelanto Elementary School District,00,KG,06,G5400,None,E,868470886,832474,+34.6306380,-117.5205628,"POLYGON ((-117.66785 34.79074, -117.66784 34.7...",elementary,01710,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,06,NaN,0606002,Yosemite Unified School District in Raymond-Kn...,00,09,12,G5410,A,F,502931732,11866102,+37.1737072,-119.9030808,"POLYGON ((-120.05463 37.17719, -120.05462 37.1...",secondary,NaN,06002
335,06,NaN,0643380,Yreka Union Elementary School District,00,KG,08,G5400,None,E,417267221,1100011,+41.7728486,-122.6949023,"POLYGON ((-122.79336 41.83972, -122.79325 41.8...",elementary,43380,NaN
98,06,NaN,0643410,Yreka Union High School District,00,09,12,G5410,None,E,3355267245,20958376,+41.7984998,-122.6322692,"POLYGON ((-123.16027 41.78169, -123.16030 41.7...",secondary,NaN,43410
545,06,43470,0643470,Yuba City Unified School District,00,KG,12,G5420,None,E,294574293,4783349,+39.0342246,-121.6633133,"POLYGON ((-121.77132 39.09872, -121.77086 39.0...",unified,NaN,NaN
761,06,43560,0643560,Yucaipa-Calimesa Joint Unified School District,00,KG,12,G5420,None,E,189144614,139015,+34.0511758,-117.0130918,"POLYGON ((-117.13883 34.03503, -117.13881 34.0...",unified,NaN,NaN

In [137]:
test = adistricts
test

,STATEFP,UNSDLEA,GEOID,NAME,LSAD,LOGRADE,HIGRADE,MTFCC,SDTYP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,origin,ELSDLEA,SCSDLEA
645,06,01620,0601620,ABC Unified School District,00,KG,12,G5420,None,E,38772821,556042,+33.8637711,-118.0665456,"POLYGON ((-118.10857 33.88775, -118.10843 33.8...",unified,NaN,NaN
29,06,NaN,0601650,Acalanes Union High School District,00,09,12,G5410,None,E,205137702,4413448,+37.8772150,-122.1288576,"POLYGON ((-122.26126 37.92143, -122.26009 37.9...",secondary,NaN,01650
403,06,NaN,0601680,Ackerman Elementary School District,00,KG,08,G5400,None,E,11308882,7628,+38.9366318,-121.0507823,"POLYGON ((-121.07045 38.92923, -121.07045 38.9...",elementary,01680,NaN
658,06,00001,0600001,Acton-Agua Dulce Unified School District,00,KG,12,G5420,None,E,555175128,182565,+34.4509057,-118.2276141,"POLYGON ((-118.38010 34.50369, -118.37724 34.5...",unified,NaN,NaN
376,06,NaN,0601710,Adelanto Elementary School District,00,KG,06,G5400,None,E,868470886,832474,+34.6306380,-117.5205628,"POLYGON ((-117.66785 34.79074, -117.66784 34.7...",elementary,01710,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,06,NaN,0606002,Yosemite Unified School District in Raymond-Kn...,00,09,12,G5410,A,F,502931732,11866102,+37.1737072,-119.9030808,"POLYGON ((-120.05463 37.17719, -120.05462 37.1...",secondary,NaN,06002
335,06,NaN,0643380,Yreka Union Elementary School District,00,KG,08,G5400,None,E,417267221,1100011,+41.7728486,-122.6949023,"POLYGON ((-122.79336 41.83972, -122.79325 41.8...",elementary,43380,NaN
98,06,NaN,0643410,Yreka Union High School District,00,09,12,G5410,None,E,3355267245,20958376,+41.7984998,-122.6322692,"POLYGON ((-123.16027 41.78169, -123.16030 41.7...",secondary,NaN,43410
545,06,43470,0643470,Yuba City Unified School District,00,KG,12,G5420,None,E,294574293,4783349,+39.0342246,-121.6633133,"POLYGON ((-121.77132 39.09872, -121.77086 39.0...",unified,NaN,NaN
761,06,43560,0643560,Yucaipa-Calimesa Joint Unified School District,00,KG,12,G5420,None,E,189144614,139015,+34.0511758,-117.0130918,"POLYGON ((-117.13883 34.03503, -117.13881 34.0...",unified,NaN,NaN

In [140]:
test['GEOID'] = test['GEOID'].astype(str).str[:-2]
test

,STATEFP,UNSDLEA,GEOID,NAME,LSAD,LOGRADE,HIGRADE,MTFCC,SDTYP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,origin,ELSDLEA,SCSDLEA
645,06,01620,06016,ABC Unified School District,00,KG,12,G5420,None,E,38772821,556042,+33.8637711,-118.0665456,"POLYGON ((-118.10857 33.88775, -118.10843 33.8...",unified,NaN,NaN
29,06,NaN,06016,Acalanes Union High School District,00,09,12,G5410,None,E,205137702,4413448,+37.8772150,-122.1288576,"POLYGON ((-122.26126 37.92143, -122.26009 37.9...",secondary,NaN,01650
403,06,NaN,06016,Ackerman Elementary School District,00,KG,08,G5400,None,E,11308882,7628,+38.9366318,-121.0507823,"POLYGON ((-121.07045 38.92923, -121.07045 38.9...",elementary,01680,NaN
658,06,00001,06000,Acton-Agua Dulce Unified School District,00,KG,12,G5420,None,E,555175128,182565,+34.4509057,-118.2276141,"POLYGON ((-118.38010 34.50369, -118.37724 34.5...",unified,NaN,NaN
376,06,NaN,06017,Adelanto Elementary School District,00,KG,06,G5400,None,E,868470886,832474,+34.6306380,-117.5205628,"POLYGON ((-117.66785 34.79074, -117.66784 34.7...",elementary,01710,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,06,NaN,06060,Yosemite Unified School District in Raymond-Kn...,00,09,12,G5410,A,F,502931732,11866102,+37.1737072,-119.9030808,"POLYGON ((-120.05463 37.17719, -120.05462 37.1...",secondary,NaN,06002
335,06,NaN,06433,Yreka Union Elementary School District,00,KG,08,G5400,None,E,417267221,1100011,+41.7728486,-122.6949023,"POLYGON ((-122.79336 41.83972, -122.79325 41.8...",elementary,43380,NaN
98,06,NaN,06434,Yreka Union High School District,00,09,12,G5410,None,E,3355267245,20958376,+41.7984998,-122.6322692,"POLYGON ((-123.16027 41.78169, -123.16030 41.7...",secondary,NaN,43410
545,06,43470,06434,Yuba City Unified School District,00,KG,12,G5420,None,E,294574293,4783349,+39.0342246,-121.6633133,"POLYGON ((-121.77132 39.09872, -121.77086 39.0...",unified,NaN,NaN
761,06,43560,06435,Yucaipa-Calimesa Joint Unified School District,00,KG,12,G5420,None,E,189144614,139015,+34.0511758,-117.0130918,"POLYGON ((-117.13883 34.03503, -117.13881 34.0...",unified,NaN,NaN

In [142]:
test2 = pandas.DataFrame(countyfips ,columns=['county_name', 'GEOID',])
test2

ValueError: Shape of passed values is (115, 1), indices imply (115, 2)

In [17]:
adsgeo = adistricts['NAME']
# all districs name list

In [18]:
adistricts.shape

(986, 18)

In [19]:
items = pandas.DataFrame(columns=['District Code', 'districtname', 'studentgroup', 'currstatus', 'priorstatus', 'change']) 
items

Empty DataFrame
Columns: [District Code, districtname, studentgroup, currstatus, priorstatus, change]
Index: []

In [20]:
adsgeo.unique().shape
# todo: some districts listed twice

(970,)

In [21]:
dupes = adistricts[adistricts['NAME'].isin(adistricts['NAME'].value_counts()[adistricts['NAME'].value_counts()>2].index)]
print(dupes['NAME'].unique())
# 3 Jefferson
# 3 Lakeside
# 3 Pioneer

# create new column indicating countyID

['Jefferson Elementary School District'
 'Lakeside Union Elementary School District'
 'Pioneer Union Elementary School District']

### Harmonizing data

ela + math `currstatus` Average distance from Standard of students who took the Smarter Balanced summative assessment in ela/math


options<br>
* questions of differences across groups? (no geography)
* differences across districts (group by district)
* differences across groups in districts (interaction effects > more pronounced differences in certain districts)

visualization

* what is the best indicator to use for choropleth ()

* or - use state level values as benchmark for each group (how is it reflected in each district, heterogeniety in space?)

## ELA acheivement indicator data
Find the codebook [here](https://www.cde.ca.gov/ta/ac/cm/ela18.asp)

In [22]:
ela = pandas.read_csv('lcff_data/eladownload2018.csv')
ela.shape

C:\Users\fiend\Anaconda2\envs\capstone\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(148838, 32)

In [23]:
ela.head()

,cds,rtype,schoolname,districtname,countyname,charter_flag,coe_flag,dass_flag,studentgroup,currdenom,currdenom_swd,currstatus,priordenom,priordenom_swd,priorstatus,change,statuslevel,changelevel,color,box,hscutpoints,curradjustment,prioradjustment,pairshare_method,caa_denom,caa_level1_num,caa_level1_pct,caa_level2_num,caa_level2_pct,caa_level3_num,caa_level3_pct,ReportingYear
0,0,X,NaN,NaN,NaN,NaN,NaN,NaN,AA,172224,NaN,-51.8,177009.0,NaN,-52.7,0.9,2,3,2,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
1,0,X,NaN,NaN,NaN,NaN,NaN,NaN,AI,16662,NaN,-36.8,17234.0,NaN,-39.1,2.3,2,3,2,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
2,0,X,NaN,NaN,NaN,NaN,NaN,NaN,ALL,3171704,NaN,-6.0,3200441.0,NaN,-8.2,2.2,2,3,2,180,NaN,NaN,NaN,NaN,36140.0,18581.0,51.4,11330.0,31.4,6229.0,17.2,2018
3,0,X,NaN,NaN,NaN,NaN,NaN,NaN,AS,293002,NaN,62.4,295040.0,NaN,60.5,2.0,5,3,5,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
4,0,X,NaN,NaN,NaN,NaN,NaN,NaN,EL,1000703,NaN,-47.1,1021418.0,NaN,-50.4,3.3,2,4,3,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018

## Creating state-level variable

In [24]:
replacements = dict(
    studentgroup = {'ALL':'all_students',
                        'AA':'african_american',
                        'AI':'american_indian',
                        'AS':'asian',
                        'FI':'filipino',
                        'HI':'hispanic',
                        'PI':'pacific_islander',
                        'WH':'white',
                        'MR':'multiple_races',
                        'EL':'english_learners',
                        'ELO':'english_learners_only',
                        'RFP':'rfep_only',
                        'EO':'english_only',
                        'SED':'ses_disad',
                        'SWD':'disabilities',
                        'FOS':'foster_youth',
                        'HOM':'homeless_youth',
                })
# dictionary for replacing acronyms, reuse later

ela['studentgroup'].astype(str)
ela = ela.replace(replacements)
# replace acronyms

j = ela
j = j.loc[j['rtype'] == 'X']
# select by no-type (state)
k = pandas.concat([j.pop(x) for x in ['studentgroup', 
                                      'currstatus', 
                                      'priorstatus', 
                                      'change',
                                      'currdenom']],
                  1)
# slice out columns
ela_state = k.sort_values(by='currstatus', ascending=False)
# state-level ela performance variable

## Aggregation

In [25]:
# fixing cds codes to match with other datasets
ela['cds'].astype(str)
# changing cds code to string
ela = ela[ela.coe_flag !='Y']
# removing county offices of education
ela = ela.loc[ela['rtype'] == 'D']
# select district level entries
ela['cds'] = ela['cds'].apply(lambda x: '{0:0>14}'.format(x))
# adding leading zero to 13 digit int
ela['District Code'] = [x[2:7] for x in ela['cds']]
# adding district only code
elat = set(ela['cds'])
# creating test set variable
ela.head()

,cds,rtype,schoolname,districtname,countyname,charter_flag,coe_flag,dass_flag,studentgroup,currdenom,currdenom_swd,currstatus,priordenom,priordenom_swd,priorstatus,change,statuslevel,changelevel,color,box,hscutpoints,curradjustment,prioradjustment,pairshare_method,caa_denom,caa_level1_num,caa_level1_pct,caa_level2_num,caa_level2_pct,caa_level3_num,caa_level3_pct,ReportingYear,District Code
164,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,african_american,298,NaN,-43.0,332.0,NaN,-48.7,5.7,2,4,3,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
165,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,american_indian,13,NaN,-14.8,14.0,NaN,14.3,-29.1,2,1,0,0,NaN,NaN,-0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
166,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,all_students,4550,NaN,36.8,4541.0,NaN,32.8,4.0,4,4,4,90,NaN,NaN,NaN,NaN,38.0,26.0,68.4,6.0,15.8,6.0,15.8,2018,61119
167,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,asian,1288,NaN,48.6,1334.0,NaN,54.0,-5.3,5,2,4,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
168,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,english_learners,1084,NaN,-2.5,1176.0,NaN,-1.4,-1.1,3,3,3,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119

In [26]:
# Create an empty list 
Row_list =[] 
  
# Iterate over each row 
for index, rows in ela.iterrows(): 
    # Create list for the current row 
    my_list =[rows.studentgroup, rows.currstatus, rows.priorstatus, rows.change, rows.currdenom] 
      
    # append the list to the final list 
    Row_list.append(my_list) 
  
 
Row_list

[['african_american', -43.0, -48.7, 5.7, 298],
 ['american_indian', -14.8, 14.3, -29.1, 13],
 ['all_students', 36.8, 32.8, 4.0, 4550],
 ['asian', 48.6, 54.0, -5.3, 1288],
 ['english_learners', -2.5, -1.4, -1.1, 1084],
 ['english_learners_only', -42.0, -44.7, 2.7, 643],
 ['english_only', 43.5, 38.3, 5.2, 3025],
 ['filipino', 29.8, 16.0, 13.9, 275],
 ['foster_youth', nan, nan, nan, 9],
 ['hispanic', 5.0, 0.9, 4.1, 720],
 ['homeless_youth', -75.5, -56.7, -18.7, 30],
 ['multiple_races', 46.6, 40.4, 6.2, 555],
 ['pacific_islander', -27.3, -49.1, 21.8, 40],
 ['rfep_only', 55.0, 55.5, -0.5, 441],
 ['ses_disad', -13.1, -20.0, 6.9, 1491],
 ['disabilities', -73.1, -80.4, 7.3, 506],
 ['white', 60.8, 54.1, 6.7, 1346],
 ['african_american', -9.6, 12.2, -21.8, 53],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', 57.5, 64.1, -6.6, 1887],
 ['asian', 73.0, 73.7, -0.8, 513],
 ['english_learners', 31.0, 37.6, -6.6, 449],
 ['english_learners_only', -11.4, -12.5, 1.1, 186],
 ['english_only', 60.9, 68.0, -7.1, 1234],
 ['filipino', 38.0, 23.3, 14.7, 15],
 ['foster_youth', nan, nan, nan, 1],
 ['hispanic', 25.6, 28.9, -3.3, 325],
 ['homeless_youth', nan, nan, nan, 4],
 ['multiple_races', 53.9, 58.8, -4.9, 276],
 ['pacific_islander', nan, nan, nan, 5],
 ['rfep_only', 60.9, 71.4, -10.6, 263],
 ['ses_disad', 14.5, 26.6, -12.1, 399],
 ['disabilities', -35.9, -23.9, -12.0, 191],
 ['white', 67.9, 79.3, -11.4, 681],
 ['african_american', -64.9, -73.5, 8.6, 693],
 ['american_indian', 62.3, nan, nan, 12],
 ['all_students', 32.2, 20.0, 12.3, 4730],
 ['asian', 28.5, 24.3, 4.2, 333],
 ['english_learners', -47.2, -52.6, 5.4, 600],
 ['english_learners_only', -82.8, -75.4, -7.4, 380],
 ['english_only', 43.5, 31.4, 12.1, 3672],
 ['filipino', 62.5, 18.4, 44.1, 23],
 ['foster_youth', -53.1, nan, nan, 15],
 ['hispanic', -5.3, -20.7, 15.5, 1031],
 ['homeless_youth', -71.4, -75.4, 4.1, 141],
 ['multiple_races', 51.9, 43.8, 8.1, 723],
 ['pacific_islander', nan, nan, nan, 7],
 ['rfep_only', 14.4, -3.2, 17.6, 220],
 ['ses_disad', -33.0, -47.1, 14.1, 1680],
 ['disabilities', -86.0, -92.1, 6.1, 517],
 ['white', 80.7, 70.7, 10.0, 1908],
 ['african_american', -17.7, -18.7, 1.0, 255],
 ['american_indian', nan, nan, nan, 7],
 ['all_students', 34.2, 35.7, -1.5, 4701],
 ['asian', 71.9, 71.0, 0.8, 1245],
 ['english_learners', 8.6, 6.7, 1.9, 840],
 ['english_learners_only', -63.5, -64.9, 1.4, 275],
 ['english_only', 34.0, 36.0, -2.0, 3312],
 ['filipino', 28.5, 40.6, -12.1, 152],
 ['foster_youth', nan, nan, nan, 7],
 ['hispanic', -4.6, -2.0, -2.5, 1133],
 ['homeless_youth', -54.7, -24.2, -30.4, 34],
 ['multiple_races', 43.4, 46.5, -3.1, 528],
 ['pacific_islander', 4.3, 6.3, -1.9, 19],
 ['rfep_only', 43.7, 38.9, 4.8, 565],
 ['ses_disad', -7.8, -8.3, 0.5, 1175],
 ['disabilities', -67.3, -63.5, -3.8, 436],
 ['white', 39.3, 39.8, -0.5, 1322],
 ['african_american', -71.4, -80.8, 9.4, 147],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', -51.2, -60.4, 9.2, 324],
 ['asian', -28.0, -30.9, 2.9, 41],
 ['english_learners', -54.2, -68.9, 14.7, 106],
 ['english_learners_only', -89.1, -93.5, 4.4, 64],
 ['english_only', -60.6, -71.1, 10.5, 190],
 ['filipino', nan, nan, nan, 5],
 ['foster_youth', nan, nan, nan, 2],
 ['hispanic', -37.5, -39.2, 1.6, 82],
 ['homeless_youth', nan, nan, nan, 10],
 ['multiple_races', -34.8, nan, nan, 18],
 ['pacific_islander', nan, nan, nan, 3],
 ['rfep_only', -1.0, -2.1, 1.2, 42],
 ['ses_disad', -61.1, -73.1, 12.0, 255],
 ['disabilities', -123.8, -139.1, 15.2, 37],
 ['white', -31.3, -49.0, 17.8, 27],
 ['african_american', -19.0, -25.0, 5.9, 323],
 ['american_indian', 22.5, -1.2, 23.7, 38],
 ['all_students', 68.0, 62.6, 5.3, 17742],
 ['asian', 99.3, 95.0, 4.3, 11253],
 ['english_learners', 36.3, 22.9, 13.4, 5740],
 ['english_learners_only', -76.8, -57.8, -19.0, 1398],
 ['english_only', 65.7, 60.1, 5.6, 8255],
 ['filipino', 45.4, 41.2, 4.2, 865],
 ['foster_youth', nan, -37.9, nan, 10],
 ['hispanic', -19.3, -21.5, 2.2, 2511],
 ['homeless_youth', -49.1, -52.7, 3.6, 120],
 ['multiple_races', 50.6, 44.2, 6.4, 700],
 ['pacific_islander', -17.0, -18.0, 1.0, 102],
 ['rfep_only', 72.7, 67.5, 5.2, 4342],
 ['ses_disad', -10.0, -19.6, 9.5, 3657],
 ['disabilities', -61.1, -69.5, 8.4, 1792],
 ['white', 35.7, 32.7, 3.0, 1945],
 ['african_american', -57.3, -55.6, -1.7, 916],
 ['american_indian', -12.6, -38.9, 26.2, 31],
 ['all_students', -35.4, -37.6, 2.2, 10295],
 ['asian', 13.4, 15.1, -1.8, 780],
 ['english_learners', -62.2, -63.3, 1.1, 5046],
 ['english_learners_only', -113.3, -114.9, 1.6, 2401],
 ['english_only', -28.4, -27.4, -1.0, 3620],
 ['filipino', 24.3, 21.7, 2.6, 698],
 ['foster_youth', -117.4, -80.4, -37.0, 31],
 ['hispanic', -46.8, -50.3, 3.5, 6774],
 ['homeless_youth', -68.2, -61.3, -6.9, 451],
 ['multiple_races', -14.0, -5.2, -8.8, 354],
 ['pacific_islander', -41.3, -39.0, -2.3, 318],
 ['rfep_only', -15.8, -19.8, 4.1, 2645],
 ['ses_disad', -45.2, -49.4, 4.1, 6763],
 ['disabilities', -117.5, -120.7, 3.3, 1232],
 ['white', -7.2, -10.2, 3.0, 411],
 ['african_american', 2.4, -23.8, 26.3, 103],
 ['american_indian', 2.1, -43.1, 45.2, 14],
 ['all_students', 23.1, 18.7, 4.4, 6825],
 ['asian', 72.5, 60.5, 12.0, 542],
 ['english_learners', -37.3, -42.3, 5.0, 1295],
 ['english_learners_only', -91.8, -89.2, -2.6, 686],
 ['english_only', 34.2, 30.2, 4.0, 4967],
 ['filipino', 33.2, 37.2, -3.9, 192],
 ['foster_youth', -11.5, nan, nan, 11],
 ['hispanic', -21.2, -21.7, 0.5, 2090],
 ['homeless_youth', -8.5, -23.8, 15.3, 29],
 ['multiple_races', 47.9, 40.5, 7.4, 623],
 ['pacific_islander', -3.1, 4.3, -7.4, 22],
 ['rfep_only', 24.0, 24.7, -0.7, 609],
 ['ses_disad', -33.1, -39.4, 6.3, 1863],
 ['disabilities', -74.5, -81.5, 7.0, 1010],
 ['white', 39.0, 35.5, 3.5, 3239],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', nan, -10.7, nan, 10],
 ['english_learners', nan, nan, nan, 3],
 ['english_learners_only', nan, nan, nan, 3],
 ['english_only', nan, nan, nan, 6],
 ['hispanic', nan, nan, nan, 3],
 ['pacific_islander', nan, nan, nan, 2],
 ['ses_disad', nan, nan, nan, 8],
 ['white', nan, nan, nan, 4],
 ['african_american', -47.6, -44.3, -3.3, 106],
 ['american_indian', nan, nan, nan, 5],
 ['all_students', -17.8, -14.1, -3.7, 2889],
 ['asian', 37.0, 36.3, 0.7, 385],
 ['english_learners', -53.4, -53.0, -0.4, 1118],
 ['english_learners_only', -93.0, -104.1, 11.1, 598],
 ['english_only', -2.4, 1.4, -3.8, 1370],
 ['filipino', 29.6, 26.9, 2.7, 230],
 ['foster_youth', nan, nan, nan, 2],
 ['hispanic', -44.1, -37.4, -6.7, 1572],
 ['homeless_youth', -54.4, -38.7, -15.7, 100],
 ['multiple_races', 9.7, 12.3, -2.6, 142],
 ['pacific_islander', -28.8, -15.5, -13.3, 61],
 ['rfep_only', -7.8, -12.6, 4.8, 520],
 ['ses_disad', -41.9, -40.6, -1.3, 1603],
 ['disabilities', -115.1, -107.4, -7.7, 404],
 ['white', 6.3, 8.1, -1.8, 360],
 ['african_american', -42.9, -52.1, 9.2, 292],
 ['american_indian', -2.5, -28.1, 25.7, 22],
 ['all_students', -1.4, -6.1, 4.6, 5691],
 ['asian', 40.0, 33.5, 6.4, 1335],
 ['english_learners', -43.8, -46.3, 2.5, 1865],
 ['english_learners_only', -94.5, -105.7, 11.2, 1017],
 ['english_only', -0.2, -5.0, 4.8, 2498],
 ['filipino', 22.6, 19.5, 3.0, 1070],
 ['foster_youth', nan, -90.4, nan, 9],
 ['hispanic', -35.1, -39.7, 4.6, 2148],
 ['homeless_youth', -72.9, -72.1, -0.8, 66],
 ['multiple_races', 12.6, 12.3, 0.4, 346],
 ['pacific_islander', -13.5, -21.0, 7.6, 132],
 ['rfep_only', 17.1, 7.6, 9.5, 848],
 ['ses_disad', -30.6, -37.0, 6.4, 2943],
 ['disabilities', -115.7, -112.7, -3.0, 576],
 ['white', -0.5, 0.5, -1.0, 346],
 ['african_american', -86.1, -87.5, 1.3, 4257],
 ['american_indian', -67.2, -63.8, -3.3, 46],
 ['all_students', -49.1, -50.6, 1.5, 17157],
 ['asian', -9.1, -9.3, 0.2, 2276],
 ['english_learners', -79.7, -76.1, -3.6, 7287],
 ['english_learners_only', -125.8, -126.4, 0.5, 4358],
 ['english_only', -35.2, -39.6, 4.4, 8327],
 ['filipino', -23.2, -26.9, 3.8, 135],
 ['foster_youth', -114.5, -118.9, 4.4, 66],
 ['hispanic', -70.9, -69.8, -1.1, 7266],
 ['homeless_youth', -138.1, -138.2, 0.1, 263],
 ['multiple_races', 18.4, 17.4, 0.9, 708],
 ['pacific_islander', -80.7, -64.0, -16.7, 203],
 ['rfep_only', -11.0, -13.9, 2.9, 2929],
 ['ses_disad', -71.3, -71.7, 0.4, 13180],
 ['disabilities', -132.0, -129.0, -3.0, 2520],
 ['white', 42.3, 35.5, 6.8, 2012],
 ['african_american', 41.4, 3.1, 38.2, 13],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', 86.8, 82.2, 4.6, 1426],
 ['asian', 103.7, 91.3, 12.4, 169],
 ['english_learners', 47.9, 33.6, 14.3, 52],
 ['english_learners_only', nan, 5.7, nan, 6],
 ['english_only', 87.3, 83.4, 3.9, 1247],
 ['filipino', nan, nan, nan, 5],
 ['hispanic', 53.8, 48.8, 5.0, 123],
 ['multiple_races', 88.6, 85.3, 3.3, 266],
 ['rfep_only', 50.2, 45.2, 5.0, 46],
 ['ses_disad', 18.9, 12.3, 6.6, 11],
 ['disabilities', 20.8, 14.6, 6.2, 216],
 ['white', 88.4, 85.2, 3.2, 849],
 ['african_american', -79.6, -67.5, -12.1, 581],
 ['american_indian', -59.8, -52.3, -7.5, 13],
 ['all_students', -36.9, -30.4, -6.5, 4415],
 ['asian', 12.8, 24.1, -11.3, 707],
 ['english_learners', -66.6, -56.9, -9.7, 1717],
 ['english_learners_only', -105.7, -99.3, -6.3, 1116],
 ['english_only', -31.5, -27.2, -4.3, 2010],
 ['filipino', -2.1, 5.6, -7.6, 304],
 ['foster_youth', -128.4, -99.4, -29.0, 11],
 ['hispanic', -55.4, -49.6, -5.7, 2162],
 ['homeless_youth', -101.7, -78.6, -23.2, 76],
 ['multiple_races', -6.1, -4.7, -1.3, 208],
 ['pacific_islander', -52.8, -61.1, 8.3, 50],
 ['rfep_only', 5.9, 8.6, -2.7, 601],
 ['ses_disad', -55.5, -48.2, -7.3, 2953],
 ['disabilities', -119.5, -114.4, -5.0, 595],
 ['white', -0.4, -0.9, 0.5, 383],
 ['african_american', -79.0, -90.1, 11.2, 458],
 ['american_indian', -58.0, -50.9, -7.1, 15],
 ['all_students', -40.5, -44.4, 3.9, 5071],
 ['asian', 15.4, 16.0, -0.6, 702],
 ['english_learners', -62.0, -64.7, 2.7, 2256],
 ['english_learners_only', -101.5, -116.3, 14.8, 1262],
 ['english_only', -42.3, -46.6, 4.4, 2045],
 ['filipino', 7.0, 3.6, 3.4, 374],
 ['foster_youth', nan, -102.8, nan, 10],
 ['hispanic', -55.9, -59.7, 3.8, 2895],
 ['homeless_youth', -69.8, -87.4, 17.6, 94],
 ['multiple_races', -20.7, -33.7, 13.1, 121],
 ['pacific_islander', -73.6, -56.2, -17.4, 82],
 ['rfep_only', -11.8, -22.1, 10.3, 994],
 ['ses_disad', -52.8, -57.2, 4.4, 3613],
 ['disabilities', -125.3, -132.6, 7.3, 556],
 ['white', -28.7, -23.0, -5.7, 403],
 ['african_american', -13.5, -21.7, 8.1, 186],
 ['american_indian', 89.2, nan, nan, 15],
 ['all_students', 64.4, 58.5, 5.8, 5797],
 ['asian', 92.2, 89.4, 2.8, 2906],
 ['english_learners', 29.4, 25.8, 3.6, 862],
 ['english_learners_only', -60.1, -61.1, 1.0, 236],
 ['english_only', 58.8, 52.3, 6.6, 3647],
 ['filipino', 66.0, 66.1, -0.1, 251],
 ['hispanic', 5.4, -5.2, 10.5, 650],
 ['homeless_youth', nan, nan, nan, 6],
 ['multiple_races', 53.4, 54.6, -1.2, 527],
 ['pacific_islander', 42.3, nan, nan, 16],
 ['rfep_only', 63.1, 67.1, -3.9, 626],
 ['ses_disad', -3.3, -24.6, 21.4, 567],
 ['disabilities', -38.7, -49.5, 10.8, 412],
 ['white', 46.1, 39.9, 6.2, 1246],
 ['african_american', 10.4, 26.2, -15.8, 109],
 ['american_indian', nan, nan, nan, 7],
 ['all_students', 72.1, 74.1, -1.9, 7750],
 ['asian', 102.6, 103.7, -1.1, 3141],
 ['english_learners', 31.2, 28.3, 2.9, 1051],
 ['english_learners_only', -28.6, -40.1, 11.5, 469],
 ['english_only', 65.8, 68.2, -2.4, 5003],
 ['filipino', 71.2, 69.3, 1.9, 138],
 ['foster_youth', nan, nan, nan, 4],
 ['hispanic', 12.9, 19.2, -6.2, 780],
 ['homeless_youth', -26.5, -33.7, 7.2, 13],
 ['multiple_races', 66.3, 62.6, 3.7, 471],
 ['pacific_islander', 51.7, 51.2, 0.4, 13],
 ['rfep_only', 79.4, 67.6, 11.8, 582],
 ['ses_disad', 2.1, 0.4, 1.7, 716],
 ['disabilities', -32.5, -32.4, -0.1, 734],
 ['white', 59.6, 62.8, -3.2, 3091],
 ['african_american', nan, nan, nan, 1],
 ['all_students', 63.3, 49.8, 13.4, 183],
 ['asian', 81.9, 89.0, -7.1, 34],
 ['english_learners', 60.1, 68.9, -8.8, 18],
 ['english_learners_only', nan, nan, nan, 2],
 ['english_only', 59.5, 46.5, 13.0, 147],
 ['filipino', nan, nan, nan, 2],
 ['hispanic', 29.6, 9.8, 19.8, 35],
 ['multiple_races', 84.5, 77.3, 7.2, 29],
 ['pacific_islander', nan, nan, nan, 1],
 ['rfep_only', 76.4, 79.0, -2.6, 16],
 ['ses_disad', 59.4, nan, nan, 17],
 ['disabilities', 9.4, 19.1, -9.7, 11],
 ['white', 63.3, 44.3, 19.0, 81],
 ['american_indian', -39.8, -62.8, 23.0, 23],
 ['all_students', 2.8, -11.9, 14.8, 52],
 ['english_only', 2.8, -11.9, 14.8, 52],
 ['hispanic', nan, nan, nan, 2],
 ['homeless_youth', nan, nan, nan, 6],
 ['multiple_races', nan, nan, nan, 2],
 ['ses_disad', -33.8, -52.5, 18.7, 32],
 ['disabilities', -79.6, -73.1, -6.5, 11],
 ['white', 40.1, 9.0, 31.1, 25],
 ['african_american', -27.7, -51.3, 23.5, 11],
 ['american_indian', -52.3, -59.2, 7.0, 62],
 ['all_students', -20.3, -18.2, -2.1, 1890],
 ['asian', 42.1, 16.4, 25.8, 15],
 ['english_learners', -48.9, -53.0, 4.1, 102],
 ['english_learners_only', -69.4, -82.9, 13.5, 44],
 ['english_only', -18.4, -16.3, -2.0, 1744],
 ['filipino', nan, 19.1, nan, 10],
 ['foster_youth', -37.3, -38.3, 1.0, 19],
 ['hispanic', -41.3, -39.5, -1.9, 399],
 ['homeless_youth', -47.5, -48.8, 1.3, 37],
 ['multiple_races', -17.9, -18.0, 0.1, 113],
 ['pacific_islander', nan, nan, nan, 2],
 ['rfep_only', -33.3, -44.1, 10.7, 58],
 ['ses_disad', -44.2, -47.6, 3.4, 934],
 ['disabilities', -97.9, -109.1, 11.3, 369],
 ['white', -13.1, -10.8, -2.3, 1272],
 ['all_students', -48.8, -46.7, -2.1, 39],
 ['asian', nan, nan, nan, 1],
 ['english_learners', nan, nan, nan, 3],
 ['english_learners_only', nan, nan, nan, 2],
 ['english_only', -42.0, -40.5, -1.6, 36],
 ['foster_youth', nan, nan, nan, 1],
 ['hispanic', nan, nan, nan, 6],
 ['multiple_races', nan, nan, nan, 1],
 ['rfep_only', nan, nan, nan, 1],
 ['ses_disad', -59.7, -60.7, 1.0, 31],
 ['disabilities', nan, -82.2, nan, 10],
 ['white', -28.4, -31.6, 3.2, 31],
 ['african_american', nan, nan, nan, 7],
 ['american_indian', nan, nan, nan, 3],
 ['all_students', -49.3, -57.0, 7.7, 279],
 ['asian', nan, nan, nan, 6],
 ['english_learners', -87.8, -103.1, 15.3, 55],
 ['english_learners_only', -137.1, -132.2, -4.9, 28],
 ['english_only', -41.9, -47.5, 5.6, 208],
 ['foster_youth', nan, nan, nan, 6],
 ['hispanic', -65.5, -81.3, 15.8, 104],
 ['homeless_youth', -94.0, nan, nan, 15],
 ['multiple_races', nan, nan, nan, 1],
 ['pacific_islander', nan, nan, nan, 3],
 ['rfep_only', -36.6, -46.7, 10.1, 27],
 ['ses_disad', -64.8, -73.4, 8.5, 198],
 ['disabilities', -128.0, -159.8, 31.8, 40],
 ['white', -33.3, -34.6, 1.3, 155],
 ['african_american', -31.6, -28.7, -2.9, 141],
 ['american_indian', -40.9, -26.4, -14.5, 83],
 ['all_students', 0.8, -2.3, 3.0, 5814],
 ['asian', 3.4, -9.3, 12.8, 324],
 ['english_learners', -54.7, -58.0, 3.3, 764],
 ['english_learners_only', -99.8, -89.8, -10.0, 295],
 ['english_only', 7.7, 5.3, 2.5, 4866],
 ['filipino', 30.5, 40.0, -9.5, 48],
 ['foster_youth', -81.4, -86.1, 4.7, 49],
 ['hispanic', -31.6, -35.1, 3.5, 1541],
 ['homeless_youth', -71.4, -61.8, -9.6, 164],
 ['multiple_races', -11.8, -18.1, 6.4, 248],
 ['pacific_islander', 26.2, 25.6, 0.6, 28],
 ['rfep_only', -26.4, -33.8, 7.4, 469],
 ['ses_disad', -36.1, -39.8, 3.7, 2841],
 ['disabilities', -85.5, -81.8, -3.8, 803],
 ['white', 17.9, 14.7, 3.2, 3360],
 ['african_american', nan, nan, nan, 3],
 ['american_indian', nan, nan, nan, 3],
 ['all_students', 8.4, 4.9, 3.5, 507],
 ['asian', nan, nan, nan, 1],
 ['english_learners', -41.1, -51.8, 10.8, 65],
 ['english_learners_only', -70.2, -70.3, 0.1, 34],
 ['english_only', 15.3, 13.0, 2.3, 434],
 ['filipino', nan, nan, nan, 1],
 ['foster_youth', nan, nan, nan, 1],
 ['hispanic', -36.6, -47.4, 10.8, 111],
 ['homeless_youth', -57.5, nan, nan, 11],
 ['multiple_races', 46.0, 19.6, 26.4, 28],
 ['rfep_only', -9.1, 2.5, -11.6, 31],
 ['ses_disad', -30.3, -32.3, 2.0, 203],
 ['disabilities', -90.3, -85.6, -4.8, 60],
 ['white', 18.9, 18.7, 0.2, 360],
 ['american_indian', nan, nan, nan, 3],
 ['all_students', nan, nan, nan, 5],
 ['english_only', nan, nan, nan, 5],
 ['multiple_races', nan, nan, nan, 1],
 ['ses_disad', nan, nan, nan, 3],
 ['disabilities', nan, nan, nan, 3],
 ['white', nan, nan, nan, 1],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', -65.7, -73.1, 7.4, 37],
 ['english_learners', nan, nan, nan, 3],
 ['english_learners_only', nan, nan, nan, 1],
 ['english_only', -64.7, -74.0, 9.3, 34],
 ['hispanic', nan, nan, nan, 6],
 ['multiple_races', nan, nan, nan, 4],
 ['rfep_only', nan, nan, nan, 2],
 ['ses_disad', -64.3, -79.8, 15.5, 31],
 ['disabilities', nan, -156.3, nan, 10],
 ['white', -62.9, -85.4, 22.5, 26],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', 14.5, -0.5, 15.0, 181],
 ['asian', 40.0, 19.6, 20.4, 16],
 ['english_learners', -16.6, -49.2, 32.6, 35],
 ['english_learners_only', -30.2, -70.4, 40.2, 28],
 ['english_only', 20.7, 13.1, 7.7, 135],
 ['hispanic', -16.5, -40.1, 23.7, 68],
 ['multiple_races', nan, nan, nan, 8],
 ['rfep_only', nan, nan, nan, 7],
 ['ses_disad', -11.4, -24.1, 12.7, 77],
 ['disabilities', -130.8, nan, nan, 11],
 ['white', 36.4, 30.9, 5.5, 88],
 ['african_american', -78.2, -101.0, 22.9, 44],
 ['american_indian', -56.0, -74.4, 18.5, 53],
 ['all_students', -56.2, -59.7, 3.5, 1367],
 ['asian', -37.5, -49.3, 11.8, 130],
 ['english_learners', -60.7, -59.7, -1.0, 177],
 ['english_learners_only', -104.8, -102.4, -2.3, 74],
 ['english_only', -56.8, -60.7, 3.9, 1174],
 ['filipino', nan, nan, nan, 2],
 ['foster_youth', -107.7, -122.2, 14.5, 17],
 ['hispanic', -54.6, -55.3, 0.7, 243],
 ['homeless_youth', -68.5, -63.2, -5.4, 48],
 ['multiple_races', -62.3, -72.9, 10.6, 179],
 ['pacific_islander', nan, nan, nan, 8],
 ['rfep_only', -29.1, -31.8, 2.7, 103],
 ['ses_disad', -65.1, -68.5, 3.4, 1106],
 ['disabilities', -124.6, -129.7, 5.2, 253],
 ['white', -58.0, -56.1, -1.9, 708],
 ['african_american', -43.4, -43.8, 0.4, 11],
 ['american_indian', -42.8, 21.2, -64.0, 43],
 ['all_students', -7.2, 5.2, -12.4, 436],
 ['asian', 34.8, 15.9, 18.9, 77],
 ['english_learners', -57.3, -57.2, -0.1, 43],
 ['english_learners_only', nan, -67.9, nan, 10],
 ['english_only', -9.7, 8.3, -18.1, 333],
 ['filipino', nan, nan, nan, 2],
 ['foster_youth', nan, nan, nan, 2],
 ['hispanic', -42.0, -7.4, -34.6, 87],
 ['homeless_youth', -37.9, -32.3, -5.6, 28],
 ['multiple_races', nan, 0.9, nan, 4],
 ['pacific_islander', nan, nan, nan, 3],
 ['rfep_only', -40.2, -50.8, 10.6, 33],
 ['ses_disad', -15.2, -7.6, -7.6, 345],
 ['disabilities', -111.2, -93.8, -17.4, 37],
 ['white', -3.4, 10.3, -13.7, 209],
 ['african_american', nan, nan, nan, 6],
 ['american_indian', -38.9, -55.5, 16.6, 47],
 ['all_students', -41.9, -49.6, 7.7, 777],
 ['asian', -13.3, -27.1, 13.8, 33],
 ['english_learners', -52.2, -67.3, 15.1, 152],
 ['english_learners_only', -91.9, -119.5, 27.6, 77],
 ['english_only', -40.7, -47.0, 6.3, 602],
 ['filipino', nan, nan, nan, 1],
 ['foster_youth', -78.0, -54.9, -23.1, 14],
 ['hispanic', -51.4, -59.4, 8.0, 294],
 ['homeless_youth', -47.1, -63.4, 16.3, 42],
 ['multiple_races', -29.3, -43.4, 14.1, 69],
 ['rfep_only', -11.5, -13.7, 2.3, 75],
 ['ses_disad', -48.8, -58.4, 9.5, 632],
 ['disabilities', -120.1, -122.0, 1.9, 98],
 ['white', -38.8, -43.3, 4.5, 325],
 ['african_american', nan, nan, nan, 4],
 ['american_indian', -82.4, -90.7, 8.3, 26],
 ['all_students', -26.3, -30.6, 4.3, 1504],
 ['asian', -40.1, -25.7, -14.4, 12],
 ['english_learners', -77.1, -56.7, -20.4, 47],
 ['english_learners_only', -121.1, -78.5, -42.6, 25],
 ['english_only', -24.7, -30.0, 5.2, 1441],
 ['filipino', nan, nan, nan, 7],
 ['foster_youth', -39.1, -83.7, 44.6, 15],
 ['hispanic', -41.4, -39.0, -2.4, 218],
 ['homeless_youth', -46.1, -44.4, -1.7, 46],
 ['multiple_races', -30.9, -45.5, 14.6, 114],
 ['pacific_islander', nan, nan, nan, 1],
 ['rfep_only', -27.1, -19.2, -8.0, 22],
 ['ses_disad', -44.7, -46.4, 1.6, 936],
 ['disabilities', -115.1, -112.1, -3.0, 197],
 ['white', -21.1, -25.8, 4.7, 1122],
 ['african_american', -62.7, -93.6, 30.9, 20],
 ['american_indian', -74.0, -65.1, -8.9, 30],
 ['all_students', -40.3, -54.9, 14.6, 882],
 ['asian', -24.6, -41.3, 16.7, 250],

In [27]:
#creating district-level ela performance variable (dictionary)
dfe = ela
dfe = pandas.concat([dfe.pop(x) for x in ['District Code',
                                          'districtname',                                          
                                          'studentgroup', 
                                          'currstatus', 
                                          'priorstatus', 
                                          'change']],
                    1)
# slice out columns

## Math achievement indicator data
find the codebook [here](https://www.cde.ca.gov/ta/ac/cm/math18.asp)

In [28]:
math = pandas.read_csv('lcff_data/mathdownload2018.csv')
math.shape

C:\Users\fiend\Anaconda2\envs\capstone\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(148705, 32)

In [29]:
math['studentgroup'].astype(str)
math = math.replace(replacements)
# replace codes
p = math
p = p.loc[p['rtype'] == 'X']
# select by no-type (state)
q = pandas.concat([p.pop(x) for x in ['studentgroup', 
                                      'currstatus', 
                                      'priorstatus', 
                                      'change',
                                      'currdenom']],
                  1)
# slice out columns
math_state = q.sort_values(by='currstatus', ascending=False)

## Aggregation

In [30]:
# fixing cds codes to match with other datasets
math['cds'].astype(str)
# changing to string
math = math[math.coe_flag !='Y']
# removing county offices of education
math = math.loc[math['rtype'] == 'D']
# select district level performance
math['cds'] = math['cds'].apply(lambda x: '{0:0>14}'.format(x))
# adding leading zero to 13 digit int
math['District Code'] = [x[2:7] for x in math['cds']]
# adding district only code

In [31]:
math.head()

,cds,rtype,schoolname,districtname,countyname,charter_flag,coe_flag,dass_flag,studentgroup,currdenom,currdenom_swd,currstatus,priordenom,priordenom_swd,priorstatus,change,statuslevel,changelevel,color,box,hscutpoints,curradjustment,prioradjustment,pairshare_method,caa_denom,caa_level1_num,caa_level1_pct,caa_level2_num,caa_level2_pct,caa_level3_num,caa_level3_pct,ReportingYear,District Code
163,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,african_american,297,NaN,-83.9,332.0,NaN,-82.8,-1.1,2,3,2,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
164,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,american_indian,13,NaN,-51.8,14.0,NaN,-50.0,-1.8,2,3,0,0,NaN,NaN,-0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
165,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,all_students,4543,NaN,14.3,4547.0,NaN,10.8,3.4,4,4,4,90,NaN,NaN,NaN,NaN,38.0,30.0,78.9,6.0,15.8,2.0,5.3,2018,61119
166,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,asian,1287,NaN,43.6,1336.0,NaN,44.8,-1.2,5,3,5,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
167,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,english_learners,1081,NaN,-13.7,1177.0,NaN,-12.9,-0.9,3,3,3,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119

In [32]:
#creating district-level math performance variable (dictionary)
dfm = math
dfm = pandas.concat([dfm.pop(x) for x in ['District Code',
                                          'districtname',                                          
                                          'studentgroup', 
                                          'currstatus', 
                                          'priorstatus', 
                                          'change']],
                    1)
# slice out columns

In [33]:
dfm.shape

(13603, 6)

In [34]:
dfm

,District Code,districtname,studentgroup,currstatus,priorstatus,change
163,61119,Alameda Unified,african_american,-83.9,-82.8,-1.1
164,61119,Alameda Unified,american_indian,-51.8,-50.0,-1.8
165,61119,Alameda Unified,all_students,14.3,10.8,3.4
166,61119,Alameda Unified,asian,43.6,44.8,-1.2
167,61119,Alameda Unified,english_learners,-13.7,-12.9,-0.9
...,...,...,...,...,...,...
148683,72769,Wheatland Union High,pacific_islander,NaN,NaN,NaN
148684,72769,Wheatland Union High,rfep_only,NaN,NaN,NaN
148685,72769,Wheatland Union High,ses_disad,-90.0,-74.0,-16.0
148686,72769,Wheatland Union High,disabilities,-226.6,NaN,NaN
148687,72769,Wheatland Union High,white,-42.3,-57.0,14.7

# LCFF funding data

[FAQ here](https://www.cde.ca.gov/fg/aa/lc/lcfffaq.asp#CALPADS)

In [35]:
lcff = pandas.read_csv('lcff_data/lcffsnapshot18an.csv')
lcff.shape

(2243, 26)

In [36]:
lcff.columns
# leading AND trailing spaces! inconsistently!!

Index([' County Code ', 'District Code', 'School Code',
       'Local Educational Agency ', 'Charter Number',
       ' TK/K-3 ADA\nTarget, B-5/B-1 ', ' 4 - 6 ADA\nTarget, B-6/B-2 ',
       ' 7 - 8 ADA\nTarget, B-7/B-3 ', ' 9 - 12 ADA\nTarget, B-8/B-4 ',
       'Unduplicated Pupil Percentage\nTarget, D-1',
       ' Base Grant Funding\nTarget, C-5 ',
       ' Supplemental Grant Funding\nTarget, D-7 ',
       ' Concentration Grant Funding\nTarget, E-8 ',
       ' Necessary Small Schools Allowance\nTarget, F-1 ',
       ' Add-On (Based on 2012-13 Targeted Instructional Improvement Block Grant)\nTarget, F-2 ',
       ' Add-On (Based on 2012-13 Home-to-School Transportation)\nTarget, F-3 ',
       ' Add-On (Based on 2012-13 Small School District Bus Replacement Program)\nTarget, F-4 ',
       ' Total LCFF Target Entitlement\nTarget, G-1/F-1 ',
       ' Total LCFF Floor Entitlement\nTransition, B-13 ',
       ' Current Year Gap Funding (100%)\nTransition, C-3 ',
       ' Economic Recovery Target\nTransition, D-1 ',
       ' Miscellaneous Adjustments\nTransition, E-1 ',
       ' Total Local Revenue or In-Lieu of Property Taxes\nTransition, F-2/F-7 ',
       ' Education Protection Account Entitlement\nTransition, F-5/F-9 ',
       ' Net State Aid\nTransition, F-6/F-10 ',
       ' Additional SA for MSA Guarantee\nTransition, H-1/H-2 '],
      dtype='object')

In [37]:
lcff.columns = lcff.columns.str.strip()
# strip leading/trailing spaces

In [38]:
lcff_state_totals = lcff.tail(1)
lcff.drop(lcff.tail(1).index,inplace=True)
# extracting state totals, removing from df

In [39]:
# Slicing by district level cds code
lcff['County Code'] = lcff['County Code'].astype(str)
lcff['District Code'] = lcff['District Code'].astype(int)
lcff['District Code'] = lcff['District Code'].astype(str)
lcff['School Code'] = lcff['School Code'].astype(int)
lcff['School Code'] = lcff['School Code'].astype(str)
# Changing to strings
lcff['School Code'] = lcff['School Code'].apply(lambda x: '{0:0>7}'.format(x))
# Front fill school codes to == 7
lcff = lcff.loc[lcff['School Code'] == '0000000']
# select districts, district entries do not have a school level cds code
lcff['cds'] = lcff['County Code'] + lcff['District Code'] + lcff['School Code']
# Combining into cds code
col_name='cds'
first_col = lcff.pop(col_name)
lcff.insert(0, col_name, first_col)
# Moving to front 
lcff.drop('County Code', axis=1, inplace=True)
# lcff.drop('District Code', axis=1, inplace=True)
lcff.drop('School Code', axis=1, inplace=True)
len(lcff)

944

In [40]:
# renaming important columns
lcff = lcff.rename(columns={'Charter Number': 'charter_number',
                     'Unduplicated Pupil Percentage\nTarget, D-1': 'unduplicated_pupil_percentage',
                     'Base Grant Funding\nTarget, C-5': 'base_grant',
                     'Supplemental Grant Funding\nTarget, D-7': 'supplemental_grant',
                     'Concentration Grant Funding\nTarget, E-8': 'concentration_grant',
                     'Total LCFF Target Entitlement\nTarget, G-1/F-1': 'total_grants',
                     'Unduplicated Pupil Percentage\nTarget, D-1': 'unduplicated_pupil_count',
                     'Necessary Small Schools Allowance\nTarget, F-1': 'nec_small_schools'
                           })

In [41]:
lcff.head()
# cds codes are now concurrent with documentation and comparable to acheivement data

,cds,District Code,Local Educational Agency,charter_number,"TK/K-3 ADA\nTarget, B-5/B-1","4 - 6 ADA\nTarget, B-6/B-2","7 - 8 ADA\nTarget, B-7/B-3","9 - 12 ADA\nTarget, B-8/B-4",unduplicated_pupil_count,base_grant,supplemental_grant,concentration_grant,nec_small_schools,"Add-On (Based on 2012-13 Targeted Instructional Improvement Block Grant)\nTarget, F-2","Add-On (Based on 2012-13 Home-to-School Transportation)\nTarget, F-3","Add-On (Based on 2012-13 Small School District Bus Replacement Program)\nTarget, F-4",total_grants,"Total LCFF Floor Entitlement\nTransition, B-13","Current Year Gap Funding (100%)\nTransition, C-3","Economic Recovery Target\nTransition, D-1","Miscellaneous Adjustments\nTransition, E-1","Total Local Revenue or In-Lieu of Property Taxes\nTransition, F-2/F-7","Education Protection Account Entitlement\nTransition, F-5/F-9","Net State Aid\nTransition, F-6/F-10","Additional SA for MSA Guarantee\nTransition, H-1/H-2"
10,01611190000000,61119,Alameda Unified,NaN,"2,870.43","1,917.91","1,219.66","3,050.17",0.3486,"75,938,983","5,294,466",-,-,"665,778","258,889",-,"82,158,116","77,176,229","4,981,887",-,-,"29,277,891","14,772,333","38,107,892",-
16,01611270000000,61127,Albany City Unified,NaN,"1,060.09",806.37,554.25,"1,131.64",0.2833,"29,644,972","1,679,684",-,-,-,"27,884",-,"31,352,540","29,460,891","1,891,649",-,-,"11,005,115","5,777,202","14,570,223",-
17,01611430000000,61143,Berkeley Unified,NaN,"2,828.54","2,101.08","1,397.55","3,070.55",0.3519,"78,556,532","5,528,808",-,-,"4,293,233","991,048",-,"89,369,621","84,726,528","4,643,093","820,253",-,"43,425,650","8,875,387","37,888,837",-
19,01611500000000,61150,Castro Valley Unified,NaN,"2,617.44","2,032.50","1,400.40","2,918.48",0.2904,"74,911,585","4,350,864",-,-,-,"292,158",-,"79,554,607","74,489,641","5,064,966",-,-,"26,572,525","14,660,230","38,321,852",-
20,01611680000000,61168,Emery Unified,NaN,237.65,151.54,104.99,191.97,0.7953,"5,702,229","906,997","699,378",-,-,"18,271",-,"7,326,875","6,698,947","627,928","108,723",-,"5,582,328","137,230","1,716,040",-

In [42]:
#is this done?
dflcff = lcff[['District Code', 'Local Educational Agency', 'unduplicated_pupil_count', 'base_grant', 'supplemental_grant', 'concentration_grant', 'total_grants', 'cds' ]].copy()
dflcff.head()

,District Code,Local Educational Agency,unduplicated_pupil_count,base_grant,supplemental_grant,concentration_grant,total_grants,cds
10,61119,Alameda Unified,0.3486,"75,938,983","5,294,466",-,"82,158,116",01611190000000
16,61127,Albany City Unified,0.2833,"29,644,972","1,679,684",-,"31,352,540",01611270000000
17,61143,Berkeley Unified,0.3519,"78,556,532","5,528,808",-,"89,369,621",01611430000000
19,61150,Castro Valley Unified,0.2904,"74,911,585","4,350,864",-,"79,554,607",01611500000000
20,61168,Emery Unified,0.7953,"5,702,229","906,997","699,378","7,326,875",01611680000000

# Free and reduced meal plan data
Used by policy makers as a stand-in for a  segregation indicator. 

Find the codebook [here](https://www.cde.ca.gov/ds/sd/sd/fsspfrpm.asp).

In [113]:
frpm = pandas.read_csv('lcff_data/frpm1819.csv', encoding = "ISO-8859-1", skiprows=1)
frpm.shape
# aggregate figures by district
# jump down to 'mealagg' cell

(10520, 28)

In [114]:
# renaming important columns
frpm = frpm.rename(columns={'Percent (%) \nEligible FRPM \n(K-12)': 'percent_eligible_k12_frpm', 
                            'Percent (%) \nEligible Free \n(K-12)': 'percent_eligible_k12_free', 
                            'Percent (%) \nEligible FRPM \n(Ages 5-17)' : 'percent_eligible_by_age',
                            'Enrollment \n(Ages 5-17)': 'enrollment_by_age',
                            'FRPM Count \n(Ages 5-17)': 'frpm_count_by_age',
                            'Free Meal \nCount \n(Ages 5-17)': 'free_count_by_age',
                            'District Type': 'district_type',
                            'District Name': 'district_name',
                            'County Name': 'county_name',
                            
                           })

In [115]:
frpm.head()

,Academic Year,County Code,District Code,School Code,county_name,district_name,School Name,district_type,School Type,Educational \nOption Type,NSLP \nProvision \nStatus,Charter \nSchool \n(Y/N),Charter \nSchool \nNumber,Charter \nFunding \nType,IRC,Low Grade,High Grade,Enrollment \n(K-12),Free Meal \nCount \n(K-12),percent_eligible_k12_free,FRPM Count \n(K-12),percent_eligible_k12_frpm,enrollment_by_age,free_count_by_age,Percent (%) \nEligible Free \n(Ages 5-17),frpm_count_by_age,percent_eligible_by_age,CALPADS Fall 1 \nCertification Status
0,2018-2019,1,10017,112607,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,County Office of Education (COE),High Schools (Public),Traditional,NaN,Yes,0811,Directly funded,Y,9,12,385,262,68.1%,306,79.5%,370,249,67.3%,291,78.6%,Y
1,2018-2019,1,10017,123968,Alameda,Alameda County Office of Education,Community School for Creative Education,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1284,Directly funded,Y,K,8,241,118,49.0%,120,49.8%,224,113,50.4%,115,51.3%,Y
2,2018-2019,1,10017,124172,Alameda,Alameda County Office of Education,Yu Ming Charter,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1296,Directly funded,Y,K,8,445,58,13.0%,64,14.4%,445,58,13.0%,64,14.4%,Y
3,2018-2019,1,10017,125567,Alameda,Alameda County Office of Education,Urban Montessori Charter,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1383,Directly funded,Y,K,8,432,113,26.2%,131,30.3%,418,111,26.6%,129,30.9%,Y
4,2018-2019,1,10017,130401,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,County Office of Education (COE),Juvenile Court Schools,Juvenile Court School,NaN,No,NaN,NaN,N,K,12,53,53,100.0%,53,100.0%,50,50,100.0%,50,100.0%,Y

In [116]:
#creating CDS code
frpm['County Code'] = frpm['County Code'].astype(str)
frpm['County Code'] = frpm['County Code'].apply(lambda x: '{0:0>2}'.format(x))
frpm['District Code'] = frpm['District Code'].astype(str)
frpm['School Code'] = frpm['School Code'].astype(str)
frpm['School Code'] = frpm['School Code'].apply(lambda x: '{0:0>7}'.format(x))
# converting to strings, adding leading zeroes 
frpm['cds'] = frpm['County Code'] + frpm['District Code'] + frpm['School Code']
# combining codes

frpm = frpm[frpm.district_type !='County Office of Education (COE)']
# removing county offices of education

col_name1='cds'
first_col1 = frpm.pop(col_name1)
frpm.insert(0, col_name1, first_col1)
# Moving to front

frpm.drop('County Code', axis=1, inplace=True)
# frpm.drop('District Code', axis=1, inplace=True)
frpm.drop('School Code', axis=1, inplace=True)
# dropping split codes

In [117]:
frpm.columns

Index(['cds', 'Academic Year', 'District Code', 'county_name', 'district_name',
       'School Name', 'district_type', 'School Type',
       'Educational \nOption Type', 'NSLP \nProvision \nStatus',
       'Charter \nSchool \n(Y/N)', 'Charter \nSchool \nNumber',
       'Charter \nFunding \nType', 'IRC', 'Low Grade', 'High Grade',
       'Enrollment \n(K-12)', 'Free Meal \nCount \n(K-12)',
       'percent_eligible_k12_free', 'FRPM Count \n(K-12)',
       'percent_eligible_k12_frpm', 'enrollment_by_age', 'free_count_by_age',
       'Percent (%) \nEligible Free \n(Ages 5-17)', 'frpm_count_by_age',
       'percent_eligible_by_age', 'CALPADS Fall 1 \nCertification Status'],
      dtype='object')

In [118]:
# aggregate all schools into district level

frpm['enrollment_by_age'] = frpm['enrollment_by_age'].str.replace(',', '').astype(int)
frpm['frpm_count_by_age'] = frpm['frpm_count_by_age'].str.replace(',', '').astype(int)
frpm['free_count_by_age'] = frpm['free_count_by_age'].str.replace(',', '').astype(int)
# striping commas, converting to int

In [119]:
frpm.columns

Index(['cds', 'Academic Year', 'District Code', 'county_name', 'district_name',
       'School Name', 'district_type', 'School Type',
       'Educational \nOption Type', 'NSLP \nProvision \nStatus',
       'Charter \nSchool \n(Y/N)', 'Charter \nSchool \nNumber',
       'Charter \nFunding \nType', 'IRC', 'Low Grade', 'High Grade',
       'Enrollment \n(K-12)', 'Free Meal \nCount \n(K-12)',
       'percent_eligible_k12_free', 'FRPM Count \n(K-12)',
       'percent_eligible_k12_frpm', 'enrollment_by_age', 'free_count_by_age',
       'Percent (%) \nEligible Free \n(Ages 5-17)', 'frpm_count_by_age',
       'percent_eligible_by_age', 'CALPADS Fall 1 \nCertification Status'],
      dtype='object')

In [120]:
names = frpm['district_name'].unique()
len(names)

966

In [174]:
w1 = dict(zip(frpm.district_name,frpm.county_name))
w1

{'California School for the Blind (State Special Schl)': 'Alameda',
 'California School for the Deaf-Fremont (State Special Schl)': 'Alameda',
 'Alameda Unified': 'Alameda',
 'Albany City Unified': 'Alameda',
 'Berkeley Unified': 'Alameda',
 'Castro Valley Unified': 'Alameda',
 'Emery Unified': 'Alameda',
 'Fremont Unified': 'Alameda',
 'Hayward Unified': 'Alameda',
 'Livermore Valley Joint Unified': 'Alameda',
 'Mountain House Elementary': 'Alameda',
 'Newark Unified': 'Alameda',
 'New Haven Unified': 'Alameda',
 'Oakland Unified': 'Alameda',
 'Piedmont City Unified': 'Alameda',
 'San Leandro Unified': 'Alameda',
 'San Lorenzo Unified': 'Alameda',
 'Dublin Unified': 'Alameda',
 'Pleasanton Unified': 'Alameda',
 'Sunol Glen Unified': 'Alameda',
 'SBE - Latitude 37.8 High': 'Alameda',
 'Alpine County Unified': 'Alpine',
 'Amador County Unified': 'Amador',
 'Bangor Union Elementary': 'Butte',
 'Biggs Unified': 'Butte',
 'Chico Unified': 'Butte',
 'Durham Unified': 'Butte',
 'Feather Falls Union Elementary': 'Butte',
 'Golden Feather Union Elementary': 'Butte',
 'Manzanita Elementary': 'Butte',
 'Oroville City Elementary': 'Butte',
 'Oroville Union High': 'Butte',
 'Palermo Union Elementary': 'Butte',
 'Paradise Unified': 'Butte',
 'Thermalito Union Elementary': 'Butte',
 'Pioneer Union Elementary': 'Kings',
 'Gridley Unified': 'Butte',
 'Bret Harte Union High': 'Calaveras',
 'Calaveras Unified': 'Calaveras',
 'Mark Twain Union Elementary': 'Calaveras',
 'Vallecito Union': 'Calaveras',
 'Colusa Unified': 'Colusa',
 'Maxwell Unified': 'Colusa',
 'Pierce Joint Unified': 'Colusa',
 'Williams Unified': 'Colusa',
 'Acalanes Union High': 'Contra Costa',
 'Antioch Unified': 'Contra Costa',
 'Brentwood Union Elementary': 'Contra Costa',
 'Byron Union Elementary': 'Contra Costa',
 'Canyon Elementary': 'Contra Costa',
 'John Swett Unified': 'Contra Costa',
 'Knightsen Elementary': 'Contra Costa',
 'Lafayette Elementary': 'Contra Costa',
 'Liberty Union High': 'Contra Costa',
 'Martinez Unified': 'Contra Costa',
 'Moraga Elementary': 'Contra Costa',
 'Mt. Diablo Unified': 'Contra Costa',
 'Oakley Union Elementary': 'Contra Costa',
 'Orinda Union Elementary': 'Contra Costa',
 'Pittsburg Unified': 'Contra Costa',
 'West Contra Costa Unified': 'Contra Costa',
 'San Ramon Valley Unified': 'Contra Costa',
 'Walnut Creek Elementary': 'Contra Costa',
 'SBE - Rocketship Futuro Academy': 'Contra Costa',
 'Del Norte County Unified': 'Del Norte',
 'Buckeye Union Elementary': 'El Dorado',
 'Camino Union Elementary': 'El Dorado',
 'El Dorado Union High': 'El Dorado',
 'Gold Oak Union Elementary': 'El Dorado',
 'Gold Trail Union Elementary': 'El Dorado',
 'Indian Diggings Elementary': 'El Dorado',
 'Lake Tahoe Unified': 'El Dorado',
 'Latrobe': 'El Dorado',
 'Mother Lode Union Elementary': 'El Dorado',
 'Placerville Union Elementary': 'El Dorado',
 'Pollock Pines Elementary': 'El Dorado',
 'Rescue Union Elementary': 'El Dorado',
 'Silver Fork Elementary': 'El Dorado',
 'Black Oak Mine Unified': 'El Dorado',
 'Alvina Elementary': 'Fresno',
 'Big Creek Elementary': 'Fresno',
 'Burrel Union Elementary': 'Fresno',
 'Clay Joint Elementary': 'Fresno',
 'Clovis Unified': 'Fresno',
 'Coalinga-Huron Unified': 'Fresno',
 'Fowler Unified': 'Fresno',
 'Fresno Unified': 'Fresno',
 'Kingsburg Elementary Charter': 'Fresno',
 'Kingsburg Joint Union High': 'Fresno',
 'Kings Canyon Joint Unified': 'Fresno',
 'Laton Joint Unified': 'Fresno',
 'Monroe Elementary': 'Fresno',
 'Orange Center': 'Fresno',
 'Pacific Union Elementary': 'Humboldt',
 'Parlier Unified': 'Fresno',
 'Pine Ridge Elementary': 'Fresno',
 'Raisin City Elementary': 'Fresno',
 'Sanger Unified': 'Fresno',
 'Selma Unified': 'Fresno',
 'Washington Colony Elementary': 'Fresno',
 'West Park Elementary': 'Fresno',
 'Westside Elementary': 'Fresno',
 'Firebaugh-Las Deltas Unified': 'Fresno',
 'Central Unified': 'Fresno',
 'Kerman Unified': 'Fresno',
 'Mendota Unified': 'Fresno',
 'Golden Plains Unified': 'Fresno',
 'Sierra Unified': 'Fresno',
 'Riverdale Joint Unified': 'Fresno',
 'Caruthers Unified': 'Fresno',
 'Washington Unified': 'Yolo',
 'Capay Joint Union Elementary': 'Glenn',
 'Lake Elementary': 'Glenn',
 'Plaza Elementary': 'Glenn',
 'Princeton Joint Unified': 'Glenn',
 'Stony Creek Joint Unified': 'Glenn',
 'Willows Unified': 'Glenn',
 'Orland Joint Unified': 'Glenn',
 'Hamilton Unified': 'Glenn',
 'Arcata Elementary': 'Humboldt',
 'Northern Humboldt Union High': 'Humboldt',
 'Big Lagoon Union Elementary': 'Humboldt',
 'Blue Lake Union Elementary': 'Humboldt',
 'Bridgeville Elementary': 'Humboldt',
 'Cuddeback Union Elementary': 'Humboldt',
 'Cutten Elementary': 'Humboldt',
 'Fieldbrook Elementary': 'Humboldt',
 'Fortuna Union High': 'Humboldt',
 'Freshwater Elementary': 'Humboldt',
 'Garfield Elementary': 'Humboldt',
 'Green Point Elementary': 'Humboldt',
 'Hydesville Elementary': 'Humboldt',
 'Jacoby Creek Elementary': 'Humboldt',
 'Klamath-Trinity Joint Unified': 'Humboldt',
 'Kneeland Elementary': 'Humboldt',
 'Loleta Union Elementary': 'Humboldt',
 'Maple Creek Elementary': 'Humboldt',
 'McKinleyville Union Elementary': 'Humboldt',
 'Orick Elementary': 'Humboldt',
 'Peninsula Union ': 'Humboldt',
 'Rio Dell Elementary': 'Humboldt',
 'Scotia Union Elementary': 'Humboldt',
 'South Bay Union Elementary': 'Humboldt',
 'Southern Humboldt Joint Unified': 'Humboldt',
 'Trinidad Union Elementary': 'Humboldt',
 'Ferndale Unified': 'Humboldt',
 'Mattole Unified': 'Humboldt',
 'Eureka City Schools': 'Humboldt',
 'Fortuna Elementary': 'Humboldt',
 'Brawley Elementary': 'Imperial',
 'Brawley Union High': 'Imperial',
 'Calexico Unified': 'Imperial',
 'Calipatria Unified': 'Imperial',
 'Central Union High': 'Imperial',
 'El Centro Elementary': 'Imperial',
 'Heber Elementary': 'Imperial',
 'Holtville Unified': 'Imperial',
 'Imperial Unified': 'Imperial',
 'Magnolia Union Elementary': 'Imperial',
 'McCabe Union Elementary': 'Imperial',
 'Meadows Union Elementary': 'Imperial',
 'Mulberry Elementary': 'Imperial',
 'San Pasqual Valley Unified': 'Imperial',
 'Seeley Union Elementary': 'Imperial',
 'Westmorland Union Elementary': 'Imperial',
 'Big Pine Unified': 'Inyo',
 'Death Valley Unified': 'Inyo',
 'Lone Pine Unified': 'Inyo',
 'Owens Valley Unified': 'Inyo',
 'Round Valley Joint Elementary': 'Inyo',
 'Bishop Unified': 'Inyo',
 'Arvin Union': 'Kern',
 'Bakersfield City': 'Kern',
 'Beardsley Elementary': 'Kern',
 'Belridge Elementary': 'Kern',
 'Blake Elementary': 'Kern',
 'Panama-Buena Vista Union': 'Kern',
 'Buttonwillow Union Elementary': 'Kern',
 'Caliente Union Elementary': 'Kern',
 'Delano Union Elementary': 'Kern',
 'Delano Joint Union High': 'Kern',
 'Di Giorgio Elementary': 'Kern',
 'Edison Elementary': 'Kern',
 'Elk Hills Elementary': 'Kern',
 'Fairfax Elementary': 'Kern',
 'Fruitvale Elementary': 'Kern',
 'General Shafter Elementary': 'Kern',
 'Greenfield Union': 'Kern',
 'Kern High': 'Kern',
 'Kernville Union Elementary': 'Kern',
 'Lakeside Union': 'Kern',
 'Lamont Elementary': 'Kern',
 'Richland Union Elementary': 'Kern',
 'Linns Valley-Poso Flat Union': 'Kern',
 'Lost Hills Union Elementary': 'Kern',
 'Maple Elementary': 'Kern',
 'Maricopa Unified': 'Kern',
 'McKittrick Elementary': 'Kern',
 'Midway Elementary': 'Kern',
 'Mojave Unified': 'Kern',
 'Muroc Joint Unified': 'Kern',
 'Norris Elementary': 'Kern',
 'Pond Union Elementary': 'Kern',
 'Rosedale Union Elementary': 'Kern',
 'Semitropic Elementary': 'Kern',
 'Southern Kern Unified': 'Kern',
 'South Fork Union': 'Kern',
 'Standard Elementary': 'Kern',
 'Taft City': 'Kern',
 'Taft Union High': 'Kern',
 'Tehachapi Unified': 'Kern',
 'Vineland Elementary': 'Kern',
 'Wasco Union Elementary': 'Kern',
 'Wasco Union High': 'Kern',
 'Rio Bravo-Greeley Union Elementary': 'Kern',
 'Sierra Sands Unified': 'Kern',
 'McFarland Unified': 'Kern',
 'El Tejon Unified': 'Kern',
 'SBE - Ridgecrest Charter': 'Kern',
 'Armona Union Elementary': 'Kings',
 'Central Union Elementary': 'Kings',
 'Corcoran Joint Unified': 'Kings',
 'Hanford Elementary': 'Kings',
 'Hanford Joint Union High': 'Kings',
 'Island Union Elementary': 'Kings',
 'Kings River-Hardwick Union Elementary': 'Kings',
 'Kit Carson Union Elementary': 'Kings',
 'Lakeside Union Elementary': 'San Diego',
 'Lemoore Union Elementary': 'Kings',
 'Lemoore Union High': 'Kings',
 'Reef-Sunset Unified': 'Kings',
 'Kelseyville Unified': 'Lake',
 'Konocti Unified': 'Lake',
 'Lakeport Unified': 'Lake',
 'Lucerne Elementary': 'Lake',
 'Middletown Unified': 'Lake',
 'Upper Lake Unified': 'Lake',
 'Big Valley Joint Unified': 'Lassen',
 'Janesville Union Elementary': 'Lassen',
 'Johnstonville Elementary': 'Lassen',
 'Lassen Union High': 'Lassen',
 'Ravendale-Termo Elementary': 'Lassen',
 'Richmond Elementary': 'Lassen',
 'Shaffer Union Elementary': 'Lassen',
 'Susanville Elementary': 'Lassen',
 'Westwood Unified': 'Lassen',
 'Fort Sage Unified': 'Lassen',
 'ABC Unified': 'Los Angeles',
 'Antelope Valley Union High': 'Los Angeles',
 'Arcadia Unified': 'Los Angeles',
 'Azusa Unified': 'Los Angeles',
 'Baldwin Park Unified': 'Los Angeles',
 'Bassett Unified': 'Los Angeles',
 'Bellflower Unified': 'Los Angeles',
 'Beverly Hills Unified': 'Los Angeles',
 'Bonita Unified': 'Los Angeles',
 'Burbank Unified': 'Los Angeles',
 'Castaic Union': 'Los Angeles',
 'Centinela Valley Union High': 'Los Angeles',
 'Charter Oak Unified': 'Los Angeles',
 'Claremont Unified': 'Los Angeles',
 'Covina-Valley Unified': 'Los Angeles',
 'Culver City Unified': 'Los Angeles',
 'Downey Unified': 'Los Angeles',
 'Duarte Unified': 'Los Angeles',
 'Eastside Union Elementary': 'Los Angeles',
 'East Whittier City Elementary': 'Los Angeles',
 'El Monte City': 'Los Angeles',
 'El Monte Union High': 'Los Angeles',
 'El Rancho Unified': 'Los Angeles',
 'El Segundo Unified': 'Los Angeles',
 'Garvey Elementary': 'Los Angeles',
 'Glendale Unified': 'Los Angeles',
 'Glendora Unified': 'Los Angeles',
 'Gorman Joint': 'Los Angeles',
 'Hawthorne': 'Los Angeles',
 'Hermosa Beach City Elementary': 'Los Angeles',
 'Hughes-Elizabeth Lakes Union Elementary': 'Los Angeles',
 'Inglewood Unified': 'Los Angeles',
 'Keppel Union Elementary': 'Los Angeles',
 'La Canada Unified': 'Los Angeles',
 'Lancaster Elementary': 'Los Angeles',
 'Las Virgenes Unified': 'Los Angeles',
 'Lawndale Elementary': 'Los Angeles',
 'Lennox': 'Los Angeles',
 'Little Lake City Elementary': 'Los Angeles',
 'Long Beach Unified': 'Los Angeles',
 'Los Angeles Unified': 'Los Angeles',
 'Los Nietos': 'Los Angeles',
 'Lowell Joint': 'Los Angeles',
 'Lynwood Unified': 'Los Angeles',
 'Monrovia Unified': 'Los Angeles',
 'Montebello Unified': 'Los Angeles',
 'Mountain View Elementary': 'San Bernardino',
 'Newhall': 'Los Angeles',
 'Norwalk-La Mirada Unified': 'Los Angeles',
 'Palmdale Elementary': 'Los Angeles',
 'Palos Verdes Peninsula Unified': 'Los Angeles',
 'Paramount Unified': 'Los Angeles',
 'Pasadena Unified': 'Los Angeles',
 'Pomona Unified': 'Los Angeles',
 'Rosemead Elementary': 'Los Angeles',
 'San Marino Unified': 'Los Angeles',
 'Santa Monica-Malibu Unified': 'Los Angeles',
 'Saugus Union': 'Los Angeles',
 'South Pasadena Unified': 'Los Angeles',
 'South Whittier Elementary': 'Los Angeles',
 'Sulphur Springs Union': 'Los Angeles',
 'Temple City Unified': 'Los Angeles',
 'Torrance Unified': 'Los Angeles',
 'Valle Lindo Elementary': 'Los Angeles',
 'West Covina Unified': 'Los Angeles',
 'Westside Union Elementary': 'Los Angeles',
 'Whittier City Elementary': 'Los Angeles',
 'Whittier Union High': 'Los Angeles',
 'William S. Hart Union High': 'Los Angeles',
 'Wilsona Elementary': 'Los Angeles',
 'Compton Unified': 'Los Angeles',
 'Hacienda la Puente Unified': 'Los Angeles',
 'Rowland Unified': 'Los Angeles',
 'Walnut Valley Unified': 'Los Angeles',
 'San Gabriel Unified': 'Los Angeles',
 'Acton-Agua Dulce Unified': 'Los Angeles',
 'Manhattan Beach Unified': 'Los Angeles',
 'Redondo Beach Unified': 'Los Angeles',
 'SBE - New West Charter': 'Los Angeles',
 'SBE - The School of Arts and Enterprise': 'Los Angeles',
 'Alhambra Unified': 'Los Angeles',
 'SBE - Barack Obama Charter': 'Los Angeles',
 'Wiseburn Unified': 'Los Angeles',
 'SBE - Anahuacalmecac International University Preparatory of North America': 'Los Angeles',
 'SBE - Academia Avance Charter': 'Los Angeles',
 'SBE - Prepa Tec Los Angeles High': 'Los Angeles',
 'SBE - Celerity Himalia': 'Los Angeles',
 'Alview-Dairyland Union Elementary': 'Madera',
 'Bass Lake Joint Union Elementary': 'Madera',
 'Chowchilla Elementary': 'Madera',
 'Chowchilla Union High': 'Madera',
 'Madera Unified': 'Madera',
 'Raymond-Knowles Union Elementary': 'Madera',
 'Golden Valley Unified': 'Madera',
 'Chawanakee Unified': 'Madera',
 'Yosemite Unified': 'Madera',
 'Bolinas-Stinson Union': 'Marin',
 'Dixie Elementary': 'Marin',
 'Kentfield Elementary': 'Marin',
 'Laguna Joint Elementary': 'Marin',
 'Lagunitas Elementary': 'Marin',
 'Larkspur-Corte Madera': 'Marin',
 'Lincoln Elementary': 'Marin',
 'Mill Valley Elementary': 'Marin',
 'Nicasio': 'Marin',
 'Novato Unified': 'Marin',
 'Reed Union Elementary': 'Marin',
 'Ross Elementary': 'Marin',
 'San Rafael City Elementary': 'Marin',
 'San Rafael City High': 'Marin',
 'Sausalito Marin City': 'Marin',
 'Tamalpais Union High': 'Marin',
 'Shoreline Unified': 'Marin',
 'Ross Valley Elementary': 'Marin',
 'SBE - Ross Valley Elementary': 'Marin',
 'Mariposa County Unified': 'Mariposa',
 'Anderson Valley Unified': 'Mendocino',
 'Arena Union Elementary': 'Mendocino',
 'Fort Bragg Unified': 'Mendocino',
 'Manchester Union Elementary': 'Mendocino',
 'Mendocino Unified': 'Mendocino',
 'Point Arena Joint Union High': 'Mendocino',
 'Round Valley Unified': 'Mendocino',
 'Ukiah Unified': 'Mendocino',
 'Willits Unified': 'Mendocino',
 'Potter Valley Community Unified': 'Mendocino',
 'Laytonville Unified': 'Mendocino',
 'Leggett Valley Unified': 'Mendocino',
 'Atwater Elementary': 'Merced',
 'Ballico-Cressey Elementary': 'Merced',
 'El Nido Elementary': 'Merced',
 'Hilmar Unified': 'Merced',
 'Le Grand Union Elementary': 'Merced',
 'Le Grand Union High': 'Merced',
 'Livingston Union': 'Merced',
 'Los Banos Unified': 'Merced',
 'McSwain Union Elementary': 'Merced',
 'Merced City Elementary': 'Merced',
 'Merced Union High': 'Merced',
 'Plainsburg Union Elementary': 'Merced',
 'Planada Elementary': 'Merced',
 'Snelling-Merced Falls Union Elementary': 'Merced',
 'Weaver Union': 'Merced',
 'Winton': 'Merced',
 'Gustine Unified': 'Merced',
 'Merced River Union Elementary': 'Merced',
 'Dos Palos Oro Loma Joint Unified': 'Merced',
 'Delhi Unified': 'Merced',
 'Surprise Valley Joint Unified': 'Modoc',
 'Modoc Joint Unified': 'Modoc',
 'Tulelake Basin Joint Unified': 'Modoc',
 'Eastern Sierra Unified': 'Mono',
 'Mammoth Unified': 'Mono',
 'Alisal Union': 'Monterey',
 'Bradley Union Elementary': 'Monterey',
 'Carmel Unified': 'Monterey',
 'Chualar Union': 'Monterey',
 'Graves Elementary': 'Monterey',
 'Greenfield Union Elementary': 'Monterey',
 'King City Union': 'Monterey',
 'South Monterey County Joint Union High': 'Monterey',
 'Lagunita Elementary': 'Monterey',
 'Mission Union Elementary': 'Monterey',
 'Monterey Peninsula Unified': 'Monterey',
 'Pacific Grove Unified': 'Monterey',
 'Salinas City Elementary': 'Monterey',
 'Salinas Union High': 'Monterey',
 'San Antonio Union Elementary': 'Monterey',
 'San Ardo Union Elementary': 'Monterey',
 'San Lucas Union Elementary': 'Monterey',
 'Santa Rita Union Elementary': 'Monterey',
 'Spreckels Union Elementary': 'Monterey',
 'Washington Union Elementary': 'Monterey',
 'North Monterey County Unified': 'Monterey',
 'Big Sur Unified': 'Monterey',
 'Soledad Unified': 'Monterey',
 'Gonzales Unified': 'Monterey',
 'Calistoga Joint Unified': 'Napa',
 'Howell Mountain Elementary': 'Napa',
 'Napa Valley Unified': 'Napa',
 'Pope Valley Union Elementary': 'Napa',
 'Saint Helena Unified': 'Napa',
 'Chicago Park Elementary': 'Nevada',
 'Clear Creek Elementary': 'Nevada',
 'Grass Valley Elementary': 'Nevada',
 'Nevada City Elementary': 'Nevada',
 'Nevada Joint Union High': 'Nevada',
 'Pleasant Ridge Union Elementary': 'Nevada',
 'Union Hill Elementary': 'Nevada',
 'Twin Ridges Elementary': 'Nevada',
 'Penn Valley Union Elementary': 'Nevada',
 'Anaheim Elementary': 'Orange',
 'Anaheim Union High': 'Orange',
 'Brea-Olinda Unified': 'Orange',
 'Buena Park Elementary': 'Orange',
 'Capistrano Unified': 'Orange',
 'Centralia Elementary': 'Orange',
 'Cypress Elementary': 'Orange',
 'Fountain Valley Elementary': 'Orange',
 'Fullerton Elementary': 'Orange',
 'Fullerton Joint Union High': 'Orange',
 'Garden Grove Unified': 'Orange',
 'Huntington Beach City Elementary': 'Orange',
 'Huntington Beach Union High': 'Orange',
 'Laguna Beach Unified': 'Orange',
 'La Habra City Elementary': 'Orange',
 'Magnolia Elementary': 'Orange',
 'Newport-Mesa Unified': 'Orange',
 'Ocean View': 'Ventura',
 'Orange Unified': 'Orange',
 'Placentia-Yorba Linda Unified': 'Orange',
 'Santa Ana Unified': 'Orange',
 'Savanna Elementary': 'Orange',
 'Westminster': 'Orange',
 'Saddleback Valley Unified': 'Orange',
 'Tustin Unified': 'Orange',
 'Irvine Unified': 'Orange',
 'Los Alamitos Unified': 'Orange',
 'SBE - Magnolia Science Academy Santa Ana': 'Orange',
 'Ackerman Charter': 'Placer',
 'Alta-Dutch Flat Union Elementary': 'Placer',
 'Auburn Union Elementary': 'Placer',
 'Colfax Elementary': 'Placer',
 'Dry Creek Joint Elementary': 'Placer',
 'Eureka Union': 'Placer',
 'Foresthill Union Elementary': 'Placer',
 'Loomis Union Elementary': 'Placer',
 'Newcastle Elementary': 'Placer',
 'Placer Hills Union Elementary': 'Placer',
 'Placer Union High': 'Placer',
 'Roseville City Elementary': 'Placer',
 'Roseville Joint Union High': 'Placer',
 'Tahoe-Truckee Unified': 'Placer',
 'Western Placer Unified': 'Placer',
 'Rocklin Unified': 'Placer',
 'Plumas Unified': 'Plumas',
 'California School for the Deaf-Riverside (State Special Schl)': 'Riverside',
 'Alvord Unified': 'Riverside',
 'Banning Unified': 'Riverside',
 'Beaumont Unified': 'Riverside',
 'Corona-Norco Unified': 'Riverside',
 'Desert Center Unified': 'Riverside',
 'Desert Sands Unified': 'Riverside',
 'Hemet Unified': 'Riverside',
 'Jurupa Unified': 'Riverside',
 'Menifee Union Elementary': 'Riverside',
 'Moreno Valley Unified': 'Riverside',
 'Nuview Union ': 'Riverside',
 'Palm Springs Unified': 'Riverside',
 'Palo Verde Unified': 'Riverside',
 'Perris Elementary': 'Riverside',
 'Perris Union High': 'Riverside',
 'Riverside Unified': 'Riverside',
 'Romoland Elementary': 'Riverside',
 'San Jacinto Unified': 'Riverside',
 'Coachella Valley Unified': 'Riverside',
 'Lake Elsinore Unified': 'Riverside',
 'Temecula Valley Unified': 'Riverside',
 'Murrieta Valley Unified': 'Riverside',
 'Val Verde Unified': 'Riverside',
 'SBE - Baypoint Preparatory Academy': 'Riverside',
 'California Education Authority (CEA) Headquarters': 'Sacramento',
 'Arcohe Union Elementary': 'Sacramento',
 'Elk Grove Unified': 'Sacramento',
 'Elverta Joint Elementary': 'Sacramento',
 'Folsom-Cordova Unified': 'Sacramento',
 'Galt Joint Union Elementary': 'Sacramento',
 'Galt Joint Union High': 'Sacramento',
 'River Delta Joint Unified': 'Sacramento',
 'Robla Elementary': 'Sacramento',
 'Sacramento City Unified': 'Sacramento',
 'San Juan Unified': 'Sacramento',
 'Center Joint Unified': 'Sacramento',
 'Natomas Unified': 'Sacramento',
 'Twin Rivers Unified': 'Sacramento',
 'Bitterwater-Tully Elementary': 'San Benito',
 'Cienega Union Elementary': 'San Benito',
 'Hollister': 'San Benito',
 'Jefferson Elementary': 'San Mateo',
 'North County Joint Union Elementary': 'San Benito',
 'Panoche Elementary': 'San Benito',
 'San Benito High': 'San Benito',
 'Southside Elementary': 'San Benito',
 'Tres Pinos Union Elementary': 'San Benito',
 'Willow Grove Union Elementary': 'San Benito',
 'Aromas - San Juan Unified': 'San Benito',
 'Adelanto Elementary': 'San Bernardino',
 'Alta Loma Elementary': 'San Bernardino',

In [191]:
s = pandas.Series(w1, name='county_name')
s = s.to_frame()
s.index.name = 'district_name'

In [192]:
s.index.name = 'district_name'

In [193]:
s.reset_index()

                                         district_name county_name
0    California School for the Blind (State Special...     Alameda
1    California School for the Deaf-Fremont (State ...     Alameda
2                                      Alameda Unified     Alameda
3                                  Albany City Unified     Alameda
4                                     Berkeley Unified     Alameda
..                                                 ...         ...
961                            Camptonville Elementary        Yuba
962                           Marysville Joint Unified        Yuba
963                             Plumas Lake Elementary        Yuba
964                                          Wheatland        Yuba
965                               Wheatland Union High        Yuba

[966 rows x 2 columns]

In [163]:
codes = []
for name in names:
    temp = frpm[frpm['district_name'] == name]
    codes.append(temp['District Code'].values[0])

In [161]:
counties = frpm['county_name'].unique()
len(counties)

58

In [123]:
countnames = []
for county in counties:
        temp2 = frpm[frpm['county_name'] == county]
        countnames.append(temp2['District Code'].values[0])

In [165]:
t6 = pandas.DataFrame(list(zip(counties, countnames)),
                     columns =['county_name', 'fips',])

t6

        county_name   fips
0           Alameda  31609
1            Alpine  61333
2            Amador  73981
3             Butte  61382
4         Calaveras  61556
5            Colusa  61598
6      Contra Costa  61630
7         Del Norte  61820
8         El Dorado  61838
9            Fresno  61994
10            Glenn  62554
11         Humboldt  62679
12         Imperial  63073
13             Inyo  63248
14             Kern  63313
15            Kings  63875
16             Lake  64014
17           Lassen  64089
18      Los Angeles  64212
19           Madera  65177
20            Marin  65300
21         Mariposa  65532
22        Mendocino  65540
23           Merced  65631
24            Modoc  65896
25             Mono  73668
26         Monterey  65961
27             Napa  66241
28           Nevada  66316
29           Orange  66423
30           Placer  66761
31           Plumas  66969
32        Riverside  31625
33       Sacramento  32276
34       San Benito  67454
35   San Bernardino  67587
36        San Diego  67967
37    San Francisco  68478
38      San Joaquin  68486
39  San Luis Obispo  68700
40        San Mateo  68858
41    Santa Barbara  69104
42      Santa Clara  69369
43       Santa Cruz  69732
44           Shasta  69856
45           Sierra  70177
46         Siskiyou  70185
47           Solano  70524
48           Sonoma  70599
49       Stanislaus  71043
50           Sutter  71357
51           Tehama  71472
52          Trinity  71662
53           Tulare  71795
54         Tuolumne  72306
55          Ventura  72447
56             Yolo  72678
57             Yuba  72728

In [175]:
t5 = pandas.DataFrame(list(zip(names, codes,)), 
               columns =['district_name', 'District Code',])
t5

                                         district_name District Code
0    California School for the Blind (State Special...         31609
1    California School for the Deaf-Fremont (State ...         31609
2                                      Alameda Unified         61333
3                                  Albany City Unified         73981
4                                     Berkeley Unified         61382
..                                                 ...           ...
961                            Camptonville Elementary         64014
962                           Marysville Joint Unified         64089
963                             Plumas Lake Elementary         64212
964                                          Wheatland         65177
965                               Wheatland Union High         65300

[966 rows x 2 columns]

In [194]:
s.head()

                                                   county_name
district_name
California School for the Blind (State Special ...     Alameda
California School for the Deaf-Fremont (State S...     Alameda
Alameda Unified                                        Alameda
Albany City Unified                                    Alameda
Berkeley Unified                                       Alameda

In [129]:
t6 = t5.merge(cfips, left_on='lkey', right_on='rkey')

                                         district_name District Code
0    California School for the Blind (State Special...         31609
1    California School for the Deaf-Fremont (State ...         31617
2                                      Alameda Unified         61119
3                                  Albany City Unified         61127
4                                     Berkeley Unified         61143
..                                                 ...           ...
961                            Camptonville Elementary         72728
962                           Marysville Joint Unified         72736
963                             Plumas Lake Elementary         72744
964                                          Wheatland         72751
965                               Wheatland Union High         72769

[966 rows x 2 columns]

In [55]:
# If nothing is int (and everything is object), all columns live through the groupby
# if we convert to int before groupby (to make .sum() work), only int lives through groupby

dffrpm = frpm.groupby(by='district_name').sum()
# aggregating

In [56]:
dffrpm.columns

Index(['enrollment_by_age', 'free_count_by_age', 'frpm_count_by_age'], dtype='object')

In [57]:
dffrpm['pct_frpm_by_age'] = dffrpm.frpm_count_by_age / dffrpm.enrollment_by_age
dffrpm['pct_free_by_age'] = dffrpm.free_count_by_age / dffrpm.enrollment_by_age
# inferring more convinient than copying lul

In [58]:
dffrpm.shape
# need to include district name and county name in the aggreagtion
# why do we lose columns in the groupby operation? dtypes object preventing groupby?

(966, 5)

In [59]:
t5.shape

(966, 2)

In [195]:
t6 = pandas.merge(dffrpm, t5, how='left', on=['district_name'])
t6

,district_name,enrollment_by_age,free_count_by_age,frpm_count_by_age,pct_frpm_by_age,pct_free_by_age,District Code_x,District Code_y
0,ABC Unified,20022,8508,9994,0.499151,0.424933,64212,62554
1,Acalanes Union High,5487,334,358,0.065245,0.060871,61630,69856
2,Ackerman Charter,584,154,180,0.308219,0.263699,66761,71662
3,Acton-Agua Dulce Unified,13553,5745,6389,0.471409,0.423891,75309,65961
4,Adelanto Elementary,8512,6158,6708,0.788064,0.723449,67587,61333
...,...,...,...,...,...,...,...,...
961,Yosemite Unified,2036,881,977,0.479862,0.432711,76414,70185
962,Yreka Union Elementary,984,634,702,0.713415,0.644309,70508,61994
963,Yreka Union High,610,269,290,0.475410,0.440984,70516,62554
964,Yuba City Unified,12839,8182,9518,0.741335,0.637277,71464,67967
965,Yucaipa-Calimesa Joint Unified,9783,4260,4960,0.507002,0.435449,67959,73668

In [204]:
t7 = pandas.merge(s, t6, how='left', on=['district_name'])
t7.drop('District Code_y', axis=1, inplace=True)
t7 = t7.rename(columns={'District Code_x': 'District Code',})
t7

,district_name,county_name,enrollment_by_age,free_count_by_age,frpm_count_by_age,pct_frpm_by_age,pct_free_by_age,District Code
0,California School for the Blind (State Special...,Alameda,42,42,42,1.000000,1.000000,31609
1,California School for the Deaf-Fremont (State ...,Alameda,311,311,311,1.000000,1.000000,31617
2,Alameda Unified,Alameda,11031,2953,3306,0.299701,0.267700,61119
3,Albany City Unified,Alameda,3612,647,742,0.205426,0.179125,61127
4,Berkeley Unified,Alameda,10022,2758,3153,0.314608,0.275195,61143
...,...,...,...,...,...,...,...,...
961,Camptonville Elementary,Yuba,475,200,260,0.547368,0.421053,72728
962,Marysville Joint Unified,Yuba,9963,7226,7833,0.786209,0.725284,72736
963,Plumas Lake Elementary,Yuba,1301,374,478,0.367410,0.287471,72744
964,Wheatland,Yuba,1364,457,644,0.472141,0.335044,72751
965,Wheatland Union High,Yuba,765,253,335,0.437908,0.330719,72769

In [214]:
cfips['county_name'] = cfips['county_name'].str.replace('County', '')
cfips

         county_name  GEOID
0           Alameda   06001
1            Alpine   06003
2            Amador   06005
3             Butte   06007
4         Calaveras   06009
5            Colusa   06011
6      Contra Costa   06013
7         Del Norte   06015
8         El Dorado   06017
9            Fresno   06019
10            Glenn   06021
11         Humboldt   06023
12         Imperial   06025
13             Inyo   06027
14             Kern   06029
15            Kings   06031
16             Lake   06033
17           Lassen   06035
18      Los Angeles   06037
19           Madera   06039
20            Marin   06041
21         Mariposa   06043
22        Mendocino   06045
23           Merced   06047
24            Modoc   06049
25             Mono   06051
26         Monterey   06053
27             Napa   06055
28           Nevada   06057
29           Orange   06059
30           Placer   06061
31           Plumas   06063
32        Riverside   06065
33       Sacramento   06067
34       San Benito   06069
35   San Bernardino   06071
36        San Diego   06073
37    San Francisco   06075
38      San Joaquin   06077
39  San Luis Obispo   06079
40        San Mateo   06081
41    Santa Barbara   06083
42      Santa Clara   06085
43       Santa Cruz   06087
44           Shasta   06089
45           Sierra   06091
46         Siskiyou   06093
47           Solano   06095
48           Sonoma   06097
49       Stanislaus   06099
50           Sutter   06101
51           Tehama   06103
52          Trinity   06105
53           Tulare   06107
54         Tuolumne   06109
55          Ventura   06111
56             Yolo   06113
57             Yuba   06115

In [247]:
t7.county_name = t7.county_name.str.strip()
cfips.county_name = cfips.county_name.str.strip()
adistricts.NAME = adistricts.NAME.str.strip()

In [239]:
t8 = t7.merge(cfips, how='left', on=['county_name'])
t8

,district_name,county_name,enrollment_by_age,free_count_by_age,frpm_count_by_age,pct_frpm_by_age,pct_free_by_age,District Code,GEOID
0,California School for the Blind (State Special...,Alameda,42,42,42,1.000000,1.000000,31609,06001
1,California School for the Deaf-Fremont (State ...,Alameda,311,311,311,1.000000,1.000000,31617,06001
2,Alameda Unified,Alameda,11031,2953,3306,0.299701,0.267700,61119,06001
3,Albany City Unified,Alameda,3612,647,742,0.205426,0.179125,61127,06001
4,Berkeley Unified,Alameda,10022,2758,3153,0.314608,0.275195,61143,06001
...,...,...,...,...,...,...,...,...,...
961,Camptonville Elementary,Yuba,475,200,260,0.547368,0.421053,72728,06115
962,Marysville Joint Unified,Yuba,9963,7226,7833,0.786209,0.725284,72736,06115
963,Plumas Lake Elementary,Yuba,1301,374,478,0.367410,0.287471,72744,06115
964,Wheatland,Yuba,1364,457,644,0.472141,0.335044,72751,06115
965,Wheatland Union High,Yuba,765,253,335,0.437908,0.330719,72769,06115

In [244]:
adistricts['NAME'] = adistricts['NAME'].str.replace('School District', '')

In [251]:
adistricts.shape

(986, 18)

In [248]:
g1 = t8.merge(adistricts, how='left', left_on='district_name', right_on='NAME')
g1
# deal with the duplicated names (pioneer, jefferson, lakeside)

,district_name,county_name,enrollment_by_age,free_count_by_age,frpm_count_by_age,pct_frpm_by_age,pct_free_by_age,District Code,GEOID_x,STATEFP,UNSDLEA,GEOID_y,NAME,LSAD,LOGRADE,HIGRADE,MTFCC,SDTYP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,origin,ELSDLEA,SCSDLEA
0,California School for the Blind (State Special...,Alameda,42,42,42,1.000000,1.000000,31609,06001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
1,California School for the Deaf-Fremont (State ...,Alameda,311,311,311,1.000000,1.000000,31617,06001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
2,Alameda Unified,Alameda,11031,2953,3306,0.299701,0.267700,61119,06001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
3,Albany City Unified,Alameda,3612,647,742,0.205426,0.179125,61127,06001,06,01860,06018,Albany City Unified,00,KG,12,G5420,None,E,4.634305e+06,9523833.0,+37.8906499,-122.3181164,"POLYGON ((-122.37312 37.88388, -122.37114 37.8...",unified,NaN,NaN
4,Berkeley Unified,Alameda,10022,2758,3153,0.314608,0.275195,61143,06001,06,04740,06047,Berkeley Unified,00,KG,12,G5420,None,E,2.709528e+07,18715614.0,+37.8669717,-122.2991474,"POLYGON ((-122.36778 37.86673, -122.35671 37.8...",unified,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,Camptonville Elementary,Yuba,475,200,260,0.547368,0.421053,72728,06115,06,NaN,06072,Camptonville Elementary,00,KG,12,G5400,None,E,1.356720e+08,10983925.0,+39.4308753,-121.1005893,"POLYGON ((-121.16298 39.47496, -121.16254 39.4...",elementary,07260,NaN
976,Marysville Joint Unified,Yuba,9963,7226,7833,0.786209,0.725284,72736,06115,06,24090,06240,Marysville Joint Unified,00,KG,12,G5420,None,E,1.196179e+09,18292938.0,+39.3278994,-121.3543265,"POLYGON ((-121.63637 39.24608, -121.63629 39.2...",unified,NaN,NaN
977,Plumas Lake Elementary,Yuba,1301,374,478,0.367410,0.287471,72744,06115,06,NaN,06311,Plumas Lake Elementary,00,KG,08,G5400,None,E,9.471641e+07,926165.0,+39.0201102,-121.5317817,"POLYGON ((-121.58904 38.99152, -121.58838 38.9...",elementary,31180,NaN
978,Wheatland,Yuba,1364,457,644,0.472141,0.335044,72751,06115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
979,Wheatland Union High,Yuba,765,253,335,0.437908,0.330719,72769,06115,06,NaN,06423,Wheatland Union High,00,09,12,G5410,None,E,4.008967e+08,3658509.0,+39.0852587,-121.4073702,"POLYGON ((-121.58904 38.99152, -121.58838 38.9...",secondary,NaN,42350

## Test Variables for merge with District Codes

In [61]:
geot = set(adsgeo)
len(geot)
# There are no district codes in the geometries - must match by district name.

970

In [62]:
frpmt = set(dffrpm['District Code'])
len(frpmt)

966

In [63]:
lcfft = set(dflcff['District Code'])
len(lcfft)

944

In [64]:
elat = set(dfe['District Code'])
len(elat)

932

In [65]:
matht = set(dfm['District Code'])
len(matht)
# lowest common denominator

931

In [66]:
elat.difference(matht)

{'70318'}

In [67]:
d2 = lcfft.difference(matht)
d2

{'61994',
 '63933',
 '66761',
 '68627',
 '70318',
 '70680',
 '70714',
 '70730',
 '70797',
 '70839',
 '70854',
 '70862',
 '70912',
 '70920',
 '71274',
 '71670'}

In [68]:
d3 = lcfft.difference(elat)
d3

{'61994',
 '63933',
 '66761',
 '68627',
 '70680',
 '70714',
 '70730',
 '70797',
 '70839',
 '70854',
 '70862',
 '70912',
 '70920',
 '71274',
 '71670'}

In [69]:
drops = d2.intersection(d3)
len(drops)

15

In [70]:
d2.difference(drops)

{'70318'}

In [71]:
drops = d2
len(drops)

16

In [72]:
d4 = frpmt.difference(matht)
len(d4)

49

In [73]:
d2.difference(d4)

set()

In [74]:
d3.difference(d4)

set()

### d4 contains the list of districts to drop to merge all 4 datasets.

In [75]:
len(d4)

49

In [76]:
d4

{'31609',
 '31617',
 '31625',
 '32276',
 '61994',
 '63933',
 '66761',
 '68627',
 '70318',
 '70680',
 '70714',
 '70730',
 '70797',
 '70839',
 '70854',
 '70862',
 '70912',
 '70920',
 '71274',
 '71670',
 '75630',
 '75663',
 '75697',
 '76547',
 '76885',
 '76893',
 '76901',
 '76919',
 '76927',
 '76943',
 '76950',
 '76968',
 '76992',
 '77024',
 '77032',
 '77065',
 '77081',
 '77099',
 '77107',
 '77131',
 '77149',
 '77156',
 '77164',
 '77172',
 '77180',
 '77198',
 '77206',
 '77214',
 '77222'}

# Examining data

### State-level performance data

In [77]:
ela_state

             studentgroup  currstatus  priorstatus  change  currdenom
3                   asian        62.4         60.5     2.0     293002
7                filipino        44.0         41.2     2.7      71139
11         multiple_races        28.6         26.3     2.3     118753
16                  white        27.7         26.9     0.8     734863
6            english_only         6.5          4.6     1.8    1795002
13              rfep_only         2.2         -0.4     2.7     488023
2            all_students        -6.0         -8.2     2.2    3171704
12       pacific_islander       -21.3        -22.0     0.7      14894
9                hispanic       -31.3        -34.5     3.2    1738615
14              ses_disad       -34.7        -38.7     4.0    1982522
1         american_indian       -36.8        -39.1     2.3      16662
4        english_learners       -47.1        -50.4     3.3    1000703
10         homeless_youth       -51.0        -54.3     3.3     115551
0        african_american       -51.8        -52.7     0.9     172224
8            foster_youth       -79.2        -80.6     1.4      21073
5   english_learners_only       -94.1        -96.7     2.6     512680
15           disabilities       -95.5        -97.6     2.1     398345

how to loop?

```for score in student group
    select student group, return averaged score```

In [78]:
# both english learning groups
(-47.1 + -94.1) / 2

-70.6

In [79]:
# combine `studentgroups`
# lcff_group = 'ses_disad', 'english_learners', 'homeless_youth', 'foster_youth' 'english_learners_only'

d = (-34.7 + -47.1 + -51.0 + -79.2 + -94.1)
d / 5

-61.220000000000006

In [80]:
math_state

             studentgroup  currstatus  priorstatus  change  currdenom
3                   asian        56.7         54.3     2.4     293068
7                filipino        13.1         10.3     2.8      71096
11         multiple_races         1.9          0.1     1.9     118473
16                  white        -1.0         -1.6     0.6     733213
6            english_only       -25.2        -26.3     1.1    1790583
13              rfep_only       -29.7        -31.1     1.4     487555
2            all_students       -36.4        -37.7     1.3    3166345
12       pacific_islander       -52.0        -51.3    -0.7      14849
9                hispanic       -65.8        -67.5     1.7    1735982
14              ses_disad       -67.4        -69.7     2.3    1978909
4        english_learners       -69.9        -71.4     1.5     999887
1         american_indian       -73.0        -72.3    -0.7      16622
10         homeless_youth       -81.0        -82.6     1.5     115269
0        african_american       -91.5        -91.6     0.2     171493
5   english_learners_only      -108.2       -108.7     0.5     512332
8            foster_youth      -114.0       -113.5    -0.5      20913
15           disabilities      -125.3       -126.1     0.8     396609

In [81]:
dfe = dfe.rename(columns={'currstatus': 'ela_currstatus',
                          'priorstatus': 'ela_priorstatus',
                          'change' : 'ela_change'
                         })
dfe
# dataframe english

,District Code,districtname,studentgroup,ela_currstatus,ela_priorstatus,ela_change
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7
165,61119,Alameda Unified,american_indian,-14.8,14.3,-29.1
166,61119,Alameda Unified,all_students,36.8,32.8,4.0
167,61119,Alameda Unified,asian,48.6,54.0,-5.3
168,61119,Alameda Unified,english_learners,-2.5,-1.4,-1.1
...,...,...,...,...,...,...
148816,72769,Wheatland Union High,pacific_islander,NaN,NaN,NaN
148817,72769,Wheatland Union High,rfep_only,NaN,NaN,NaN
148818,72769,Wheatland Union High,ses_disad,-28.4,-7.9,-20.6
148819,72769,Wheatland Union High,disabilities,-150.3,NaN,NaN
148820,72769,Wheatland Union High,white,11.7,14.2,-2.5

In [82]:
dfm = dfm.rename(columns={'currstatus': 'm_currstatus',
                          'priorstatus': 'm_priorstatus',
                          'change' : 'm_change'
                         })
dfm
# dataframe math

,District Code,districtname,studentgroup,m_currstatus,m_priorstatus,m_change
163,61119,Alameda Unified,african_american,-83.9,-82.8,-1.1
164,61119,Alameda Unified,american_indian,-51.8,-50.0,-1.8
165,61119,Alameda Unified,all_students,14.3,10.8,3.4
166,61119,Alameda Unified,asian,43.6,44.8,-1.2
167,61119,Alameda Unified,english_learners,-13.7,-12.9,-0.9
...,...,...,...,...,...,...
148683,72769,Wheatland Union High,pacific_islander,NaN,NaN,NaN
148684,72769,Wheatland Union High,rfep_only,NaN,NaN,NaN
148685,72769,Wheatland Union High,ses_disad,-90.0,-74.0,-16.0
148686,72769,Wheatland Union High,disabilities,-226.6,NaN,NaN
148687,72769,Wheatland Union High,white,-42.3,-57.0,14.7

In [83]:
dflcff
# dataframe lcff

,District Code,Local Educational Agency,unduplicated_pupil_count,base_grant,supplemental_grant,concentration_grant,total_grants,cds
10,61119,Alameda Unified,0.3486,"75,938,983","5,294,466",-,"82,158,116",01611190000000
16,61127,Albany City Unified,0.2833,"29,644,972","1,679,684",-,"31,352,540",01611270000000
17,61143,Berkeley Unified,0.3519,"78,556,532","5,528,808",-,"89,369,621",01611430000000
19,61150,Castro Valley Unified,0.2904,"74,911,585","4,350,864",-,"79,554,607",01611500000000
20,61168,Emery Unified,0.7953,"5,702,229","906,997","699,378","7,326,875",01611680000000
...,...,...,...,...,...,...,...,...
2233,72728,Camptonville Elementary,0.6988,"420,692","58,796","31,299","537,244",58727280000000
2235,72736,Marysville Joint Unified,0.8168,"76,193,862","12,447,028","10,164,261","100,261,913",58727360000000
2238,72744,Plumas Lake Elementary,0.3868,"10,261,440","793,825",-,"11,108,901",58727440000000
2239,72751,Wheatland,0.4783,"9,947,133","951,543",-,"11,234,349",58727510000000
2241,72769,Wheatland Union High,0.4283,"7,062,422","604,967",-,"7,852,628",58727690000000

In [84]:
dffrpm

,district_name,enrollment_by_age,free_count_by_age,frpm_count_by_age,pct_frpm_by_age,pct_free_by_age,District Code
0,ABC Unified,20022,8508,9994,0.499151,0.424933,64212
1,Acalanes Union High,5487,334,358,0.065245,0.060871,61630
2,Ackerman Charter,584,154,180,0.308219,0.263699,66761
3,Acton-Agua Dulce Unified,13553,5745,6389,0.471409,0.423891,75309
4,Adelanto Elementary,8512,6158,6708,0.788064,0.723449,67587
...,...,...,...,...,...,...,...
961,Yosemite Unified,2036,881,977,0.479862,0.432711,76414
962,Yreka Union Elementary,984,634,702,0.713415,0.644309,70508
963,Yreka Union High,610,269,290,0.475410,0.440984,70516
964,Yuba City Unified,12839,8182,9518,0.741335,0.637277,71464
965,Yucaipa-Calimesa Joint Unified,9783,4260,4960,0.507002,0.435449,67959

### Merging lcff and frpm (done)

In [85]:
q1 = dflcff['District Code'].values
len(q1)

944

In [86]:
q2 = dffrpm['District Code'].values
len(q2)

966

In [87]:
s1 = set(dflcff['District Code'])
len(s1)

944

In [88]:
s2 = set(dffrpm['District Code'])

In [89]:
s2

{'31609',
 '31617',
 '31625',
 '32276',
 '61119',
 '61127',
 '61143',
 '61150',
 '61168',
 '61176',
 '61192',
 '61200',
 '61218',
 '61234',
 '61242',
 '61259',
 '61275',
 '61291',
 '61309',
 '61333',
 '61382',
 '61408',
 '61424',
 '61432',
 '61440',
 '61457',
 '61499',
 '61507',
 '61515',
 '61523',
 '61531',
 '61549',
 '61556',
 '61564',
 '61572',
 '61580',
 '61598',
 '61606',
 '61614',
 '61622',
 '61630',
 '61648',
 '61655',
 '61663',
 '61671',
 '61697',
 '61705',
 '61713',
 '61721',
 '61739',
 '61747',
 '61754',
 '61762',
 '61770',
 '61788',
 '61796',
 '61804',
 '61812',
 '61820',
 '61838',
 '61846',
 '61853',
 '61879',
 '61887',
 '61895',
 '61903',
 '61911',
 '61929',
 '61952',
 '61960',
 '61978',
 '61986',
 '61994',
 '62026',
 '62042',
 '62109',
 '62117',
 '62125',
 '62158',
 '62166',
 '62240',
 '62257',
 '62265',
 '62281',
 '62323',
 '62331',
 '62356',
 '62364',
 '62372',
 '62380',
 '62414',
 '62430',
 '62513',
 '62539',
 '62547',
 '62554',
 '62596',
 '62638',
 '62646',
 '62653',
 '62661',
 '62679',
 '62687',
 '62695',
 '62703',
 '62729',
 '62737',
 '62745',
 '62794',
 '62810',
 '62828',
 '62836',
 '62851',
 '62885',
 '62893',
 '62901',
 '62919',
 '62927',
 '62935',
 '62950',
 '62968',
 '62984',
 '63008',
 '63024',
 '63032',
 '63040',
 '63057',
 '63073',
 '63081',
 '63099',
 '63107',
 '63115',
 '63123',
 '63131',
 '63149',
 '63164',
 '63172',
 '63180',
 '63198',
 '63206',
 '63214',
 '63222',
 '63230',
 '63248',
 '63271',
 '63289',
 '63297',
 '63305',
 '63313',
 '63321',
 '63339',
 '63347',
 '63354',
 '63362',
 '63370',
 '63388',
 '63404',
 '63412',
 '63420',
 '63438',
 '63446',
 '63461',
 '63479',
 '63487',
 '63503',
 '63529',
 '63545',
 '63552',
 '63560',
 '63578',
 '63586',
 '63594',
 '63610',
 '63628',
 '63651',
 '63669',
 '63677',
 '63685',
 '63693',
 '63719',
 '63750',
 '63768',
 '63776',
 '63784',
 '63792',
 '63800',
 '63818',
 '63826',
 '63834',
 '63842',
 '63859',
 '63875',
 '63883',
 '63891',
 '63917',
 '63925',
 '63933',
 '63941',
 '63958',
 '63966',
 '63974',
 '63982',
 '64014',
 '64022',
 '64030',
 '64048',
 '64055',
 '64089',
 '64105',
 '64113',
 '64139',
 '64162',
 '64170',
 '64188',
 '64196',
 '64204',
 '64212',
 '64246',
 '64261',
 '64279',
 '64287',
 '64295',
 '64303',
 '64311',
 '64329',
 '64337',
 '64345',
 '64352',
 '64378',
 '64394',
 '64436',
 '64444',
 '64451',
 '64469',
 '64477',
 '64485',
 '64501',
 '64519',
 '64527',
 '64535',
 '64550',
 '64568',
 '64576',
 '64584',
 '64592',
 '64600',
 '64626',
 '64634',
 '64642',
 '64659',
 '64667',
 '64683',
 '64691',
 '64709',
 '64717',
 '64725',
 '64733',
 '64758',
 '64766',
 '64774',
 '64790',
 '64808',
 '64816',
 '64832',
 '64840',
 '64857',
 '64865',
 '64873',
 '64881',
 '64907',
 '64931',
 '64964',
 '64980',
 '64998',
 '65029',
 '65037',
 '65045',
 '65052',
 '65060',
 '65078',
 '65094',
 '65102',
 '65110',
 '65128',
 '65136',
 '65151',
 '65177',
 '65185',
 '65193',
 '65201',
 '65243',
 '65276',
 '65300',
 '65318',
 '65334',
 '65342',
 '65359',
 '65367',
 '65375',
 '65391',
 '65409',
 '65417',
 '65425',
 '65433',
 '65458',
 '65466',
 '65474',
 '65482',
 '65532',
 '65540',
 '65557',
 '65565',
 '65573',
 '65581',
 '65599',
 '65607',
 '65615',
 '65623',
 '65631',
 '65649',
 '65680',
 '65698',
 '65722',
 '65730',
 '65748',
 '65755',
 '65763',
 '65771',
 '65789',
 '65813',
 '65821',
 '65839',
 '65862',
 '65870',
 '65896',
 '65961',
 '65979',
 '65987',
 '65995',
 '66027',
 '66035',
 '66050',
 '66068',
 '66076',
 '66084',
 '66092',
 '66134',
 '66142',
 '66159',
 '66167',
 '66175',
 '66183',
 '66191',
 '66225',
 '66233',
 '66241',
 '66258',
 '66266',
 '66282',
 '66290',
 '66316',
 '66324',
 '66332',
 '66340',
 '66357',
 '66373',
 '66407',
 '66415',
 '66423',
 '66431',
 '66449',
 '66456',
 '66464',
 '66472',
 '66480',
 '66498',
 '66506',
 '66514',
 '66522',
 '66530',
 '66548',
 '66555',
 '66563',
 '66589',
 '66597',
 '66613',
 '66621',
 '66647',
 '66670',
 '66696',
 '66746',
 '66761',
 '66779',
 '66787',
 '66795',
 '66803',
 '66829',
 '66837',
 '66845',
 '66852',
 '66886',
 '66894',
 '66910',
 '66928',
 '66944',
 '66951',
 '66969',
 '66977',
 '66985',
 '66993',
 '67033',
 '67041',
 '67058',
 '67082',
 '67090',
 '67116',
 '67124',
 '67157',
 '67173',
 '67181',
 '67199',
 '67207',
 '67215',
 '67231',
 '67249',
 '67280',
 '67314',
 '67322',
 '67330',
 '67348',
 '67355',
 '67413',
 '67421',
 '67439',
 '67447',
 '67454',
 '67462',
 '67470',
 '67488',
 '67504',
 '67520',
 '67538',
 '67553',
 '67561',
 '67579',
 '67587',
 '67595',
 '67611',
 '67637',
 '67645',
 '67652',
 '67678',
 '67686',
 '67694',
 '67702',
 '67710',
 '67736',
 '67777',
 '67793',
 '67801',
 '67819',
 '67827',
 '67843',
 '67850',
 '67868',
 '67876',
 '67892',
 '67918',
 '67934',
 '67959',
 '67967',
 '67983',
 '67991',
 '68007',
 '68023',
 '68031',
 '68049',
 '68056',
 '68080',
 '68098',
 '68106',
 '68114',
 '68122',
 '68130',
 '68155',
 '68163',
 '68171',
 '68197',
 '68205',
 '68213',
 '68221',
 '68296',
 '68304',
 '68312',
 '68338',
 '68346',
 '68353',
 '68361',
 '68379',
 '68387',
 '68395',
 '68403',
 '68411',
 '68437',
 '68452',
 '68478',
 '68486',
 '68502',
 '68569',
 '68577',
 '68585',
 '68593',
 '68619',
 '68627',
 '68635',
 '68650',
 '68676',
 '68700',
 '68726',
 '68759',
 '68791',
 '68809',
 '68825',
 '68833',
 '68841',
 '68858',
 '68866',
 '68874',
 '68882',
 '68890',
 '68908',
 '68924',
 '68932',
 '68940',
 '68957',
 '68965',
 '68973',
 '68981',
 '68999',
 '69005',
 '69013',
 '69021',
 '69039',
 '69047',
 '69062',
 '69070',
 '69088',
 '69104',
 '69112',
 '69120',
 '69138',
 '69146',
 '69161',
 '69179',
 '69195',
 '69203',
 '69211',
 '69229',
 '69245',
 '69252',
 '69260',
 '69310',
 '69328',
 '69336',
 '69344',
 '69369',
 '69377',
 '69385',
 '69393',
 '69401',
 '69419',
 '69427',
 '69435',
 '69450',
 '69468',
 '69484',
 '69492',
 '69500',
 '69518',
 '69526',
 '69534',
 '69542',
 '69575',
 '69583',
 '69591',
 '69609',
 '69617',
 '69625',
 '69633',
 '69641',
 '69666',
 '69674',
 '69682',
 '69690',
 '69708',
 '69732',
 '69757',
 '69765',
 '69773',
 '69781',
 '69799',
 '69807',
 '69815',
 '69823',
 '69849',
 '69856',
 '69872',
 '69880',
 '69914',
 '69922',
 '69948',
 '69955',
 '69971',
 '69989',
 '69997',
 '70003',
 '70011',
 '70029',
 '70037',
 '70045',
 '70052',
 '70078',
 '70086',
 '70094',
 '70110',
 '70128',
 '70136',
 '70169',
 '70177',
 '70185',
 '70193',
 '70201',
 '70227',
 '70243',
 '70250',
 '70292',
 '70318',
 '70326',
 '70334',
 '70359',
 '70375',
 '70383',
 '70409',
 '70417',
 '70425',
 '70458',
 '70466',
 '70482',
 '70490',
 '70508',
 '70516',
 '70524',
 '70532',
 '70540',
 '70565',
 '70573',
 '70581',
 '70599',
 '70607',
 '70615',
 '70623',
 '70649',
 '70656',
 '70672',
 '70680',
 '70698',
 '70706',
 '70714',
 '70722',
 '70730',
 '70763',
 '70789',
 '70797',
 '70805',
 '70813',
 '70821',
 '70839',
 '70847',
 '70854',
 '70862',
 '70870',
 '70888',
 '70896',
 '70904',
 '70912',
 '70920',
 '70938',
 '70953',
 '70961',
 '70979',
 '70995',
 '71001',
 '71019',
 '71035',
 '71043',
 '71050',
 '71068',
 '71076',
 '71084',
 '71092',
 '71100',
 '71134',
 '71142',
 '71167',
 '71175',
 '71209',
 '71217',
 '71233',
 '71266',
 '71274',
 '71282',
 '71290',
 '71324',
 '71357',
 '71365',
 '71373',
 '71381',
 '71399',
 '71407',
 '71415',
 '71423',
 '71431',
 '71449',
 '71456',
 '71464',
 '71472',
 '71498',
 '71506',
 '71514',
 '71522',
 '71530',
 '71548',
 '71555',
 '71563',
 '71571',
 '71621',
 '71639',
 '71647',
 '71654',
 '71662',
 '71670',
 '71696',
 '71738',
 '71746',
 '71761',
 '71795',
 '71803',
 '71811',
 '71829',
 '71837',
 '71852',
 '71860',
 '71894',
 '71902',
 '71951',
 '71969',
 '71993',
 '72009',
 '72017',
 '72025',
 '72033',
 '72041',
 '72058',
 '72082',
 '72090',
 '72108',
 '72116',
 '72132',
 '72140',
 '72157',
 '72173',
 '72181',
 '72199',
 '72207',
 '72215',
 '72223',
 '72231',
 '72249',
 '72256',
 '72264',
 '72298',
 '72306',
 '72348',
 '72355',
 '72363',
 '72371',
 '72389',
 '72397',
 '72405',
 '72413',
 '72421',
 '72447',
 '72454',
 '72462',
 '72470',
 '72504',
 '72520',
 '72538',
 '72546',
 '72553',
 '72561',
 '72579',
 '72603',
 '72611',
 '72652',
 '72678',
 '72686',
 '72702',
 '72710',
 '72728',
 '72736',
 '72744',
 '72751',
 '72769',
 '73361',
 '73379',
 '73387',
 '73437',
 '73445',
 '73452',
 '73460',
 '73544',
 '73551',
 '73569',
 '73585',
 '73593',
 '73601',
 '73619',
 '73635',
 '73643',
 '73650',
 '73668',
 '73676',
 '73684',
 '73692',
 '73700',
 '73726',
 '73742',
 '73759',
 '73783',
 '73791',
 '73809',
 '73825',
 '73833',
 '73858',
 '73866',
 '73874',
 '73882',
 '73890',
 '73908',
 '73916',
 '73924',
 '73932',
 '73940',
 '73957',
 '73965',
 '73973',
 '73981',
 '73999',
 '75002',
 '75010',
 '75028',
 '75036',
 '75044',
 '75051',
 '75069',
 '75077',
 '75085',
 '75093',
 '75101',
 '75119',
 '75127',
 '75150',
 '75168',
 '75176',
 '75184',
 '75192',
 '75200',
 '75218',
 '75234',
 '75242',
 '75259',
 '75267',
 '75275',
 '75283',
 '75291',
 '75309',
 '75317',
 '75325',
 '75333',
 '75341',
 '75358',
 '75366',
 '75374',
 '75382',
 '75390',
 '75408',
 '75416',
 '75432',
 '75440',
 '75457',
 '75465',
 '75473',
 '75481',
 '75499',
 '75507',
 '75515',
 '75523',
 '75531',
 '75549',
 '75556',
 '75564',
 '75572',
 '75580',
 '75598',
 '75606',
 '75614',
 '75630',
 '75663',
 '75697',
 '75713',
 '75739',
 '76414',
 '76455',
 '76471',
 '76505',
 '76513',
 '76547',
 '76562',
 '76687',
 '76760',
 '76778',
 '76786',
 '76794',
 '76802',
 '76828',
 '76836',
 '76851',
 '76869',
 '76877',
 '76885',
 '76893',
 '76901',
 '76919',
 '76927',
 '76943',
 '76950',
 '76968',
 '76976',
 '76992',
 '77024',
 '77032',
 '77065',
 '77081',
 '77099',
 '77107',
 '77131',
 '77149',
 '77156',
 '77164',
 '77172',
 '77180',
 '77198',
 '77206',
 '77214',
 '77222'}

In [90]:
s3 = s2.difference(s1)
len(s3)

34

In [91]:
s4 = s1.difference(s2)
len(s4)

12

In [92]:
f1 = dflcff[~dflcff['District Code'].isin(s4)]
f1

,District Code,Local Educational Agency,unduplicated_pupil_count,base_grant,supplemental_grant,concentration_grant,total_grants,cds
10,61119,Alameda Unified,0.3486,"75,938,983","5,294,466",-,"82,158,116",01611190000000
16,61127,Albany City Unified,0.2833,"29,644,972","1,679,684",-,"31,352,540",01611270000000
17,61143,Berkeley Unified,0.3519,"78,556,532","5,528,808",-,"89,369,621",01611430000000
19,61150,Castro Valley Unified,0.2904,"74,911,585","4,350,864",-,"79,554,607",01611500000000
20,61168,Emery Unified,0.7953,"5,702,229","906,997","699,378","7,326,875",01611680000000
...,...,...,...,...,...,...,...,...
2233,72728,Camptonville Elementary,0.6988,"420,692","58,796","31,299","537,244",58727280000000
2235,72736,Marysville Joint Unified,0.8168,"76,193,862","12,447,028","10,164,261","100,261,913",58727360000000
2238,72744,Plumas Lake Elementary,0.3868,"10,261,440","793,825",-,"11,108,901",58727440000000
2239,72751,Wheatland,0.4783,"9,947,133","951,543",-,"11,234,349",58727510000000
2241,72769,Wheatland Union High,0.4283,"7,062,422","604,967",-,"7,852,628",58727690000000

In [93]:
f2 = dffrpm[~dffrpm['District Code'].isin(s3)]
f2

,district_name,enrollment_by_age,free_count_by_age,frpm_count_by_age,pct_frpm_by_age,pct_free_by_age,District Code
0,ABC Unified,20022,8508,9994,0.499151,0.424933,64212
1,Acalanes Union High,5487,334,358,0.065245,0.060871,61630
2,Ackerman Charter,584,154,180,0.308219,0.263699,66761
3,Acton-Agua Dulce Unified,13553,5745,6389,0.471409,0.423891,75309
4,Adelanto Elementary,8512,6158,6708,0.788064,0.723449,67587
...,...,...,...,...,...,...,...
961,Yosemite Unified,2036,881,977,0.479862,0.432711,76414
962,Yreka Union Elementary,984,634,702,0.713415,0.644309,70508
963,Yreka Union High,610,269,290,0.475410,0.440984,70516
964,Yuba City Unified,12839,8182,9518,0.741335,0.637277,71464
965,Yucaipa-Calimesa Joint Unified,9783,4260,4960,0.507002,0.435449,67959

In [94]:
# this is done!!!!
df2 = f1.merge(f2, on='District Code')
df2

,District Code,Local Educational Agency,unduplicated_pupil_count,base_grant,supplemental_grant,concentration_grant,total_grants,cds,district_name,enrollment_by_age,free_count_by_age,frpm_count_by_age,pct_frpm_by_age,pct_free_by_age
0,61119,Alameda Unified,0.3486,"75,938,983","5,294,466",-,"82,158,116",01611190000000,Alameda Unified,11031,2953,3306,0.299701,0.267700
1,61127,Albany City Unified,0.2833,"29,644,972","1,679,684",-,"31,352,540",01611270000000,Albany City Unified,3612,647,742,0.205426,0.179125
2,61143,Berkeley Unified,0.3519,"78,556,532","5,528,808",-,"89,369,621",01611430000000,Berkeley Unified,10022,2758,3153,0.314608,0.275195
3,61150,Castro Valley Unified,0.2904,"74,911,585","4,350,864",-,"79,554,607",01611500000000,Castro Valley Unified,9106,1811,2178,0.239183,0.198880
4,61168,Emery Unified,0.7953,"5,702,229","906,997","699,378","7,326,875",01611680000000,Emery Unified,727,515,583,0.801926,0.708391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
927,72728,Camptonville Elementary,0.6988,"420,692","58,796","31,299","537,244",58727280000000,Camptonville Elementary,475,200,260,0.547368,0.421053
928,72736,Marysville Joint Unified,0.8168,"76,193,862","12,447,028","10,164,261","100,261,913",58727360000000,Marysville Joint Unified,9963,7226,7833,0.786209,0.725284
929,72744,Plumas Lake Elementary,0.3868,"10,261,440","793,825",-,"11,108,901",58727440000000,Plumas Lake Elementary,1301,374,478,0.367410,0.287471
930,72751,Wheatland,0.4783,"9,947,133","951,543",-,"11,234,349",58727510000000,Wheatland,1364,457,644,0.472141,0.335044
931,72769,Wheatland Union High,0.4283,"7,062,422","604,967",-,"7,852,628",58727690000000,Wheatland Union High,765,253,335,0.437908,0.330719

# WORKING CELLS: performance

In [150]:
dfe2 = dfe[dfe['District Code'] !='70318']
dfe2
# inherent problem: after dropping extra district, still 5 extra rows?

,District Code,districtname,studentgroup,ela_currstatus,ela_priorstatus,ela_change,dfm
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,NaN
165,61119,Alameda Unified,american_indian,-14.8,14.3,-29.1,NaN
166,61119,Alameda Unified,all_students,36.8,32.8,4.0,NaN
167,61119,Alameda Unified,asian,48.6,54.0,-5.3,NaN
168,61119,Alameda Unified,english_learners,-2.5,-1.4,-1.1,NaN
...,...,...,...,...,...,...,...
148816,72769,Wheatland Union High,pacific_islander,NaN,NaN,NaN,NaN
148817,72769,Wheatland Union High,rfep_only,NaN,NaN,NaN,NaN
148818,72769,Wheatland Union High,ses_disad,-28.4,-7.9,-20.6,NaN
148819,72769,Wheatland Union High,disabilities,-150.3,NaN,NaN,NaN
148820,72769,Wheatland Union High,white,11.7,14.2,-2.5,NaN

In [151]:
dfm.shape

(13603, 6)

In [90]:
dfe.head(50)

,District Code,districtname,studentgroup,ela_currstatus,ela_priorstatus,ela_change
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7
165,61119,Alameda Unified,american_indian,-14.8,14.3,-29.1
166,61119,Alameda Unified,all_students,36.8,32.8,4.0
167,61119,Alameda Unified,asian,48.6,54.0,-5.3
168,61119,Alameda Unified,english_learners,-2.5,-1.4,-1.1
169,61119,Alameda Unified,english_learners_only,-42.0,-44.7,2.7
170,61119,Alameda Unified,english_only,43.5,38.3,5.2
171,61119,Alameda Unified,filipino,29.8,16.0,13.9
172,61119,Alameda Unified,foster_youth,NaN,NaN,NaN
173,61119,Alameda Unified,hispanic,5.0,0.9,4.1
174,61119,Alameda Unified,homeless_youth,-75.5,-56.7,-18.7
175,61119,Alameda Unified,multiple_races,46.6,40.4,6.2
176,61119,Alameda Unified,pacific_islander,-27.3,-49.1,21.8
177,61119,Alameda Unified,rfep_only,55.0,55.5,-0.5
178,61119,Alameda Unified,ses_disad,-13.1,-20.0,6.9
179,61119,Alameda Unified,disabilities,-73.1,-80.4,7.3
180,61119,Alameda Unified,white,60.8,54.1,6.7
488,61127,Albany City Unified,african_american,-9.6,12.2,-21.8
489,61127,Albany City Unified,american_indian,NaN,NaN,NaN
490,61127,Albany City Unified,all_students,57.5,64.1,-6.6
491,61127,Albany City Unified,asian,73.0,73.7,-0.8
492,61127,Albany City Unified,english_learners,31.0,37.6,-6.6
493,61127,Albany City Unified,english_learners_only,-11.4,-12.5,1.1
494,61127,Albany City Unified,english_only,60.9,68.0,-7.1
495,61127,Albany City Unified,filipino,38.0,23.3,14.7
496,61127,Albany City Unified,foster_youth,NaN,NaN,NaN
497,61127,Albany City Unified,hispanic,25.6,28.9,-3.3
498,61127,Albany City Unified,homeless_youth,NaN,NaN,NaN
499,61127,Albany City Unified,multiple_races,53.9,58.8,-4.9
500,61127,Albany City Unified,pacific_islander,NaN,NaN,NaN
501,61127,Albany City Unified,rfep_only,60.9,71.4,-10.6
502,61127,Albany City Unified,ses_disad,14.5,26.6,-12.1
503,61127,Albany City Unified,disabilities,-35.9,-23.9,-12.0
504,61127,Albany City Unified,white,67.9,79.3,-11.4
583,61143,Berkeley Unified,african_american,-64.9,-73.5,8.6
584,61143,Berkeley Unified,american_indian,62.3,NaN,NaN
585,61143,Berkeley Unified,all_students,32.2,20.0,12.3
586,61143,Berkeley Unified,asian,28.5,24.3,4.2
587,61143,Berkeley Unified,english_learners,-47.2,-52.6,5.4
588,61143,Berkeley Unified,english_learners_only,-82.8,-75.4,-7.4
589,61143,Berkeley Unified,english_only,43.5,31.4,12.1
590,61143,Berkeley Unified,filipino,62.5,18.4,44.1
591,61143,Berkeley Unified,foster_youth,-53.1,NaN,NaN
592,61143,Berkeley Unified,hispanic,-5.3,-20.7,15.5
593,61143,Berkeley Unified,homeless_youth,-71.4,-75.4,4.1
594,61143,Berkeley Unified,multiple_races,51.9,43.8,8.1
595,61143,Berkeley Unified,pacific_islander,NaN,NaN,NaN
596,61143,Berkeley Unified,rfep_only,14.4,-3.2,17.6
597,61143,Berkeley Unified,ses_disad,-33.0,-47.1,14.1
598,61143,Berkeley Unified,disabilities,-86.0,-92.1,6.1

In [93]:
dfe2 = dfe
dfe2

,District Code,districtname,studentgroup,ela_currstatus,ela_priorstatus,ela_change
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7
165,61119,Alameda Unified,american_indian,-14.8,14.3,-29.1
166,61119,Alameda Unified,all_students,36.8,32.8,4.0
167,61119,Alameda Unified,asian,48.6,54.0,-5.3
168,61119,Alameda Unified,english_learners,-2.5,-1.4,-1.1
...,...,...,...,...,...,...
148816,72769,Wheatland Union High,pacific_islander,NaN,NaN,NaN
148817,72769,Wheatland Union High,rfep_only,NaN,NaN,NaN
148818,72769,Wheatland Union High,ses_disad,-28.4,-7.9,-20.6
148819,72769,Wheatland Union High,disabilities,-150.3,NaN,NaN
148820,72769,Wheatland Union High,white,11.7,14.2,-2.5

In [123]:
# Create a variable
mscore = []


for row in dfm['District Code'], dfm['studentgroup']:
    mscore.append(row)


dfe2['m_currstatus'] = mscore

# View the dataframe
dfe2

# cannot add (ignore index=True) to append line

ValueError: Length of values does not match length of index

In [ ]:
pdict = {}

In [183]:
values = dfm.values
keys = mkey
for i in keys:
    for x in values:
        pdict[i] = x
pdict

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [122]:
# Can I use the codes and groups to merge onto original dfe dataframe?
mdist = dfm['District Code']
mgroup = dfm['studentgroup']
mscore = dfm['m_currstatus']
mprio = dfm['m_priorstatus']
mchange = dfm['m_change']
mscores = list(zip(mdist, mgroup, mscore, mprio, mchange))
mscores

[(-83.9, -82.8, -1.1),
 (-51.8, -50.0, -1.8),
 (14.3, 10.8, 3.4),
 (43.6, 44.8, -1.2),
 (-13.7, -12.9, -0.9),
 (-42.4, -42.9, 0.5),
 (17.8, 13.0, 4.7),
 (-3.5, -12.7, 9.3),
 (nan, nan, nan),
 (-24.4, -26.7, 2.3),
 (-112.4, -92.3, -20.1),
 (28.3, 22.8, 5.6),
 (-77.2, -83.0, 5.9),
 (27.8, 26.5, 1.3),
 (-35.3, -38.8, 3.6),
 (-99.5, -104.5, 5.0),
 (29.8, 26.0, 3.8),
 (-41.4, -23.1, -18.3),
 (nan, nan, nan),
 (41.2, 48.1, -6.9),
 (76.2, 74.0, 2.2),
 (30.7, 29.7, 0.9),
 (0.5, -19.2, 19.8),
 (37.9, 47.6, -9.7),
 (20.2, -14.4, 34.6),
 (nan, nan, nan),
 (-2.7, 3.1, -5.8),
 (nan, nan, nan),
 (32.4, 40.5, -8.1),
 (nan, nan, nan),
 (52.2, 64.4, -12.2),
 (0.5, 9.7, -9.2),
 (-55.7, -43.4, -12.3),
 (46.1, 59.3, -13.2),
 (-86.3, -92.8, 6.5),
 (nan, nan, nan),
 (14.9, 6.1, 8.9),
 (24.9, 19.2, 5.7),
 (-52.9, -53.3, 0.4),
 (-81.6, -69.5, -12.1),
 (24.8, 15.2, 9.5),
 (57.8, 4.4, 53.4),
 (-52.8, nan, nan),
 (-22.6, -32.3, 9.7),
 (-86.2, -98.9, 12.7),
 (33.4, 22.4, 10.9),
 (nan, nan, nan),
 (-2.2, -17.4, 15.2),
 (-50.2, -60.2, 10.0),
 (-105.2, -108.5, 3.3),
 (62.5, 59.0, 3.5),
 (-42.8, -49.9, 7.1),
 (nan, nan, nan),
 (22.0, 18.9, 3.1),
 (76.1, 71.7, 4.5),
 (9.0, 6.2, 2.8),
 (-47.5, -44.7, -2.9),
 (17.0, 14.3, 2.8),
 (13.9, 18.8, -4.9),
 (nan, nan, nan),
 (-27.2, -29.7, 2.5),
 (-112.1, -51.3, -60.8),
 (28.1, 27.7, 0.4),
 (-9.4, 2.0, -11.4),
 (36.6, 28.9, 7.6),
 (-23.3, -27.4, 4.1),
 (-85.1, -92.1, 7.0),
 (24.8, 19.5, 5.3),
 (-101.3, -104.0, 2.7),
 (nan, nan, nan),
 (-76.5, -81.7, 5.3),
 (-32.9, -48.9, 16.0),
 (-62.3, -62.0, -0.3),
 (-87.5, -78.2, -9.3),
 (-92.8, -99.4, 6.6),
 (nan, nan, nan),
 (nan, nan, nan),
 (-71.5, -68.7, -2.8),
 (nan, nan, nan),
 (-59.6, nan, nan),
 (nan, nan, nan),
 (-24.6, -18.1, -6.5),
 (-83.6, -91.0, 7.5),
 (-136.7, -150.9, 14.2),
 (-43.5, -48.5, 5.1),
 (-61.4, -64.3, 2.8),
 (4.6, -7.8, 12.4),
 (61.6, 57.4, 4.2),
 (104.5, 102.2, 2.4),
 (34.5, 22.7, 11.8),
 (-69.0, -51.4, -17.6),
 (53.6, 49.4, 4.2),
 (14.8, 15.7, -0.8),
 (nan, -47.2, nan),
 (-47.5, -48.5, 1.0),
 (-88.0, -87.5, -0.6),
 (34.4, 29.8, 4.6),
 (-47.3, -39.9, -7.4),
 (67.7, 63.6, 4.1),
 (-33.1, -40.6, 7.5),
 (-80.5, -86.3, 5.8),
 (11.5, 8.1, 3.3),
 (-94.5, -96.8, 2.4),
 (-54.3, -82.6, 28.2),
 (-65.1, -69.6, 4.5),
 (-4.6, -6.2, 1.6),
 (-84.4, -87.5, 3.1),
 (-120.8, -124.2, 3.4),
 (-60.7, -62.6, 1.9),
 (-8.5, -8.5, 0.0),
 (-146.5, -134.5, -11.9),
 (-76.6, -81.8, 5.2),
 (-96.1, -85.9, -10.1),
 (-31.1, -28.8, -2.3),
 (-71.0, -74.3, 3.4),
 (-51.3, -56.5, 5.2),
 (-75.9, -81.2, 5.3),
 (-144.0, -142.7, -1.3),
 (-45.4, -54.6, 9.2),
 (-42.2, -59.6, 17.5),
 (-64.3, -81.9, 17.7),
 (-6.3, -10.1, 3.8),
 (63.7, 49.3, 14.4),
 (-60.1, -65.7, 5.6),
 (-105.7, -104.0, -1.6),
 (3.9, 0.9, 3.0),
 (7.7, 3.6, 4.1),
 (-81.2, nan, nan),
 (-55.1, -54.0, -1.1),
 (-75.2, -64.5, -10.7),
 (22.9, 16.2, 6.6),
 (-44.1, -28.5, -15.6),
 (-8.8, -10.7, 1.9),
 (-65.2, -69.8, 4.6),
 (-102.8, -109.8, 7.0),
 (8.6, 6.1, 2.5),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (-66.7, -72.9, 6.3),
 (nan, nan, nan),
 (-39.3, -38.1, -1.2),
 (34.4, 24.0, 10.4),
 (-71.9, -68.8, -3.1),
 (-107.4, -108.3, 0.9),
 (-19.9, -20.4, 0.5),
 (0.9, -6.8, 7.7),
 (nan, nan, nan),
 (-71.9, -64.8, -7.1),
 (-74.2, -62.1, -12.1),
 (4.8, -3.5, 8.3),
 (-48.1, -34.0, -14.1),
 (-31.0, -37.8, 6.8),
 (-65.8, -64.3, -1.4),
 (-140.7, -126.4, -14.3),
 (-10.5, -9.6, -0.9),
 (-84.0, -94.4, 10.4),
 (-9.3, -45.3, 35.9),
 (-30.2, -30.9, 0.7),
 (25.2, 23.5, 1.6),
 (-64.1, -62.8, -1.3),
 (-108.2, -114.5, 6.3),
 (-30.7, -32.5, 1.8),
 (-8.9, -6.5, -2.4),
 (nan, -99.6, nan),
 (-68.9, -71.7, 2.7),
 (-112.3, -109.9, -2.4),
 (-11.7, -8.6, -3.1),
 (-58.0, -48.2, -9.7),
 (-11.5, -15.9, 4.4),
 (-62.3, -64.5, 2.2),
 (-141.2, -137.1, -4.1),
 (-32.3, -20.5, -11.8),
 (-118.5, -121.3, 2.7),
 (-94.7, -113.8, 19.1),
 (-71.4, -74.1, 2.7),
 (-9.6, -12.2, 2.7),
 (-92.0, -87.2, -4.8),
 (-131.1, -127.6, -3.4),
 (-62.9, -68.7, 5.8),
 (-53.9, -64.2, 10.4),
 (-143.8, -138.6, -5.1),
 (-94.5, -94.8, 0.3),
 (-167.4, -162.5, -4.9),
 (2.1, -1.3, 3.4),
 (-90.1, -87.8, -2.3),
 (-33.6, -37.1, 3.4),
 (-93.4, -94.7, 1.3),
 (-156.6, -155.3, -1.3),
 (16.9, 14.2, 2.7),
 (-33.6, -51.4, 17.9),
 (nan, nan, nan),
 (80.2, 76.7, 3.5),
 (105.7, 96.0, 9.7),
 (52.4, 49.9, 2.5),
 (nan, 35.6, nan),
 (79.5, 76.1, 3.4),
 (nan, nan, nan),
 (38.5, 43.9, -5.4),
 (85.0, 84.9, 0.2),
 (54.7, 55.8, -1.1),
 (-5.8, -52.8, 46.9),
 (2.8, 1.3, 1.5),
 (82.0, 77.2, 4.7),
 (-122.6, -114.6, -8.0),
 (-119.2, -95.5, -23.8),
 (-70.4, -66.1, -4.3),
 (-4.4, 0.8, -5.2),
 (-83.4, -77.5, -5.9),
 (-117.9, -111.6, -6.3),
 (-69.9, -67.4, -2.4),
 (-36.1, -37.7, 1.6),
 (-196.7, -115.2, -81.5),
 (-90.1, -84.5, -5.7),
 (-152.0, -126.2, -25.9),
 (-38.9, -36.9, -2.0),
 (-84.1, -97.6, 13.5),
 (-19.4, -25.2, 5.8),
 (-86.2, -81.3, -4.9),
 (-157.6, -146.6, -11.0),
 (-42.6, -41.8, -0.8),
 (-125.6, -127.7, 2.2),
 (-73.4, -61.6, -11.8),
 (-71.6, -69.0, -2.6),
 (7.0, 11.9, -4.9),
 (-81.4, -78.9, -2.5),
 (-110.9, -117.0, 6.1),
 (-77.4, -76.3, -1.1),
 (-29.1, -27.3, -1.8),
 (nan, -101.2, nan),
 (-89.5, -85.5, -4.0),
 (-113.7, -122.0, 8.3),
 (-57.3, -57.4, 0.1),
 (-99.4, -86.2, -13.2),
 (-43.9, -47.6, 3.7),
 (-81.9, -80.5, -1.4),
 (-161.6, -158.8, -2.8),
 (-59.5, -53.8, -5.7),
 (-48.6, -58.4, 9.8),
 (86.6, nan, nan),
 (53.5, 50.9, 2.6),
 (94.8, 93.9, 1.0),
 (32.8, 30.1, 2.7),
 (-46.9, -43.4, -3.5),
 (41.8, 39.9, 2.0),
 (41.5, 42.5, -1.0),
 (-22.9, -21.3, -1.7),
 (nan, nan, nan),
 (34.0, 39.8, -5.8),
 (22.9, nan, nan),
 (63.0, 65.2, -2.2),
 (-34.3, -43.6, 9.3),
 (-53.9, -57.3, 3.3),
 (22.8, 22.5, 0.3),
 (-34.8, -15.0, -19.8),
 (nan, nan, nan),
 (62.6, 62.5, 0.1),
 (110.5, 111.3, -0.8),
 (42.4, 36.3, 6.1),
 (-6.3, -27.4, 21.0),
 (47.4, 48.8, -1.4),
 (44.2, 41.0, 3.2),
 (nan, nan, nan),
 (-11.7, -12.1, 0.5),
 (-34.7, -38.4, 3.7),
 (46.9, 44.3, 2.6),
 (37.8, 23.9, 13.8),
 (81.6, 72.9, 8.7),
 (-20.6, -26.1, 5.5),
 (-50.9, -52.5, 1.5),
 (39.6, 41.0, -1.3),
 (nan, nan, nan),
 (76.4, 57.5, 18.8),
 (83.1, 86.0, -3.0),
 (72.9, 88.4, -15.5),
 (nan, nan, nan),
 (72.3, 53.0, 19.3),
 (nan, nan, nan),
 (43.9, 25.8, 18.1),
 (102.2, 100.1, 2.1),
 (78.9, 94.4, -15.5),
 (73.2, nan, nan),
 (48.9, 40.2, 8.7),
 (78.5, 49.0, 29.5),
 (-11.3, -59.2, 48.0),
 (17.0, -7.4, 24.4),
 (17.0, -7.4, 24.4),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (-7.2, -42.2, 35.0),
 (-63.4, -68.6, 5.2),
 (37.6, 14.6, 23.0),
 (nan, -56.7, nan),
 (-103.2, -80.0, -23.2),
 (-61.7, -49.5, -12.2),
 (11.2, 11.0, 0.2),
 (-71.9, -64.3, -7.7),
 (-73.9, -65.8, -8.1),
 (-60.3, -48.0, -12.3),
 (nan, -49.0, nan),
 (-115.7, -99.4, -16.3),
 (-81.2, -65.5, -15.7),
 (-55.6, -59.5, 3.9),
 (-62.6, -58.9, -3.7),
 (nan, nan, nan),
 (-70.4, -64.2, -6.3),
 (-83.7, -74.6, -9.2),
 (-136.6, -133.5, -3.0),
 (-55.2, -43.2, -12.0),
 (-64.2, -68.5, 4.3),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (-55.4, -62.6, 7.2),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (-68.6, -78.6, 10.0),
 (nan, -119.4, nan),
 (-47.6, -50.4, 2.7),
 (nan, nan, nan),
 (nan, nan, nan),
 (-95.5, -90.9, -4.6),
 (nan, nan, nan),
 (-124.7, -127.3, 2.6),
 (-153.6, -139.1, -14.5),
 (-90.8, -79.0, -11.8),
 (nan, nan, nan),
 (-112.1, -110.2, -1.9),
 (-139.0, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (-94.7, -105.1, 10.4),
 (-110.8, -100.0, -10.7),
 (-184.2, -188.7, 4.6),
 (-82.0, -75.4, -6.6),
 (-62.7, -69.7, 7.0),
 (-71.2, -46.5, -24.7),
 (-24.0, -26.5, 2.5),
 (-16.3, -28.3, 12.0),
 (-78.4, -80.8, 2.5),
 (-102.9, -102.0, -0.9),
 (-16.6, -18.6, 2.0),
 (15.8, 16.6, -0.9),
 (-123.6, -120.9, -2.7),
 (-61.3, -60.6, -0.7),
 (-101.1, -86.8, -14.3),
 (-40.7, -44.2, 3.6),
 (-6.0, -5.6, -0.4),
 (-62.8, -64.7, 1.8),
 (-64.3, -67.0, 2.7),
 (-114.5, -116.2, 1.7),
 (-4.7, -8.7, 4.0),
 (nan, nan, nan),
 (nan, nan, nan),
 (-14.8, -16.2, 1.4),
 (nan, nan, nan),
 (-62.4, -78.8, 16.4),
 (-76.3, -92.9, 16.7),
 (-7.5, -6.7, -0.7),
 (nan, nan, nan),
 (nan, nan, nan),
 (-62.5, -73.4, 10.8),
 (-56.0, nan, nan),
 (8.2, 5.3, 2.8),
 (-47.2, -36.2, -11.0),
 (-55.9, -60.3, 4.4),
 (-121.9, -139.0, 17.2),
 (-1.6, -1.5, -0.1),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (-61.4, -92.9, 31.5),
 (nan, nan, nan),
 (nan, nan, nan),
 (-58.4, -84.5, 26.1),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (-55.9, -103.5, 47.6),
 (nan, -191.7, nan),
 (-57.1, -98.0, 40.9),
 (nan, nan, nan),
 (6.2, 4.9, 1.3),
 (8.9, -15.8, 24.7),
 (-22.1, -48.7, 26.7),
 (-26.2, -46.0, 19.9),
 (12.5, 19.6, -7.1),
 (-22.4, -30.3, 7.9),
 (nan, nan, nan),
 (nan, nan, nan),
 (-10.7, -9.5, -1.2),
 (-122.7, nan, nan),
 (27.8, 34.1, -6.3),
 (-123.8, -145.6, 21.7),
 (-86.9, -87.0, 0.1),
 (-75.5, -77.4, 1.9),
 (-56.4, -81.8, 25.4),
 (-77.9, -83.3, 5.4),
 (-111.9, -109.6, -2.4),
 (-76.0, -77.1, 1.1),
 (nan, nan, nan),
 (-111.0, -124.0, 13.0),
 (-81.7, -74.6, -7.1),
 (-104.9, -86.8, -18.1),
 (-84.5, -87.5, 3.0),
 (nan, nan, nan),
 (-53.2, -65.9, 12.7),
 (-85.8, -86.8, 1.0),
 (-157.6, -154.0, -3.7),
 (-71.4, -69.7, -1.7),
 (-184.6, -148.6, -36.0),
 (-97.7, -84.0, -13.7),
 (-95.5, -90.6, -4.8),
 (-34.8, -73.2, 38.4),
 (-126.4, -141.0, 14.6),
 (nan, -158.1, nan),
 (-103.2, -89.7, -13.5),
 (nan, nan, nan),
 (nan, nan, nan),
 (-133.5, -102.5, -31.0),
 (-125.6, -115.1, -10.5),
 (nan, -88.4, nan),
 (nan, nan, nan),
 (-109.7, -130.9, 21.2),
 (-101.9, -105.6, 3.6),
 (-196.4, -207.9, 11.5),
 (-100.1, -87.0, -13.1),
 (nan, nan, nan),
 (-72.7, -83.8, 11.0),
 (-80.3, -81.4, 1.0),
 (-59.5, -63.0, 3.5),
 (-101.2, -105.6, 4.4),
 (-134.4, -141.2, 6.8),
 (-76.1, -76.8, 0.7),
 (nan, nan, nan),
 (-129.0, -104.3, -24.8),
 (-93.5, -93.9, 0.4),
 (-81.5, -82.9, 1.4),
 (-57.8, -77.7, 19.9),
 (-67.2, -69.0, 1.8),
 (-88.4, -88.5, 0.2),
 (-162.4, -148.1, -14.3),
 (-75.8, -73.3, -2.5),
 (nan, nan, nan),
 (-100.4, -111.6, 11.2),
 (-54.5, -59.6, 5.1),
 (-38.2, -31.3, -6.9),
 (-91.3, -76.5, -14.8),
 (-120.4, -98.9, -21.5),
 (-53.1, -59.0, 5.9),
 (nan, nan, nan),
 (-99.0, -93.3, -5.7),
 (-64.3, -69.0, 4.6),
 (-61.6, -69.3, 7.7),
 (-69.4, -71.2, 1.8),
 (nan, nan, nan),
 (-58.2, -37.8, -20.4),
 (-72.8, -73.4, 0.6),
 (-161.6, -157.6, -4.0),
 (-50.0, -55.5, 5.5),
 (-88.5, -95.9, 7.4),
 (-94.9, -73.0, -22.0),
 (-67.6, -65.8, -1.8),
 (-51.8, -49.2, -2.6),
 (-64.2, -67.0, 2.8),
 (-99.5, -99.4, -0.2),
 (-69.5, -67.2, -2.4),
 (nan, nan, nan),
 (-130.4, nan, nan),
 (-64.4, -80.0, 15.7),
 (-109.3, nan, nan),
 (-65.1, -75.9, 10.8),
 (nan, nan, nan),
 (-33.4, -42.0, 8.6),
 (-72.3, -68.0, -4.3),
 (-167.4, -164.5, -2.9),
 (-77.5, -69.5, -8.0),
 (nan, nan, nan),
 (-66.5, -100.4, 33.9),
 (-66.5, -100.4, 33.9),
 (nan, nan, nan),
 (nan, nan, nan),
 (-78.5, -101.9, 23.5),
 (nan, nan, nan),
 (-68.7, -96.3, 27.6),
 (nan, nan, nan),
 (nan, nan, nan),
 (-37.2, -45.8, 8.6),
 (9.6, -28.0, 37.6),
 (-55.2, -67.3, 12.1),
 (-74.0, -84.0, 10.0),
 (-29.9, -36.3, 6.4),
 (nan, -64.8, nan),
 (-43.7, -55.2, 11.5),
 (nan, -56.1, nan),
 (nan, nan, nan),
 (-44.2, -44.8, 0.6),
 (-47.3, -55.7, 8.4),
 (-121.8, -125.7, 3.9),
 (-24.8, -29.9, 5.0),
 (nan, nan, nan),
 (-53.4, -42.1, -11.3),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (-51.3, -40.3, -11.0),
 (nan, nan, nan),
 (-109.6, -73.3, -36.2),
 (-76.5, nan, nan),
 (nan, nan, nan),
 (-94.2, -75.4, -18.8),
 (-194.3, -171.3, -23.0),
 (-37.9, -34.2, -3.7),
 (nan, nan, nan),
 (-113.1, -104.0, -9.1),
 (-56.1, -55.7, -0.5),
 (-67.8, -30.1, -37.6),
 (-111.4, -117.1, 5.7),
 (-125.8, -136.3, 10.5),
 (-53.7, -52.2, -1.5),
 (nan, nan, nan),
 (-92.1, -81.7, -10.4),
 (-74.4, -82.1, 7.6),
 (-87.0, -91.1, 4.1),
 (-32.6, -53.3, 20.8),
 (nan, nan, nan),
 (-76.0, -80.8, 4.8),
 (-71.2, -74.7, 3.4),
 (-131.1, -142.4, 11.2),
 (-51.2, -48.2, -3.1),
 (nan, nan, nan),
 (nan, nan, nan),
 (-44.6, -43.6, -0.9),
 (nan, nan, nan),
 (-81.0, -67.9, -13.1),
 (-116.2, -94.0, -22.2),
 (-41.5, -42.1, 0.6),
 (nan, nan, nan),
 (nan, nan, nan),
 (-55.2, -56.0, 0.8),
 (nan, nan, nan),
 (-58.2, -40.6, -17.5),
 (-34.7, -49.9, 15.2),
 (-56.0, -59.7, 3.6),
 (-119.4, -134.9, 15.5),
 (-41.6, -40.6, -1.0),
 (nan, nan, nan),
 (-3.7, -0.2, -3.5),
 (nan, nan, nan),
 (-39.4, -57.3, 18.0),
 (-77.0, -107.6, 30.6),
 (-1.8, 3.0, -4.8),
 (nan, nan, nan),
 (-23.6, -23.5, -0.1),
 (nan, nan, nan),
 (-26.6, -44.5, 17.9),
 (nan, nan, nan),
 (-32.0, -39.1, 7.1),
 (-88.1, -101.0, 12.9),
 (2.5, 6.4, -3.9),
 (nan, nan, nan),
 (-73.3, -47.5, -25.8),
 (-52.3, -49.8, -2.4),
 (nan, nan, nan),
 (-72.6, -74.2, 1.6),
 (-93.1, -95.6, 2.5),
 (-36.9, -36.0, -0.9),
 (nan, nan, nan),
 (-66.1, -63.1, -2.9),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (0.4, -16.9, 17.2),
 (-67.6, -63.0, -4.6),
 (-151.1, -166.9, 15.8),
 (-4.8, -11.5, 6.8),
 (nan, nan, nan),
 (-33.3, -30.5, -2.8),
 (nan, nan, nan),
 (-44.1, -34.1, -10.0),
 (-60.0, -41.9, -18.1),
 (-25.6, -27.6, 2.0),
 (nan, nan, nan),
 (-42.1, -38.7, -3.5),
 (-22.1, -38.8, 16.7),
 (nan, nan, nan),
 (nan, nan, nan),
 (-3.0, 0.9, -3.9),
 (-40.2, -37.0, -3.1),
 (-89.6, -110.6, 21.0),
 (-15.3, -6.6, -8.7),
 (nan, -130.8, nan),
 (-52.0, -53.2, 1.2),
 (nan, nan, nan),
 (-69.2, -69.4, 0.2),
 (-97.8, -76.6, -21.2),
 (-28.3, -28.2, -0.1),
 (nan, nan, nan),
 (-61.3, -63.5, 2.3),
 (-85.4, -44.7, -40.7),
 (-52.1, nan, nan),
 (nan, nan, nan),
 (-39.8, -58.1, 18.3),
 (-63.0, -65.0, 2.0),
 (-141.0, -138.4, -2.5),
 (-16.9, -15.2, -1.7),
 (nan, nan, nan),
 (nan, nan, nan),
 (-78.0, -74.3, -3.6),
 (nan, nan, nan),
 (-76.1, -77.3, 1.2),
 (-100.1, -93.9, -6.2),
 (-68.9, -63.8, -5.1),
 (nan, nan, nan),
 (-78.6, -76.4, -2.2),
 (-77.1, -142.8, 65.7),
 (nan, nan, nan),
 (-52.4, -54.3, 1.9),
 (-80.1, -77.6, -2.4),
 (-139.6, -144.0, 4.4),
 (-76.3, -53.5, -22.8),
 (-66.2, -94.5, 28.3),
 (nan, nan, nan),
 (44.0, 47.8, -3.9),
 (99.8, 98.9, 0.8),
 (-25.1, -33.2, 8.1),
 (-44.6, -73.9, 29.3),
 (43.7, 47.4, -3.7),
 (55.5, 47.4, 8.2),
 (nan, nan, nan),
 (-3.8, 7.7, -11.5),
 (63.0, 75.6, -12.6),
 (nan, nan, nan),
 (-5.7, 7.8, -13.5),
 (-5.4, -38.7, 33.4),
 (-108.2, -109.3, 1.1),
 (41.2, 42.4, -1.2),
 (-124.6, -120.4, -4.2),
 (-109.2, -112.6, 3.4),
 (-90.0, -82.8, -7.2),
 (-43.2, -24.3, -18.9),
 (-99.1, -91.1, -8.0),
 (-131.3, -115.8, -15.5),
 (-89.2, -83.5, -5.7),
 (-27.4, -19.8, -7.7),
 (-136.9, -139.6, 2.7),
 (-93.2, -86.3, -6.8),
 (-120.1, -124.9, 4.8),
 (-67.0, -57.9, -9.1),
 (-83.2, -75.3, -8.0),
 (-48.3, -33.1, -15.2),
 (-101.5, -96.0, -5.5),
 (-178.2, -171.3, -6.9),
 (-64.8, -56.4, -8.4),
 (-40.3, -42.3, 2.0),
 (5.8, -37.1, 42.9),
 (-3.6, -2.2, -1.4),
 (44.1, 42.3, 1.8),
 (-40.2, -38.0, -2.3),
 (-83.6, -88.2, 4.6),
 (0.8, 3.0, -2.3),
 (37.2, 38.4, -1.2),
 (-105.1, -91.8, -13.4),
 (-28.8, -28.6, -0.2),
 (-45.0, -29.7, -15.3),
 (2.5, 8.0, -5.5),
 (-18.9, -6.5, -12.4),
 (15.2, 12.4, 2.9),
 (-39.0, -44.0, 5.0),
 (-71.6, -76.4, 4.8),
 (8.4, 10.4, -2.0),
 (-70.3, -42.6, -27.8),
 (-50.6, -32.2, -18.4),
 (-13.0, -5.9, -7.1),
 (-4.7, 12.4, -17.1),
 (-39.3, -41.1, 1.8),
 (-76.6, -78.5, 1.9),
 (-11.5, -3.2, -8.3),
 (nan, nan, nan),
 (nan, nan, nan),
 (-29.5, -24.4, -5.1),
 (nan, nan, nan),
 (-34.9, -27.8, -7.2),
 (15.4, 39.5, -24.1),
 (-5.4, 2.6, -8.0),
 (-49.3, -41.6, -7.8),
 (-91.8, -93.6, 1.8),
 (-0.6, 1.7, -2.3),
 (nan, nan, nan),
 (25.4, 39.4, -14.0),
 (nan, nan, nan),
 (20.2, 31.7, -11.4),
 (nan, nan, nan),
 (nan, nan, nan),
 (nan, nan, nan),
 (22.7, 41.0, -18.3),
 (-144.7, -126.8, -17.9),
 (nan, nan, nan),
 (-71.3, -68.9, -2.4),
 (-30.8, -33.7, 2.9),
 (-77.9, -70.5, -7.5),
 (-99.5, -104.1, 4.7),
 (-75.4, -74.2, -1.2),
 (-40.6, -21.7, -18.9),
 (nan, nan, nan),
 (-84.0, -80.9, -3.2),
 (nan, nan, nan),
 (-44.8, -49.2, 4.4),
 (nan, nan, nan),
 (1.2, -8.9, 10.1),
 (-84.6, -83.9, -0.7),
 (-169.9, -170.9, 1.0),
 (-39.8, -48.0, 8.1),
 (nan, nan, nan),
 (-36.9, -34.2, -2.7),
 (nan, nan, nan),
 (-71.7, -76.7, 4.9),
 (-91.4, -84.6, -6.7),
 (-27.0, -23.4, -3.5),
 (nan, nan, nan),
 (-55.7, -60.0, 4.3),
 (-31.7, -27.4, -4.3),
 (nan, nan, nan),
 (-8.7, nan, nan),
 (-68.1, -73.6, 5.5),
 (-99.9, -101.5, 1.6),
 (-18.7, -12.5, -6.3),
 (10.9, -6.0, 16.9),
 (nan, nan, nan),
 (66.8, 64.2, 2.6),
 (104.9, 90.1, 14.8),
 (28.3, 17.5, 10.8),
 (-21.0, -43.7, 22.7),
 (66.0, 63.8, 2.2),
 (70.7, 82.8, -12.1),
 (48.9, 46.6, 2.3),
 (nan, nan, nan),
 (62.8, 76.4, -13.6),
 (nan, nan, nan),
 (49.0, 43.8, 5.3),
 (21.6, 0.9, 20.7),
 (-2.6, -12.3, 9.7),
 (65.1, 62.7, 2.4),
 (-114.1, -118.3, 4.2),
 (nan, nan, nan),
 (-58.6, -56.0, -2.5),
 (2.3, 5.4, -3.1),
 (-148.8, -134.2, -14.6),
 (-176.2, -172.4, -3.8),
 (-51.5, -51.2, -0.3),
 (-6.1, -11.3, 5.2),
 (nan, nan, nan),
 (-88.0, -80.4, -7.7),
 (-105.5, nan, nan),
 (-43.7, -31.2, -12.5),
 (-79.6, 19.2, -98.8),
 (-117.6, -94.9, -22.6),
 (-99.0, -98.9, -0.1),
 (-186.3, -177.0, -9.3),
 (-38.9, -38.0, -0.8),
 (-64.1, -73.0, 8.9),
 (nan, nan, nan),
 (-25.6, -24.6, -1.1),
 (19.7, 21.5, -1.9),
 (-73.9, -71.6, -2.3),
 (-108.1, -92.2, -15.9),
 (-18.9, -18.7, -0.2),
 (15.3, 20.6, -5.3),
 (nan, nan, nan),
 (-50.6, -48.7, -1.9),
 (-66.4, -61.2, -5.2),
 (-14.9, -21.0, 6.1),
 (nan, nan, nan),
 (-10.4, -25.0, 14.6),
 (-62.5, -62.9, 0.4),
 (-118.3, -115.0, -3.3),
 (-15.3, -12.1, -3.2),
 (-11.5, -11.1, -0.4),
 (nan, nan, nan),
 (64.2, 69.7, -5.4),
 (104.7, 104.8, 0.0),
 (39.8, 47.7, -7.9),
 (27.1, 18.5, 8.5),
 (60.6, 67.6, -7.0),
 (74.6, 101.6, -27.1),
 (45.3, 45.1, 0.2),
 (82.9, 90.8, -7.9),
 (nan, nan, nan),
 (45.1, 58.5, -13.5),
 (10.8, 0.4, 10.3),
 (-28.6, -24.9, -3.7),
 (53.2, 60.1, -6.9),
 (-96.7, -100.1, 3.4),
 (-71.9, -63.6, -8.2),
 (-35.6, -35.9, 0.3),
 (18.7, 21.1, -2.3),
 (-93.4, -88.9, -4.5),
 (-142.8, -138.3, -4.5),
 (-8.4, -10.8, 2.4),
 (8.4, 2.0, 6.3),
 (-129.2, -99.7, -29.5),
 (-81.5, -81.2, -0.3),
 (-136.7, -119.7, -17.0),
 (6.9, 2.5, 4.4),
 (-73.1, -72.0, -1.1),
 (-46.1, -39.4, -6.7),
 (-86.5, -88.6, 2.1),
 (-129.6, -135.7, 6.2),
 (5.7, 5.2, 0.5),
 (-93.2, -93.1, -0.1),
 (-73.3, -58.9, -14.5),
 (-60.5, -57.7, -2.7),
 (-28.8, -19.3, -9.5),
 (-90.9, -81.6, -9.3),
 (-122.4, -113.3, -9.1),
 (-54.9, -52.9, -2.0),
 (12.6, 13.8, -1.2),
 (-103.2, -98.6, -4.6),
 (-73.0, -72.2, -0.8),
 (nan, -87.5, nan),
 (-40.1, -54.5, 14.5),
 (-54.5, -37.7, -16.8),
 (-42.9, -32.6, -10.3),
 (-84.4, -82.9, -1.5),
 (-148.7, -148.9, 0.2),
 (-46.2, -38.2, -8.0),
 (-7.6, 6.6, -14.2),
 (nan, nan, nan),
 (75.6, 76.1, -0.6),
 (105.6, 102.2, 3.4),
 (56.0, 52.9, 3.1),
 (10.2, -9.4, 19.6),
 (74.1, 76.2, -2.1),
 (65.2, 90.2, -25.0),
 (nan, nan, nan),
 (39.8, 50.8, -11.1),
 (75.8, 78.2, -2.4),
 (nan, nan, nan),
 (78.9, 68.5, 10.4),
 (0.6, nan, nan),
 (3.3, 9.0, -5.7),
 (72.1, 73.2, -1.0),
 (-110.1, -107.1, -3.0),
 (-70.3, -47.3, -23.0),
 (-84.0, -82.2, -1.8),
 (-19.3, -32.2, 12.9),
 (-91.2, -88.4, -2.8),
 (-124.0, -124.4, 0.4),
 (-83.1, -81.6, -1.6),
 (-16.8, -16.5, -0.4),
 (-149.5, -128.2, -21.3),
 (-87.2, -85.1, -2.1),
 (-126.4, -123.5, -2.8),
 (-74.9, -74.7, -0.3),
 (-87.3, -77.1, -10.1),
 (-36.9, -38.4, 1.5),
 (-88.8, -87.9, -0.9),
 (-159.9, -154.1, -5.9),
 (-70.8, -65.7, -5.1),
 (-121.7, -119.1, -2.6),
 (-51.5, -80.9, 29.4),
 (-78.8, -76.0, -2.8),
 (-19.3, -16.7, -2.5),
 (-101.2, -96.7, -4.5),
 (-143.2, -138.7, -4.5),
 (-63.8, -64.2, 0.4),
 (-20.1, -20.1, -0.1),
 (-144.6, -132.8, -11.8),
 (-101.3, -97.1, -4.2),
 (-122.3, -119.0, -3.4),
 (-22.6, -32.1, 9.5),
 (-95.7, -75.2, -20.5),
 (-46.6, -40.3, -6.2),
 (-101.2, -98.3, -3.0),
 (-154.3, -156.2, 1.9),
 (-9.3, -4.8, -4.5),
 (-15.8, -13.9, -1.9),
 (62.4, 72.4, -10.1),
 (61.0, 60.1, 0.9),
 (102.7, 103.5, -0.8),
 (53.0, 54.1, -1.1),
 (7.8, -1.0, 8.8),
 (52.9, 52.1, 0.8),
 (51.7, 55.0, -3.3),
 (-105.5, nan, nan),
 (11.6, 15.8, -4.2),
 (-63.1, -85.2, 22.1),
 (52.0, 51.1, 0.9),
 (55.6, 45.8, 9.8),
 (70.0, 72.0, -2.0),
 (1.9, -3.7, 5.7),
 (-37.0, -42.1, 5.1),
 (36.8, 35.1, 1.7),
 (2.4, -6.8, 9.2),
 (nan, nan, nan),
 (39.7, 33.5, 6.2),
 (66.4, 62.4, 4.0),
 (0.2, -4.8, 5.0),
 (-46.3, -56.6, 10.2),
 (41.4, 35.2, 6.1),
 (42.8, 26.7, 16.0),
 (nan, nan, nan),
 (-3.2, -8.2, 5.0),
 (nan, nan, nan),
 (61.5, 48.6, 13.0),
 (nan, nan, nan),
 (36.1, 28.4, 7.7),
 (-18.5, -37.6, 19.1),
 (-50.3, -59.2, 8.9),
 (42.4, 36.9, 5.5),
 (-51.5, -90.9, 39.5),
 (-93.1, -91.5, -1.5),

In [121]:
edist = dfe['District Code']
egroup = dfe['studentgroup']
escore = dfe['ela_currstatus']
eprio = dfe['ela_priorstatus']
echange = dfe['ela_change']
escores = list(zip(edist, egroup, escore, eprio, echange))
escores

[('61119', 'african_american', -43.0, -48.7, 5.7),
 ('61119', 'american_indian', -14.8, 14.3, -29.1),
 ('61119', 'all_students', 36.8, 32.8, 4.0),
 ('61119', 'asian', 48.6, 54.0, -5.3),
 ('61119', 'english_learners', -2.5, -1.4, -1.1),
 ('61119', 'english_learners_only', -42.0, -44.7, 2.7),
 ('61119', 'english_only', 43.5, 38.3, 5.2),
 ('61119', 'filipino', 29.8, 16.0, 13.9),
 ('61119', 'foster_youth', nan, nan, nan),
 ('61119', 'hispanic', 5.0, 0.9, 4.1),
 ('61119', 'homeless_youth', -75.5, -56.7, -18.7),
 ('61119', 'multiple_races', 46.6, 40.4, 6.2),
 ('61119', 'pacific_islander', -27.3, -49.1, 21.8),
 ('61119', 'rfep_only', 55.0, 55.5, -0.5),
 ('61119', 'ses_disad', -13.1, -20.0, 6.9),
 ('61119', 'disabilities', -73.1, -80.4, 7.3),
 ('61119', 'white', 60.8, 54.1, 6.7),
 ('61127', 'african_american', -9.6, 12.2, -21.8),
 ('61127', 'american_indian', nan, nan, nan),
 ('61127', 'all_students', 57.5, 64.1, -6.6),
 ('61127', 'asian', 73.0, 73.7, -0.8),
 ('61127', 'english_learners', 31.0, 37.6, -6.6),
 ('61127', 'english_learners_only', -11.4, -12.5, 1.1),
 ('61127', 'english_only', 60.9, 68.0, -7.1),
 ('61127', 'filipino', 38.0, 23.3, 14.7),
 ('61127', 'foster_youth', nan, nan, nan),
 ('61127', 'hispanic', 25.6, 28.9, -3.3),
 ('61127', 'homeless_youth', nan, nan, nan),
 ('61127', 'multiple_races', 53.9, 58.8, -4.9),
 ('61127', 'pacific_islander', nan, nan, nan),
 ('61127', 'rfep_only', 60.9, 71.4, -10.6),
 ('61127', 'ses_disad', 14.5, 26.6, -12.1),
 ('61127', 'disabilities', -35.9, -23.9, -12.0),
 ('61127', 'white', 67.9, 79.3, -11.4),
 ('61143', 'african_american', -64.9, -73.5, 8.6),
 ('61143', 'american_indian', 62.3, nan, nan),
 ('61143', 'all_students', 32.2, 20.0, 12.3),
 ('61143', 'asian', 28.5, 24.3, 4.2),
 ('61143', 'english_learners', -47.2, -52.6, 5.4),
 ('61143', 'english_learners_only', -82.8, -75.4, -7.4),
 ('61143', 'english_only', 43.5, 31.4, 12.1),
 ('61143', 'filipino', 62.5, 18.4, 44.1),
 ('61143', 'foster_youth', -53.1, nan, nan),
 ('61143', 'hispanic', -5.3, -20.7, 15.5),
 ('61143', 'homeless_youth', -71.4, -75.4, 4.1),
 ('61143', 'multiple_races', 51.9, 43.8, 8.1),
 ('61143', 'pacific_islander', nan, nan, nan),
 ('61143', 'rfep_only', 14.4, -3.2, 17.6),
 ('61143', 'ses_disad', -33.0, -47.1, 14.1),
 ('61143', 'disabilities', -86.0, -92.1, 6.1),
 ('61143', 'white', 80.7, 70.7, 10.0),
 ('61150', 'african_american', -17.7, -18.7, 1.0),
 ('61150', 'american_indian', nan, nan, nan),
 ('61150', 'all_students', 34.2, 35.7, -1.5),
 ('61150', 'asian', 71.9, 71.0, 0.8),
 ('61150', 'english_learners', 8.6, 6.7, 1.9),
 ('61150', 'english_learners_only', -63.5, -64.9, 1.4),
 ('61150', 'english_only', 34.0, 36.0, -2.0),
 ('61150', 'filipino', 28.5, 40.6, -12.1),
 ('61150', 'foster_youth', nan, nan, nan),
 ('61150', 'hispanic', -4.6, -2.0, -2.5),
 ('61150', 'homeless_youth', -54.7, -24.2, -30.4),
 ('61150', 'multiple_races', 43.4, 46.5, -3.1),
 ('61150', 'pacific_islander', 4.3, 6.3, -1.9),
 ('61150', 'rfep_only', 43.7, 38.9, 4.8),
 ('61150', 'ses_disad', -7.8, -8.3, 0.5),
 ('61150', 'disabilities', -67.3, -63.5, -3.8),
 ('61150', 'white', 39.3, 39.8, -0.5),
 ('61168', 'african_american', -71.4, -80.8, 9.4),
 ('61168', 'american_indian', nan, nan, nan),
 ('61168', 'all_students', -51.2, -60.4, 9.2),
 ('61168', 'asian', -28.0, -30.9, 2.9),
 ('61168', 'english_learners', -54.2, -68.9, 14.7),
 ('61168', 'english_learners_only', -89.1, -93.5, 4.4),
 ('61168', 'english_only', -60.6, -71.1, 10.5),
 ('61168', 'filipino', nan, nan, nan),
 ('61168', 'foster_youth', nan, nan, nan),
 ('61168', 'hispanic', -37.5, -39.2, 1.6),
 ('61168', 'homeless_youth', nan, nan, nan),
 ('61168', 'multiple_races', -34.8, nan, nan),
 ('61168', 'pacific_islander', nan, nan, nan),
 ('61168', 'rfep_only', -1.0, -2.1, 1.2),
 ('61168', 'ses_disad', -61.1, -73.1, 12.0),
 ('61168', 'disabilities', -123.8, -139.1, 15.2),
 ('61168', 'white', -31.3, -49.0, 17.8),
 ('61176', 'african_american', -19.0, -25.0, 5.9),
 ('61176', 'american_indian', 22.5, -1.2, 23.7),
 ('61176', 'all_students', 68.0, 62.6, 5.3),
 ('61176', 'asian', 99.3, 95.0, 4.3),
 ('61176', 'english_learners', 36.3, 22.9, 13.4),
 ('61176', 'english_learners_only', -76.8, -57.8, -19.0),
 ('61176', 'english_only', 65.7, 60.1, 5.6),
 ('61176', 'filipino', 45.4, 41.2, 4.2),
 ('61176', 'foster_youth', nan, -37.9, nan),
 ('61176', 'hispanic', -19.3, -21.5, 2.2),
 ('61176', 'homeless_youth', -49.1, -52.7, 3.6),
 ('61176', 'multiple_races', 50.6, 44.2, 6.4),
 ('61176', 'pacific_islander', -17.0, -18.0, 1.0),
 ('61176', 'rfep_only', 72.7, 67.5, 5.2),
 ('61176', 'ses_disad', -10.0, -19.6, 9.5),
 ('61176', 'disabilities', -61.1, -69.5, 8.4),
 ('61176', 'white', 35.7, 32.7, 3.0),
 ('61192', 'african_american', -57.3, -55.6, -1.7),
 ('61192', 'american_indian', -12.6, -38.9, 26.2),
 ('61192', 'all_students', -35.4, -37.6, 2.2),
 ('61192', 'asian', 13.4, 15.1, -1.8),
 ('61192', 'english_learners', -62.2, -63.3, 1.1),
 ('61192', 'english_learners_only', -113.3, -114.9, 1.6),
 ('61192', 'english_only', -28.4, -27.4, -1.0),
 ('61192', 'filipino', 24.3, 21.7, 2.6),
 ('61192', 'foster_youth', -117.4, -80.4, -37.0),
 ('61192', 'hispanic', -46.8, -50.3, 3.5),
 ('61192', 'homeless_youth', -68.2, -61.3, -6.9),
 ('61192', 'multiple_races', -14.0, -5.2, -8.8),
 ('61192', 'pacific_islander', -41.3, -39.0, -2.3),
 ('61192', 'rfep_only', -15.8, -19.8, 4.1),
 ('61192', 'ses_disad', -45.2, -49.4, 4.1),
 ('61192', 'disabilities', -117.5, -120.7, 3.3),
 ('61192', 'white', -7.2, -10.2, 3.0),
 ('61200', 'african_american', 2.4, -23.8, 26.3),
 ('61200', 'american_indian', 2.1, -43.1, 45.2),
 ('61200', 'all_students', 23.1, 18.7, 4.4),
 ('61200', 'asian', 72.5, 60.5, 12.0),
 ('61200', 'english_learners', -37.3, -42.3, 5.0),
 ('61200', 'english_learners_only', -91.8, -89.2, -2.6),
 ('61200', 'english_only', 34.2, 30.2, 4.0),
 ('61200', 'filipino', 33.2, 37.2, -3.9),
 ('61200', 'foster_youth', -11.5, nan, nan),
 ('61200', 'hispanic', -21.2, -21.7, 0.5),
 ('61200', 'homeless_youth', -8.5, -23.8, 15.3),
 ('61200', 'multiple_races', 47.9, 40.5, 7.4),
 ('61200', 'pacific_islander', -3.1, 4.3, -7.4),
 ('61200', 'rfep_only', 24.0, 24.7, -0.7),
 ('61200', 'ses_disad', -33.1, -39.4, 6.3),
 ('61200', 'disabilities', -74.5, -81.5, 7.0),
 ('61200', 'white', 39.0, 35.5, 3.5),
 ('61218', 'american_indian', nan, nan, nan),
 ('61218', 'all_students', nan, -10.7, nan),
 ('61218', 'english_learners', nan, nan, nan),
 ('61218', 'english_learners_only', nan, nan, nan),
 ('61218', 'english_only', nan, nan, nan),
 ('61218', 'hispanic', nan, nan, nan),
 ('61218', 'pacific_islander', nan, nan, nan),
 ('61218', 'ses_disad', nan, nan, nan),
 ('61218', 'white', nan, nan, nan),
 ('61234', 'african_american', -47.6, -44.3, -3.3),
 ('61234', 'american_indian', nan, nan, nan),
 ('61234', 'all_students', -17.8, -14.1, -3.7),
 ('61234', 'asian', 37.0, 36.3, 0.7),
 ('61234', 'english_learners', -53.4, -53.0, -0.4),
 ('61234', 'english_learners_only', -93.0, -104.1, 11.1),
 ('61234', 'english_only', -2.4, 1.4, -3.8),
 ('61234', 'filipino', 29.6, 26.9, 2.7),
 ('61234', 'foster_youth', nan, nan, nan),
 ('61234', 'hispanic', -44.1, -37.4, -6.7),
 ('61234', 'homeless_youth', -54.4, -38.7, -15.7),
 ('61234', 'multiple_races', 9.7, 12.3, -2.6),
 ('61234', 'pacific_islander', -28.8, -15.5, -13.3),
 ('61234', 'rfep_only', -7.8, -12.6, 4.8),
 ('61234', 'ses_disad', -41.9, -40.6, -1.3),
 ('61234', 'disabilities', -115.1, -107.4, -7.7),
 ('61234', 'white', 6.3, 8.1, -1.8),
 ('61242', 'african_american', -42.9, -52.1, 9.2),
 ('61242', 'american_indian', -2.5, -28.1, 25.7),
 ('61242', 'all_students', -1.4, -6.1, 4.6),
 ('61242', 'asian', 40.0, 33.5, 6.4),
 ('61242', 'english_learners', -43.8, -46.3, 2.5),
 ('61242', 'english_learners_only', -94.5, -105.7, 11.2),
 ('61242', 'english_only', -0.2, -5.0, 4.8),
 ('61242', 'filipino', 22.6, 19.5, 3.0),
 ('61242', 'foster_youth', nan, -90.4, nan),
 ('61242', 'hispanic', -35.1, -39.7, 4.6),
 ('61242', 'homeless_youth', -72.9, -72.1, -0.8),
 ('61242', 'multiple_races', 12.6, 12.3, 0.4),
 ('61242', 'pacific_islander', -13.5, -21.0, 7.6),
 ('61242', 'rfep_only', 17.1, 7.6, 9.5),
 ('61242', 'ses_disad', -30.6, -37.0, 6.4),
 ('61242', 'disabilities', -115.7, -112.7, -3.0),
 ('61242', 'white', -0.5, 0.5, -1.0),
 ('61259', 'african_american', -86.1, -87.5, 1.3),
 ('61259', 'american_indian', -67.2, -63.8, -3.3),
 ('61259', 'all_students', -49.1, -50.6, 1.5),
 ('61259', 'asian', -9.1, -9.3, 0.2),
 ('61259', 'english_learners', -79.7, -76.1, -3.6),
 ('61259', 'english_learners_only', -125.8, -126.4, 0.5),
 ('61259', 'english_only', -35.2, -39.6, 4.4),
 ('61259', 'filipino', -23.2, -26.9, 3.8),
 ('61259', 'foster_youth', -114.5, -118.9, 4.4),
 ('61259', 'hispanic', -70.9, -69.8, -1.1),
 ('61259', 'homeless_youth', -138.1, -138.2, 0.1),
 ('61259', 'multiple_races', 18.4, 17.4, 0.9),
 ('61259', 'pacific_islander', -80.7, -64.0, -16.7),
 ('61259', 'rfep_only', -11.0, -13.9, 2.9),
 ('61259', 'ses_disad', -71.3, -71.7, 0.4),
 ('61259', 'disabilities', -132.0, -129.0, -3.0),
 ('61259', 'white', 42.3, 35.5, 6.8),
 ('61275', 'african_american', 41.4, 3.1, 38.2),
 ('61275', 'american_indian', nan, nan, nan),
 ('61275', 'all_students', 86.8, 82.2, 4.6),
 ('61275', 'asian', 103.7, 91.3, 12.4),
 ('61275', 'english_learners', 47.9, 33.6, 14.3),
 ('61275', 'english_learners_only', nan, 5.7, nan),
 ('61275', 'english_only', 87.3, 83.4, 3.9),
 ('61275', 'filipino', nan, nan, nan),
 ('61275', 'hispanic', 53.8, 48.8, 5.0),
 ('61275', 'multiple_races', 88.6, 85.3, 3.3),
 ('61275', 'rfep_only', 50.2, 45.2, 5.0),
 ('61275', 'ses_disad', 18.9, 12.3, 6.6),
 ('61275', 'disabilities', 20.8, 14.6, 6.2),
 ('61275', 'white', 88.4, 85.2, 3.2),
 ('61291', 'african_american', -79.6, -67.5, -12.1),
 ('61291', 'american_indian', -59.8, -52.3, -7.5),
 ('61291', 'all_students', -36.9, -30.4, -6.5),
 ('61291', 'asian', 12.8, 24.1, -11.3),
 ('61291', 'english_learners', -66.6, -56.9, -9.7),
 ('61291', 'english_learners_only', -105.7, -99.3, -6.3),
 ('61291', 'english_only', -31.5, -27.2, -4.3),
 ('61291', 'filipino', -2.1, 5.6, -7.6),
 ('61291', 'foster_youth', -128.4, -99.4, -29.0),
 ('61291', 'hispanic', -55.4, -49.6, -5.7),
 ('61291', 'homeless_youth', -101.7, -78.6, -23.2),
 ('61291', 'multiple_races', -6.1, -4.7, -1.3),
 ('61291', 'pacific_islander', -52.8, -61.1, 8.3),
 ('61291', 'rfep_only', 5.9, 8.6, -2.7),
 ('61291', 'ses_disad', -55.5, -48.2, -7.3),
 ('61291', 'disabilities', -119.5, -114.4, -5.0),
 ('61291', 'white', -0.4, -0.9, 0.5),
 ('61309', 'african_american', -79.0, -90.1, 11.2),
 ('61309', 'american_indian', -58.0, -50.9, -7.1),
 ('61309', 'all_students', -40.5, -44.4, 3.9),
 ('61309', 'asian', 15.4, 16.0, -0.6),
 ('61309', 'english_learners', -62.0, -64.7, 2.7),
 ('61309', 'english_learners_only', -101.5, -116.3, 14.8),
 ('61309', 'english_only', -42.3, -46.6, 4.4),
 ('61309', 'filipino', 7.0, 3.6, 3.4),
 ('61309', 'foster_youth', nan, -102.8, nan),
 ('61309', 'hispanic', -55.9, -59.7, 3.8),
 ('61309', 'homeless_youth', -69.8, -87.4, 17.6),
 ('61309', 'multiple_races', -20.7, -33.7, 13.1),
 ('61309', 'pacific_islander', -73.6, -56.2, -17.4),
 ('61309', 'rfep_only', -11.8, -22.1, 10.3),
 ('61309', 'ses_disad', -52.8, -57.2, 4.4),
 ('61309', 'disabilities', -125.3, -132.6, 7.3),
 ('61309', 'white', -28.7, -23.0, -5.7),
 ('75093', 'african_american', -13.5, -21.7, 8.1),
 ('75093', 'american_indian', 89.2, nan, nan),
 ('75093', 'all_students', 64.4, 58.5, 5.8),
 ('75093', 'asian', 92.2, 89.4, 2.8),
 ('75093', 'english_learners', 29.4, 25.8, 3.6),
 ('75093', 'english_learners_only', -60.1, -61.1, 1.0),
 ('75093', 'english_only', 58.8, 52.3, 6.6),
 ('75093', 'filipino', 66.0, 66.1, -0.1),
 ('75093', 'hispanic', 5.4, -5.2, 10.5),
 ('75093', 'homeless_youth', nan, nan, nan),
 ('75093', 'multiple_races', 53.4, 54.6, -1.2),
 ('75093', 'pacific_islander', 42.3, nan, nan),
 ('75093', 'rfep_only', 63.1, 67.1, -3.9),
 ('75093', 'ses_disad', -3.3, -24.6, 21.4),
 ('75093', 'disabilities', -38.7, -49.5, 10.8),
 ('75093', 'white', 46.1, 39.9, 6.2),
 ('75101', 'african_american', 10.4, 26.2, -15.8),
 ('75101', 'american_indian', nan, nan, nan),
 ('75101', 'all_students', 72.1, 74.1, -1.9),
 ('75101', 'asian', 102.6, 103.7, -1.1),
 ('75101', 'english_learners', 31.2, 28.3, 2.9),
 ('75101', 'english_learners_only', -28.6, -40.1, 11.5),
 ('75101', 'english_only', 65.8, 68.2, -2.4),
 ('75101', 'filipino', 71.2, 69.3, 1.9),
 ('75101', 'foster_youth', nan, nan, nan),
 ('75101', 'hispanic', 12.9, 19.2, -6.2),
 ('75101', 'homeless_youth', -26.5, -33.7, 7.2),
 ('75101', 'multiple_races', 66.3, 62.6, 3.7),
 ('75101', 'pacific_islander', 51.7, 51.2, 0.4),
 ('75101', 'rfep_only', 79.4, 67.6, 11.8),
 ('75101', 'ses_disad', 2.1, 0.4, 1.7),
 ('75101', 'disabilities', -32.5, -32.4, -0.1),
 ('75101', 'white', 59.6, 62.8, -3.2),
 ('75119', 'african_american', nan, nan, nan),
 ('75119', 'all_students', 63.3, 49.8, 13.4),
 ('75119', 'asian', 81.9, 89.0, -7.1),
 ('75119', 'english_learners', 60.1, 68.9, -8.8),
 ('75119', 'english_learners_only', nan, nan, nan),
 ('75119', 'english_only', 59.5, 46.5, 13.0),
 ('75119', 'filipino', nan, nan, nan),
 ('75119', 'hispanic', 29.6, 9.8, 19.8),
 ('75119', 'multiple_races', 84.5, 77.3, 7.2),
 ('75119', 'pacific_islander', nan, nan, nan),
 ('75119', 'rfep_only', 76.4, 79.0, -2.6),
 ('75119', 'ses_disad', 59.4, nan, nan),
 ('75119', 'disabilities', 9.4, 19.1, -9.7),
 ('75119', 'white', 63.3, 44.3, 19.0),
 ('61333', 'american_indian', -39.8, -62.8, 23.0),
 ('61333', 'all_students', 2.8, -11.9, 14.8),
 ('61333', 'english_only', 2.8, -11.9, 14.8),
 ('61333', 'hispanic', nan, nan, nan),
 ('61333', 'homeless_youth', nan, nan, nan),
 ('61333', 'multiple_races', nan, nan, nan),
 ('61333', 'ses_disad', -33.8, -52.5, 18.7),
 ('61333', 'disabilities', -79.6, -73.1, -6.5),
 ('61333', 'white', 40.1, 9.0, 31.1),
 ('73981', 'african_american', -27.7, -51.3, 23.5),
 ('73981', 'american_indian', -52.3, -59.2, 7.0),
 ('73981', 'all_students', -20.3, -18.2, -2.1),
 ('73981', 'asian', 42.1, 16.4, 25.8),
 ('73981', 'english_learners', -48.9, -53.0, 4.1),
 ('73981', 'english_learners_only', -69.4, -82.9, 13.5),
 ('73981', 'english_only', -18.4, -16.3, -2.0),
 ('73981', 'filipino', nan, 19.1, nan),
 ('73981', 'foster_youth', -37.3, -38.3, 1.0),
 ('73981', 'hispanic', -41.3, -39.5, -1.9),
 ('73981', 'homeless_youth', -47.5, -48.8, 1.3),
 ('73981', 'multiple_races', -17.9, -18.0, 0.1),
 ('73981', 'pacific_islander', nan, nan, nan),
 ('73981', 'rfep_only', -33.3, -44.1, 10.7),
 ('73981', 'ses_disad', -44.2, -47.6, 3.4),
 ('73981', 'disabilities', -97.9, -109.1, 11.3),
 ('73981', 'white', -13.1, -10.8, -2.3),
 ('61382', 'all_students', -48.8, -46.7, -2.1),
 ('61382', 'asian', nan, nan, nan),
 ('61382', 'english_learners', nan, nan, nan),
 ('61382', 'english_learners_only', nan, nan, nan),
 ('61382', 'english_only', -42.0, -40.5, -1.6),
 ('61382', 'foster_youth', nan, nan, nan),
 ('61382', 'hispanic', nan, nan, nan),
 ('61382', 'multiple_races', nan, nan, nan),
 ('61382', 'rfep_only', nan, nan, nan),
 ('61382', 'ses_disad', -59.7, -60.7, 1.0),
 ('61382', 'disabilities', nan, -82.2, nan),
 ('61382', 'white', -28.4, -31.6, 3.2),
 ('61408', 'african_american', nan, nan, nan),
 ('61408', 'american_indian', nan, nan, nan),
 ('61408', 'all_students', -49.3, -57.0, 7.7),
 ('61408', 'asian', nan, nan, nan),
 ('61408', 'english_learners', -87.8, -103.1, 15.3),
 ('61408', 'english_learners_only', -137.1, -132.2, -4.9),
 ('61408', 'english_only', -41.9, -47.5, 5.6),
 ('61408', 'foster_youth', nan, nan, nan),
 ('61408', 'hispanic', -65.5, -81.3, 15.8),
 ('61408', 'homeless_youth', -94.0, nan, nan),
 ('61408', 'multiple_races', nan, nan, nan),
 ('61408', 'pacific_islander', nan, nan, nan),
 ('61408', 'rfep_only', -36.6, -46.7, 10.1),
 ('61408', 'ses_disad', -64.8, -73.4, 8.5),
 ('61408', 'disabilities', -128.0, -159.8, 31.8),
 ('61408', 'white', -33.3, -34.6, 1.3),
 ('61424', 'african_american', -31.6, -28.7, -2.9),
 ('61424', 'american_indian', -40.9, -26.4, -14.5),
 ('61424', 'all_students', 0.8, -2.3, 3.0),
 ('61424', 'asian', 3.4, -9.3, 12.8),
 ('61424', 'english_learners', -54.7, -58.0, 3.3),
 ('61424', 'english_learners_only', -99.8, -89.8, -10.0),
 ('61424', 'english_only', 7.7, 5.3, 2.5),
 ('61424', 'filipino', 30.5, 40.0, -9.5),
 ('61424', 'foster_youth', -81.4, -86.1, 4.7),
 ('61424', 'hispanic', -31.6, -35.1, 3.5),
 ('61424', 'homeless_youth', -71.4, -61.8, -9.6),
 ('61424', 'multiple_races', -11.8, -18.1, 6.4),
 ('61424', 'pacific_islander', 26.2, 25.6, 0.6),
 ('61424', 'rfep_only', -26.4, -33.8, 7.4),
 ('61424', 'ses_disad', -36.1, -39.8, 3.7),
 ('61424', 'disabilities', -85.5, -81.8, -3.8),
 ('61424', 'white', 17.9, 14.7, 3.2),
 ('61432', 'african_american', nan, nan, nan),
 ('61432', 'american_indian', nan, nan, nan),
 ('61432', 'all_students', 8.4, 4.9, 3.5),
 ('61432', 'asian', nan, nan, nan),
 ('61432', 'english_learners', -41.1, -51.8, 10.8),
 ('61432', 'english_learners_only', -70.2, -70.3, 0.1),
 ('61432', 'english_only', 15.3, 13.0, 2.3),
 ('61432', 'filipino', nan, nan, nan),
 ('61432', 'foster_youth', nan, nan, nan),
 ('61432', 'hispanic', -36.6, -47.4, 10.8),
 ('61432', 'homeless_youth', -57.5, nan, nan),
 ('61432', 'multiple_races', 46.0, 19.6, 26.4),
 ('61432', 'rfep_only', -9.1, 2.5, -11.6),
 ('61432', 'ses_disad', -30.3, -32.3, 2.0),
 ('61432', 'disabilities', -90.3, -85.6, -4.8),
 ('61432', 'white', 18.9, 18.7, 0.2),
 ('61440', 'american_indian', nan, nan, nan),
 ('61440', 'all_students', nan, nan, nan),
 ('61440', 'english_only', nan, nan, nan),
 ('61440', 'multiple_races', nan, nan, nan),
 ('61440', 'ses_disad', nan, nan, nan),
 ('61440', 'disabilities', nan, nan, nan),
 ('61440', 'white', nan, nan, nan),
 ('61457', 'american_indian', nan, nan, nan),
 ('61457', 'all_students', -65.7, -73.1, 7.4),
 ('61457', 'english_learners', nan, nan, nan),
 ('61457', 'english_learners_only', nan, nan, nan),
 ('61457', 'english_only', -64.7, -74.0, 9.3),
 ('61457', 'hispanic', nan, nan, nan),
 ('61457', 'multiple_races', nan, nan, nan),
 ('61457', 'rfep_only', nan, nan, nan),
 ('61457', 'ses_disad', -64.3, -79.8, 15.5),
 ('61457', 'disabilities', nan, -156.3, nan),
 ('61457', 'white', -62.9, -85.4, 22.5),
 ('61499', 'american_indian', nan, nan, nan),
 ('61499', 'all_students', 14.5, -0.5, 15.0),
 ('61499', 'asian', 40.0, 19.6, 20.4),
 ('61499', 'english_learners', -16.6, -49.2, 32.6),
 ('61499', 'english_learners_only', -30.2, -70.4, 40.2),
 ('61499', 'english_only', 20.7, 13.1, 7.7),
 ('61499', 'hispanic', -16.5, -40.1, 23.7),
 ('61499', 'multiple_races', nan, nan, nan),
 ('61499', 'rfep_only', nan, nan, nan),
 ('61499', 'ses_disad', -11.4, -24.1, 12.7),
 ('61499', 'disabilities', -130.8, nan, nan),
 ('61499', 'white', 36.4, 30.9, 5.5),
 ('61507', 'african_american', -78.2, -101.0, 22.9),
 ('61507', 'american_indian', -56.0, -74.4, 18.5),
 ('61507', 'all_students', -56.2, -59.7, 3.5),
 ('61507', 'asian', -37.5, -49.3, 11.8),
 ('61507', 'english_learners', -60.7, -59.7, -1.0),
 ('61507', 'english_learners_only', -104.8, -102.4, -2.3),
 ('61507', 'english_only', -56.8, -60.7, 3.9),
 ('61507', 'filipino', nan, nan, nan),
 ('61507', 'foster_youth', -107.7, -122.2, 14.5),
 ('61507', 'hispanic', -54.6, -55.3, 0.7),
 ('61507', 'homeless_youth', -68.5, -63.2, -5.4),
 ('61507', 'multiple_races', -62.3, -72.9, 10.6),
 ('61507', 'pacific_islander', nan, nan, nan),
 ('61507', 'rfep_only', -29.1, -31.8, 2.7),
 ('61507', 'ses_disad', -65.1, -68.5, 3.4),
 ('61507', 'disabilities', -124.6, -129.7, 5.2),
 ('61507', 'white', -58.0, -56.1, -1.9),
 ('61515', 'african_american', -43.4, -43.8, 0.4),
 ('61515', 'american_indian', -42.8, 21.2, -64.0),
 ('61515', 'all_students', -7.2, 5.2, -12.4),
 ('61515', 'asian', 34.8, 15.9, 18.9),
 ('61515', 'english_learners', -57.3, -57.2, -0.1),
 ('61515', 'english_learners_only', nan, -67.9, nan),
 ('61515', 'english_only', -9.7, 8.3, -18.1),
 ('61515', 'filipino', nan, nan, nan),
 ('61515', 'foster_youth', nan, nan, nan),

In [119]:
result = pandas.merge([escores, mscores], right=edist, sort=False)

TypeError: Can only merge Series or DataFrame objects, a <class 'list'> was passed

In [192]:
scores = []
for row in dfm['m_currstatus']:
    scores.append(ignore_index=True)
    
dfe['m_currstatus'] = scores
dfe

TypeError: append() takes no keyword arguments

In [157]:
test = dfe.append(dfm, ignore_index=True)

,District Code,districtname,studentgroup,ela_currstatus,ela_priorstatus,ela_change,dfm,m_currstatus,m_priorstatus,m_change
27021,73874,Oak Park Unified,english_only,NaN,NaN,NaN,NaN,42.3,36.9,5.5
27022,73874,Oak Park Unified,filipino,NaN,NaN,NaN,NaN,49.4,37.6,11.9
27023,73874,Oak Park Unified,hispanic,NaN,NaN,NaN,NaN,3.7,2.9,0.8
27024,73874,Oak Park Unified,multiple_races,NaN,NaN,NaN,NaN,60.8,62.4,-1.6
27025,73874,Oak Park Unified,pacific_islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27026,73874,Oak Park Unified,rfep_only,NaN,NaN,NaN,NaN,62.5,37.6,24.9
27027,73874,Oak Park Unified,ses_disad,NaN,NaN,NaN,NaN,1.4,-6.2,7.6
27028,73874,Oak Park Unified,disabilities,NaN,NaN,NaN,NaN,-52.7,-57.9,5.2
27029,73874,Oak Park Unified,white,NaN,NaN,NaN,NaN,37.4,31.4,6.1
27030,73940,Moorpark Unified,african_american,NaN,NaN,NaN,NaN,-21.5,-24.9,3.5
27031,73940,Moorpark Unified,american_indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27032,73940,Moorpark Unified,all_students,NaN,NaN,NaN,NaN,-10.4,-10.5,0.1
27033,73940,Moorpark Unified,asian,NaN,NaN,NaN,NaN,71.8,66.7,5.2
27034,73940,Moorpark Unified,english_learners,NaN,NaN,NaN,NaN,-60.3,-61.2,1.0
27035,73940,Moorpark Unified,english_learners_only,NaN,NaN,NaN,NaN,-63.5,-63.4,-0.1
27036,73940,Moorpark Unified,english_only,NaN,NaN,NaN,NaN,8.5,8.5,0.0
27037,73940,Moorpark Unified,filipino,NaN,NaN,NaN,NaN,44.0,17.4,26.6
27038,73940,Moorpark Unified,foster_youth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27039,73940,Moorpark Unified,hispanic,NaN,NaN,NaN,NaN,-45.5,-50.3,4.8
27040,73940,Moorpark Unified,homeless_youth,NaN,NaN,NaN,NaN,-77.0,-86.0,9.0
27041,73940,Moorpark Unified,multiple_races,NaN,NaN,NaN,NaN,23.7,33.4,-9.7
27042,73940,Moorpark Unified,pacific_islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27043,73940,Moorpark Unified,rfep_only,NaN,NaN,NaN,NaN,-58.3,-59.6,1.3
27044,73940,Moorpark Unified,ses_disad,NaN,NaN,NaN,NaN,-55.8,-59.7,3.9
27045,73940,Moorpark Unified,disabilities,NaN,NaN,NaN,NaN,-95.1,-94.1,-1.0
27046,73940,Moorpark Unified,white,NaN,NaN,NaN,NaN,18.0,19.3,-1.3
27047,76828,Santa Paula Unified,african_american,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27048,76828,Santa Paula Unified,american_indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27049,76828,Santa Paula Unified,all_students,NaN,NaN,NaN,NaN,-73.4,-70.3,-3.1
27050,76828,Santa Paula Unified,asian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27051,76828,Santa Paula Unified,english_learners,NaN,NaN,NaN,NaN,-87.1,-85.8,-1.3
27052,76828,Santa Paula Unified,english_learners_only,NaN,NaN,NaN,NaN,-113.0,-103.3,-9.7
27053,76828,Santa Paula Unified,english_only,NaN,NaN,NaN,NaN,-60.8,-55.1,-5.7
27054,76828,Santa Paula Unified,foster_youth,NaN,NaN,NaN,NaN,NaN,-86.0,NaN
27055,76828,Santa Paula Unified,hispanic,NaN,NaN,NaN,NaN,-74.7,-72.0,-2.7
27056,76828,Santa Paula Unified,homeless_youth,NaN,NaN,NaN,NaN,-87.8,-78.8,-9.0
27057,76828,Santa Paula Unified,multiple_races,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27058,76828,Santa Paula Unified,pacific_islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27059,76828,Santa Paula Unified,rfep_only,NaN,NaN,NaN,NaN,-53.3,-58.2,4.9
27060,76828,Santa Paula Unified,ses_disad,NaN,NaN,NaN,NaN,-76.9,-76.4,-0.5
27061,76828,Santa Paula Unified,disabilities,NaN,NaN,NaN,NaN,-150.5,-145.9,-4.6
27062,76828,Santa Paula Unified,white,NaN,NaN,NaN,NaN,-38.1,-31.9,-6.2
27063,72678,Davis Joint Unified,african_american,NaN,NaN,NaN,NaN,-50.6,-41.5,-9.2
27064,72678,Davis Joint Unified,american_indian,NaN,NaN,NaN,NaN,-65.5,-39.8,-25.7
27065,72678,Davis Joint Unified,all_students,NaN,NaN,NaN,NaN,33.9,30.8,3.2
27066,72678,Davis Joint Unified,asian,NaN,NaN,NaN,NaN,92.8,90.1,2.6
27067,72678,Davis Joint Unified,english_learners,NaN,NaN,NaN,NaN,-19.8,-30.2,10.4
27068,72678,Davis Joint Unified,english_learners_only,NaN,NaN,NaN,NaN,-54.3,-73.8,19.5
27069,72678,Davis Joint Unified,english_only,NaN,NaN,NaN,NaN,38.0,36.8,1.2
27070,72678,Davis Joint Unified,filipino,NaN,NaN,NaN,NaN,57.2,37.8,19.4
27071,72678,Davis Joint Unified,foster_youth,NaN,NaN,NaN,NaN,-165.6,-118.2,-47.4
27072,72678,Davis Joint Unified,hispanic,NaN,NaN,NaN,NaN,-35.5,-40.7,5.2
27073,72678,Davis Joint Unified,homeless_youth,NaN,NaN,NaN,NaN,NaN,-67.1,NaN
27074,72678,Davis Joint Unified,multiple_races,NaN,NaN,NaN,NaN,52.6,49.3,3.3
27075,72678,Davis Joint Unified,pacific_islander,NaN,NaN,NaN,NaN,24.8,44.9,-20.1
27076,72678,Davis Joint Unified,rfep_only,NaN,NaN,NaN,NaN,14.2,11.4,2.9
27077,72678,Davis Joint Unified,ses_disad,NaN,NaN,NaN,NaN,-41.8,-48.6,6.8
27078,72678,Davis Joint Unified,disabilities,NaN,NaN,NaN,NaN,-60.7,-65.8,5.1
27079,72678,Davis Joint Unified,white,NaN,NaN,NaN,NaN,46.3,42.8,3.5
27080,72686,Esparto Unified,african_american,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27081,72686,Esparto Unified,american_indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27082,72686,Esparto Unified,all_students,NaN,NaN,NaN,NaN,-73.2,-92.6,19.4
27083,72686,Esparto Unified,asian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27084,72686,Esparto Unified,english_learners,NaN,NaN,NaN,NaN,-89.8,-116.8,27.0
27085,72686,Esparto Unified,english_learners_only,NaN,NaN,NaN,NaN,-120.1,-145.1,24.9
27086,72686,Esparto Unified,english_only,NaN,NaN,NaN,NaN,-65.6,-81.4,15.8
27087,72686,Esparto Unified,filipino,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27088,72686,Esparto Unified,foster_youth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27089,72686,Esparto Unified,hispanic,NaN,NaN,NaN,NaN,-79.1,-101.2,22.1
27090,72686,Esparto Unified,homeless_youth,NaN,NaN,NaN,NaN,-89.5,-73.9,-15.5
27091,72686,Esparto Unified,multiple_races,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27092,72686,Esparto Unified,rfep_only,NaN,NaN,NaN,NaN,-70.7,-101.5,30.8
27093,72686,Esparto Unified,ses_disad,NaN,NaN,NaN,NaN,-79.6,-101.9,22.3
27094,72686,Esparto Unified,disabilities,NaN,NaN,NaN,NaN,-132.5,-157.5,25.0
27095,72686,Esparto Unified,white,NaN,NaN,NaN,NaN,-55.4,-71.6,16.1
27096,72694,Washington Unified,african_american,NaN,NaN,NaN,NaN,-88.6,-97.2,8.6
27097,72694,Washington Unified,american_indian,NaN,NaN,NaN,NaN,-115.0,-105.8,-9.2
27098,72694,Washington Unified,all_students,NaN,NaN,NaN,NaN,-54.9,-55.4,0.6
27099,72694,Washington Unified,asian,NaN,NaN,NaN,NaN,-15.6,-15.2,-0.4
27100,72694,Washington Unified,english_learners,NaN,NaN,NaN,NaN,-82.7,-80.0,-2.7
27101,72694,Washington Unified,english_learners_only,NaN,NaN,NaN,NaN,-124.3,-116.9,-7.4
27102,72694,Washington Unified,english_only,NaN,NaN,NaN,NaN,-47.4,-49.7,2.2
27103,72694,Washington Unified,filipino,NaN,NaN,NaN,NaN,-7.3,2.5,-9.8
27104,72694,Washington Unified,foster_youth,NaN,NaN,NaN,NaN,-99.5,-103.0,3.5
27105,72694,Washington Unified,hispanic,NaN,NaN,NaN,NaN,-84.2,-83.6,-0.5
27106,72694,Washington Unified,homeless_youth,NaN,NaN,NaN,NaN,-79.4,-78.7,-0.7
27107,72694,Washington Unified,multiple_races,NaN,NaN,NaN,NaN,-31.2,-41.8,10.6
27108,72694,Washington Unified,pacific_islander,NaN,NaN,NaN,NaN,-50.7,-39.5,-11.2
27109,72694,Washington Unified,rfep_only,NaN,NaN,NaN,NaN,-45.4,-45.9,0.4
27110,72694,Washington Unified,ses_disad,NaN,NaN,NaN,NaN,-79.0,-79.9,0.9
27111,72694,Washington Unified,disabilities,NaN,NaN,NaN,NaN,-151.9,-152.6,0.7
27112,72694,Washington Unified,white,NaN,NaN,NaN,NaN,-21.9,-24.9,3.0
27113,72702,Winters Joint Unified,african_american,NaN,NaN,NaN,NaN,-70.6,NaN,NaN
27114,72702,Winters Joint Unified,american_indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27115,72702,Winters Joint Unified,all_students,NaN,NaN,NaN,NaN,-64.8,-58.9,-5.9
27116,72702,Winters Joint Unified,asian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27117,72702,Winters Joint Unified,english_learners,NaN,NaN,NaN,NaN,-92.8,-85.5,-7.3
27118,72702,Winters Joint Unified,english_learners_only,NaN,NaN,NaN,NaN,-113.7,-98.7,-15.0
27119,72702,Winters Joint Unified,english_only,NaN,NaN,NaN,NaN,-36.8,-35.3,-1.5
27120,72702,Winters Joint Unified,filipino,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27121,72702,Winters Joint Unified,foster_youth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27122,72702,Winters Joint Unified,hispanic,NaN,NaN,NaN,NaN,-83.0,-74.9,-8.1
27123,72702,Winters Joint Unified,homeless_youth,NaN,NaN,NaN,NaN,-104.3,-109.7,5.5
27124,72702,Winters Joint Unified,multiple_races,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27125,72702,Winters Joint Unified,pacific_islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27126,72702,Winters Joint Unified,rfep_only,NaN,NaN,NaN,NaN,-62.1,-45.4,-16.7
27127,72702,Winters Joint Unified,ses_disad,NaN,NaN,NaN,NaN,-87.1,-77.4,-9.8
27128,72702,Winters Joint Unified,disabilities,NaN,NaN,NaN,NaN,-94.2,-112.0,17.8
27129,72702,Winters Joint Unified,white,NaN,NaN,NaN,NaN,-21.2,-23.7,2.5
27130,72710,Woodland Joint Unified,african_american,NaN,NaN,NaN,NaN,-89.9,-85.0,-4.9
27131,72710,Woodland Joint Unified,american_indian,NaN,NaN,NaN,NaN,-58.7,-60.7,2.0
27132,72710,Woodland Joint Unified,all_students,NaN,NaN,NaN,NaN,-58.2,-58.0,-0.3
27133,72710,Woodland Joint Unified,asian,NaN,NaN,NaN,NaN,-25.7,-29.2,3.6
27134,72710,Woodland Joint Unified,english_learners,NaN,NaN,NaN,NaN,-84.8,-81.3,-3.6
27135,72710,Woodland Joint Unified,english_learners_only,NaN,NaN,NaN,NaN,-128.4,-120.0,-8.3
27136,72710,Woodland Joint Unified,english_only,NaN,NaN,NaN,NaN,-44.7,-44.5,-0.1
27137,72710,Woodland Joint Unified,filipino,NaN,NaN,NaN,NaN,21.9,29.5,-7.6
27138,72710,Woodland Joint Unified,foster_youth,NaN,NaN,NaN,NaN,-95.2,-130.6,35.4
27139,72710,Woodland Joint Unified,hispanic,NaN,NaN,NaN,NaN,-70.4,-70.4,0.0
27140,72710,Woodland Joint Unified,homeless_youth,NaN,NaN,NaN,NaN,-95.5,-74.2,-21.3
27141,72710,Woodland Joint Unified,multiple_races,NaN,NaN,NaN,NaN,-37.2,-26.6,-10.6
27142,72710,Woodland Joint Unified,pacific_islander,NaN,NaN,NaN,NaN,-42.6,-71.6,28.9
27143,72710,Woodland Joint Unified,rfep_only,NaN,NaN,NaN,NaN,-48.4,-51.3,2.9
27144,72710,Woodland Joint Unified,ses_disad,NaN,NaN,NaN,NaN,-73.4,-73.6,0.2
27145,72710,Woodland Joint Unified,disabilities,NaN,NaN,NaN,NaN,-147.7,-139.9,-7.8
27146,72710,Woodland Joint Unified,white,NaN,NaN,NaN,NaN,-26.6,-25.6,-1.0
27147,72728,Camptonville Elementary,american_indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27148,72728,Camptonville Elementary,all_students,NaN,NaN,NaN,NaN,5.6,3.6,2.0
27149,72728,Camptonville Elementary,english_only,NaN,NaN,NaN,NaN,5.6,3.6,2.0
27150,72728,Camptonville Elementary,hispanic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27151,72728,Camptonville Elementary,multiple_races,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27152,72728,Camptonville Elementary,ses_disad,NaN,NaN,NaN,NaN,-11.1,-20.4,9.3
27153,72728,Camptonville Elementary,disabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27154,72728,Camptonville Elementary,white,NaN,NaN,NaN,NaN,-1.3,-14.9,13.6
27155,72736,Marysville Joint Unified,african_american,NaN,NaN,NaN,NaN,-100.2,-95.2,-4.9
27156,72736,Marysville Joint Unified,american_indian,NaN,NaN,NaN,NaN,-80.3,-87.0,6.6
27157,72736,Marysville Joint Unified,all_students,NaN,NaN,NaN,NaN,-62.9,-66.2,3.3
27158,72736,Marysville Joint Unified,asian,NaN,NaN,NaN,NaN,-68.2,-65.0,-3.2
27159,72736,Marysville Joint Unified,english_learners,NaN,NaN,NaN,NaN,-79.6,-83.8,4.2
27160,72736,Marysville Joint Unified,english_learners_only,NaN,NaN,NaN,NaN,-99.6,-99.7,0.1
27161,72736,Marysville Joint Unified,english_only,NaN,NaN,NaN,NaN,-56.7,-59.1,2.4
27162,72736,Marysville Joint Unified,filipino,NaN,NaN,NaN,NaN,10.0,-27.3,37.3
27163,72736,Marysville Joint Unified,foster_youth,NaN,NaN,NaN,NaN,-97.8,-101.2,3.4
27164,72736,Marysville Joint Unified,hispanic,NaN,NaN,NaN,NaN,-71.5,-76.2,4.7
27165,72736,Marysville Joint Unified,homeless_youth,NaN,NaN,NaN,NaN,-94.2,-103.6,9.4
27166,72736,Marysville Joint Unified,multiple_races,NaN,NaN,NaN,NaN,-43.9,-44.7,0.7
27167,72736,Marysville Joint Unified,pacific_islander,NaN,NaN,NaN,NaN,-21.1,-19.2,-2.0
27168,72736,Marysville Joint Unified,rfep_only,NaN,NaN,NaN,NaN,-24.9,-22.1,-2.8
27169,72736,Marysville Joint Unified,ses_disad,NaN,NaN,NaN,NaN,-69.2,-73.2,4.0
27170,72736,Marysville Joint Unified,disabilities,NaN,NaN,NaN,NaN,-131.8,-131.5,-0.3
27171,72736,Marysville Joint Unified,white,NaN,NaN,NaN,NaN,-49.7,-53.9,4.2
27172,72744,Plumas Lake Elementary,african_american,NaN,NaN,NaN,NaN,-39.5,-40.3,0.8
27173,72744,Plumas Lake Elementary,american_indian,NaN,NaN,NaN,NaN,NaN,11.3,NaN
27174,72744,Plumas Lake Elementary,all_students,NaN,NaN,NaN,NaN,-11.1,-23.5,12.4
27175,72744,Plumas Lake Elementary,asian,NaN,NaN,NaN,NaN,2.9,-1.4,4.4
27176,72744,Plumas Lake Elementary,english_learners,NaN,NaN,NaN,NaN,-36.2,-52.3,16.0
27177,72744,Plumas Lake Elementary,english_learners_only,NaN,NaN,NaN,NaN,-44.6,-56.3,11.7
27178,72744,Plumas Lake Elementary,english_only,NaN,NaN,NaN,NaN,-7.9,-20.2,12.3
27179,72744,Plumas Lake Elementary,filipino,NaN,NaN,NaN,NaN,NaN,49.4,NaN
27180,72744,Plumas Lake Elementary,foster_youth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27181,72744,Plumas Lake Elementary,hispanic,NaN,NaN,NaN,NaN,-22.8,-44.6,21.8
27182,72744,Plumas Lake Elementary,multiple_races,NaN,NaN,NaN,NaN,-8.4,-22.5,14.0
27183,72744,Plumas Lake Elementary,pacific_islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27184,72744,Plumas Lake Elementary,rfep_only,NaN,NaN,NaN,NaN,-34.2,-47.6,13.4
27185,72744,Plumas Lake Elementary,ses_disad,NaN,NaN,NaN,NaN,-24.2,-48.3,24.1
27186,72744,Plumas Lake Elementary,disabilities,NaN,NaN,NaN,NaN,-88.1,-117.4,29.3
27187,72744,Plumas Lake Elementary,white,NaN,NaN,NaN,NaN,-7.7,-18.3,10.5
27188,72751,Wheatland,african_american,NaN,NaN,NaN,NaN,-26.4,-39.1,12.7
27189,72751,Wheatland,american_indian,NaN,NaN,NaN,NaN,-55.9,NaN,NaN
27190,72751,Wheatland,all_students,NaN,NaN,NaN,NaN,-26.6,-28.5,1.9
27191,72751,Wheatland,asian,NaN,NaN,NaN,NaN,-31.8,-28.6,-3.2
27192,72751,Wheatland,english_learners,NaN,NaN,NaN,NaN,-41.1,-57.9,16.9
27193,72751,Wheatland,english_learners_only,NaN,NaN,NaN,NaN,-80.5,-117.8,37.2
27194,72751,Wheatland,english_only,NaN,NaN,NaN,NaN,-25.7,-26.6,0.9
27195,72751,Wheatland,filipino,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27196,72751,Wheatland,hispanic,NaN,NaN,NaN,NaN,-29.8,-36.0,6.2
27197,72751,Wheatland,homeless_youth,NaN,NaN,NaN,NaN,-73.3,NaN,NaN
27198,72751,Wheatland,multiple_races,NaN,NaN,NaN,NaN,-26.9,-33.3,6.4
27199,72751,Wheatland,pacific_islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27200,72751,Wheatland,rfep_only,NaN,NaN,NaN,NaN,-19.0,-32.3,13.2
27201,72751,Wheatland,ses_disad,NaN,NaN,NaN,NaN,-46.9,-49.4,2.5
27202,72751,Wheatland,disabilities,NaN,NaN,NaN,NaN,-110.2,-108.3,-1.9
27203,72751,Wheatland,white,NaN,NaN,NaN,NaN,-23.7,-25.4,1.7
27204,72769,Wheatland Union High,african_american,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27205,72769,Wheatland Union High,american_indian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27206,72769,Wheatland Union High,all_students,NaN,NaN,NaN,NaN,-65.8,-55.0,-10.8
27207,72769,Wheatland Union High,asian,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27208,72769,Wheatland Union High,english_learners,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27209,72769,Wheatland Union High,english_learners_only,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27210,72769,Wheatland Union High,english_only,NaN,NaN,NaN,NaN,-65.3,-52.5,-12.8
27211,72769,Wheatland Union High,filipino,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27212,72769,Wheatland Union High,foster_youth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27213,72769,Wheatland Union High,hispanic,NaN,NaN,NaN,NaN,-89.0,-62.9,-26.1
27214,72769,Wheatland Union High,homeless_youth,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27215,72769,Wheatland Union High,multiple_races,NaN,NaN,NaN,NaN,-91.6,NaN,NaN
27216,72769,Wheatland Union High,pacific_islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27217,72769,Wheatland Union High,rfep_only,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27218,72769,Wheatland Union High,ses_disad,NaN,NaN,NaN,NaN,-90.0,-74.0,-16.0
27219,72769,Wheatland Union High,disabilities,NaN,NaN,NaN,NaN,-226.6,NaN,NaN
27220,72769,Wheatland Union High,white,NaN,NaN,NaN,NaN,-42.3,-57.0,14.7

In [135]:
s3 = dfe.combine_first(dfm)
s3.head(200)

,District Code,dfm,districtname,ela_change,ela_currstatus,ela_priorstatus,m_change,m_currstatus,m_priorstatus,studentgroup
163,61119,NaN,Alameda Unified,NaN,NaN,NaN,-1.1,-83.9,-82.8,african_american
164,61119,NaN,Alameda Unified,5.7,-43.0,-48.7,-1.8,-51.8,-50.0,african_american
165,61119,NaN,Alameda Unified,-29.1,-14.8,14.3,3.4,14.3,10.8,american_indian
166,61119,NaN,Alameda Unified,4.0,36.8,32.8,-1.2,43.6,44.8,all_students
167,61119,NaN,Alameda Unified,-5.3,48.6,54.0,-0.9,-13.7,-12.9,asian
168,61119,NaN,Alameda Unified,-1.1,-2.5,-1.4,0.5,-42.4,-42.9,english_learners
169,61119,NaN,Alameda Unified,2.7,-42.0,-44.7,4.7,17.8,13.0,english_learners_only
170,61119,NaN,Alameda Unified,5.2,43.5,38.3,9.3,-3.5,-12.7,english_only
171,61119,NaN,Alameda Unified,13.9,29.8,16.0,NaN,NaN,NaN,filipino
172,61119,NaN,Alameda Unified,NaN,NaN,NaN,2.3,-24.4,-26.7,foster_youth
173,61119,NaN,Alameda Unified,4.1,5.0,0.9,-20.1,-112.4,-92.3,hispanic
174,61119,NaN,Alameda Unified,-18.7,-75.5,-56.7,5.6,28.3,22.8,homeless_youth
175,61119,NaN,Alameda Unified,6.2,46.6,40.4,5.9,-77.2,-83.0,multiple_races
176,61119,NaN,Alameda Unified,21.8,-27.3,-49.1,1.3,27.8,26.5,pacific_islander
177,61119,NaN,Alameda Unified,-0.5,55.0,55.5,3.6,-35.3,-38.8,rfep_only
178,61119,NaN,Alameda Unified,6.9,-13.1,-20.0,5.0,-99.5,-104.5,ses_disad
179,61119,NaN,Alameda Unified,7.3,-73.1,-80.4,3.8,29.8,26.0,disabilities
180,61119,NaN,Alameda Unified,6.7,60.8,54.1,NaN,NaN,NaN,white
487,61127,NaN,Albany City Unified,NaN,NaN,NaN,-18.3,-41.4,-23.1,african_american
488,61127,NaN,Albany City Unified,-21.8,-9.6,12.2,NaN,NaN,NaN,african_american
489,61127,NaN,Albany City Unified,NaN,NaN,NaN,-6.9,41.2,48.1,american_indian
490,61127,NaN,Albany City Unified,-6.6,57.5,64.1,2.2,76.2,74.0,all_students
491,61127,NaN,Albany City Unified,-0.8,73.0,73.7,0.9,30.7,29.7,asian
492,61127,NaN,Albany City Unified,-6.6,31.0,37.6,19.8,0.5,-19.2,english_learners
493,61127,NaN,Albany City Unified,1.1,-11.4,-12.5,-9.7,37.9,47.6,english_learners_only
494,61127,NaN,Albany City Unified,-7.1,60.9,68.0,34.6,20.2,-14.4,english_only
495,61127,NaN,Albany City Unified,14.7,38.0,23.3,NaN,NaN,NaN,filipino
496,61127,NaN,Albany City Unified,NaN,NaN,NaN,-5.8,-2.7,3.1,foster_youth
497,61127,NaN,Albany City Unified,-3.3,25.6,28.9,NaN,NaN,NaN,hispanic
498,61127,NaN,Albany City Unified,NaN,NaN,NaN,-8.1,32.4,40.5,homeless_youth
499,61127,NaN,Albany City Unified,-4.9,53.9,58.8,NaN,NaN,NaN,multiple_races
500,61127,NaN,Albany City Unified,NaN,NaN,NaN,-12.2,52.2,64.4,pacific_islander
501,61127,NaN,Albany City Unified,-10.6,60.9,71.4,-9.2,0.5,9.7,rfep_only
502,61127,NaN,Albany City Unified,-12.1,14.5,26.6,-12.3,-55.7,-43.4,ses_disad
503,61127,NaN,Albany City Unified,-12.0,-35.9,-23.9,-13.2,46.1,59.3,disabilities
504,61127,NaN,Albany City Unified,-11.4,67.9,79.3,NaN,NaN,NaN,white
582,61143,NaN,Berkeley Unified,NaN,NaN,NaN,6.5,-86.3,-92.8,african_american
583,61143,NaN,Berkeley Unified,8.6,-64.9,-73.5,NaN,NaN,NaN,african_american
584,61143,NaN,Berkeley Unified,NaN,62.3,NaN,8.9,14.9,6.1,american_indian
585,61143,NaN,Berkeley Unified,12.3,32.2,20.0,5.7,24.9,19.2,all_students
586,61143,NaN,Berkeley Unified,4.2,28.5,24.3,0.4,-52.9,-53.3,asian
587,61143,NaN,Berkeley Unified,5.4,-47.2,-52.6,-12.1,-81.6,-69.5,english_learners
588,61143,NaN,Berkeley Unified,-7.4,-82.8,-75.4,9.5,24.8,15.2,english_learners_only
589,61143,NaN,Berkeley Unified,12.1,43.5,31.4,53.4,57.8,4.4,english_only
590,61143,NaN,Berkeley Unified,44.1,62.5,18.4,NaN,-52.8,NaN,filipino
591,61143,NaN,Berkeley Unified,NaN,-53.1,NaN,9.7,-22.6,-32.3,foster_youth
592,61143,NaN,Berkeley Unified,15.5,-5.3,-20.7,12.7,-86.2,-98.9,hispanic
593,61143,NaN,Berkeley Unified,4.1,-71.4,-75.4,10.9,33.4,22.4,homeless_youth
594,61143,NaN,Berkeley Unified,8.1,51.9,43.8,NaN,NaN,NaN,multiple_races
595,61143,NaN,Berkeley Unified,NaN,NaN,NaN,15.2,-2.2,-17.4,pacific_islander
596,61143,NaN,Berkeley Unified,17.6,14.4,-3.2,10.0,-50.2,-60.2,rfep_only
597,61143,NaN,Berkeley Unified,14.1,-33.0,-47.1,3.3,-105.2,-108.5,ses_disad
598,61143,NaN,Berkeley Unified,6.1,-86.0,-92.1,3.5,62.5,59.0,disabilities
599,61143,NaN,Berkeley Unified,10.0,80.7,70.7,NaN,NaN,NaN,white
852,61150,NaN,Castro Valley Unified,NaN,NaN,NaN,7.1,-42.8,-49.9,african_american
853,61150,NaN,Castro Valley Unified,NaN,NaN,NaN,NaN,NaN,NaN,american_indian
854,61150,NaN,Castro Valley Unified,1.0,-17.7,-18.7,3.1,22.0,18.9,african_american
855,61150,NaN,Castro Valley Unified,NaN,NaN,NaN,4.5,76.1,71.7,american_indian
856,61150,NaN,Castro Valley Unified,-1.5,34.2,35.7,2.8,9.0,6.2,all_students
857,61150,NaN,Castro Valley Unified,0.8,71.9,71.0,-2.9,-47.5,-44.7,asian
858,61150,NaN,Castro Valley Unified,1.9,8.6,6.7,2.8,17.0,14.3,english_learners
859,61150,NaN,Castro Valley Unified,1.4,-63.5,-64.9,-4.9,13.9,18.8,english_learners_only
860,61150,NaN,Castro Valley Unified,-2.0,34.0,36.0,NaN,NaN,NaN,english_only
861,61150,NaN,Castro Valley Unified,-12.1,28.5,40.6,2.5,-27.2,-29.7,filipino
862,61150,NaN,Castro Valley Unified,NaN,NaN,NaN,-60.8,-112.1,-51.3,foster_youth
863,61150,NaN,Castro Valley Unified,-2.5,-4.6,-2.0,0.4,28.1,27.7,hispanic
864,61150,NaN,Castro Valley Unified,-30.4,-54.7,-24.2,-11.4,-9.4,2.0,homeless_youth
865,61150,NaN,Castro Valley Unified,-3.1,43.4,46.5,7.6,36.6,28.9,multiple_races
866,61150,NaN,Castro Valley Unified,-1.9,4.3,6.3,4.1,-23.3,-27.4,pacific_islander
867,61150,NaN,Castro Valley Unified,4.8,43.7,38.9,7.0,-85.1,-92.1,rfep_only
868,61150,NaN,Castro Valley Unified,0.5,-7.8,-8.3,5.3,24.8,19.5,ses_disad
869,61150,NaN,Castro Valley Unified,-3.8,-67.3,-63.5,NaN,NaN,NaN,disabilities
870,61150,NaN,Castro Valley Unified,-0.5,39.3,39.8,NaN,NaN,NaN,white
1066,61168,NaN,Emery Unified,NaN,NaN,NaN,2.7,-101.3,-104.0,african_american
1067,61168,NaN,Emery Unified,NaN,NaN,NaN,NaN,NaN,NaN,american_indian
1068,61168,NaN,Emery Unified,9.4,-71.4,-80.8,5.3,-76.5,-81.7,african_american
1069,61168,NaN,Emery Unified,NaN,NaN,NaN,16.0,-32.9,-48.9,american_indian
1070,61168,NaN,Emery Unified,9.2,-51.2,-60.4,-0.3,-62.3,-62.0,all_students
1071,61168,NaN,Emery Unified,2.9,-28.0,-30.9,-9.3,-87.5,-78.2,asian
1072,61168,NaN,Emery Unified,14.7,-54.2,-68.9,6.6,-92.8,-99.4,english_learners
1073,61168,NaN,Emery Unified,4.4,-89.1,-93.5,NaN,NaN,NaN,english_learners_only
1074,61168,NaN,Emery Unified,10.5,-60.6,-71.1,NaN,NaN,NaN,english_only
1075,61168,NaN,Emery Unified,NaN,NaN,NaN,-2.8,-71.5,-68.7,filipino
1076,61168,NaN,Emery Unified,NaN,NaN,NaN,NaN,NaN,NaN,foster_youth
1077,61168,NaN,Emery Unified,1.6,-37.5,-39.2,NaN,-59.6,NaN,hispanic
1078,61168,NaN,Emery Unified,NaN,NaN,NaN,NaN,NaN,NaN,homeless_youth
1079,61168,NaN,Emery Unified,NaN,-34.8,NaN,-6.5,-24.6,-18.1,multiple_races
1080,61168,NaN,Emery Unified,NaN,NaN,NaN,7.5,-83.6,-91.0,pacific_islander
1081,61168,NaN,Emery Unified,1.2,-1.0,-2.1,14.2,-136.7,-150.9,rfep_only
1082,61168,NaN,Emery Unified,12.0,-61.1,-73.1,5.1,-43.5,-48.5,ses_disad
1083,61168,NaN,Emery Unified,15.2,-123.8,-139.1,NaN,NaN,NaN,disabilities
1084,61168,NaN,Emery Unified,17.8,-31.3,-49.0,NaN,NaN,NaN,white
1113,61176,NaN,Fremont Unified,NaN,NaN,NaN,2.8,-61.4,-64.3,african_american
1114,61176,NaN,Fremont Unified,NaN,NaN,NaN,12.4,4.6,-7.8,american_indian
1115,61176,NaN,Fremont Unified,5.9,-19.0,-25.0,4.2,61.6,57.4,african_american
1116,61176,NaN,Fremont Unified,23.7,22.5,-1.2,2.4,104.5,102.2,american_indian
1117,61176,NaN,Fremont Unified,5.3,68.0,62.6,11.8,34.5,22.7,all_students
1118,61176,NaN,Fremont Unified,4.3,99.3,95.0,-17.6,-69.0,-51.4,asian
1119,61176,NaN,Fremont Unified,13.4,36.3,22.9,4.2,53.6,49.4,english_learners
1120,61176,NaN,Fremont Unified,-19.0,-76.8,-57.8,-0.8,14.8,15.7,english_learners_only
1121,61176,NaN,Fremont Unified,5.6,65.7,60.1,NaN,NaN,-47.2,english_only
1122,61176,NaN,Fremont Unified,4.2,45.4,41.2,1.0,-47.5,-48.5,filipino
1123,61176,NaN,Fremont Unified,NaN,NaN,-37.9,-0.6,-88.0,-87.5,foster_youth
1124,61176,NaN,Fremont Unified,2.2,-19.3,-21.5,4.6,34.4,29.8,hispanic
1125,61176,NaN,Fremont Unified,3.6,-49.1,-52.7,-7.4,-47.3,-39.9,homeless_youth
1126,61176,NaN,Fremont Unified,6.4,50.6,44.2,4.1,67.7,63.6,multiple_races
1127,61176,NaN,Fremont Unified,1.0,-17.0,-18.0,7.5,-33.1,-40.6,pacific_islander
1128,61176,NaN,Fremont Unified,5.2,72.7,67.5,5.8,-80.5,-86.3,rfep_only
1129,61176,NaN,Fremont Unified,9.5,-10.0,-19.6,3.3,11.5,8.1,ses_disad
1130,61176,NaN,Fremont Unified,8.4,-61.1,-69.5,NaN,NaN,NaN,disabilities
1131,61176,NaN,Fremont Unified,3.0,35.7,32.7,NaN,NaN,NaN,white
1731,61192,NaN,Hayward Unified,NaN,NaN,NaN,2.4,-94.5,-96.8,african_american
1732,61192,NaN,Hayward Unified,NaN,NaN,NaN,28.2,-54.3,-82.6,american_indian
1733,61192,NaN,Hayward Unified,NaN,NaN,NaN,4.5,-65.1,-69.6,all_students
1734,61192,NaN,Hayward Unified,-1.7,-57.3,-55.6,1.6,-4.6,-6.2,african_american
1735,61192,NaN,Hayward Unified,26.2,-12.6,-38.9,3.1,-84.4,-87.5,american_indian
1736,61192,NaN,Hayward Unified,2.2,-35.4,-37.6,3.4,-120.8,-124.2,all_students
1737,61192,NaN,Hayward Unified,-1.8,13.4,15.1,1.9,-60.7,-62.6,asian
1738,61192,NaN,Hayward Unified,1.1,-62.2,-63.3,0.0,-8.5,-8.5,english_learners
1739,61192,NaN,Hayward Unified,1.6,-113.3,-114.9,-11.9,-146.5,-134.5,english_learners_only
1740,61192,NaN,Hayward Unified,-1.0,-28.4,-27.4,5.2,-76.6,-81.8,english_only
1741,61192,NaN,Hayward Unified,2.6,24.3,21.7,-10.1,-96.1,-85.9,filipino
1742,61192,NaN,Hayward Unified,-37.0,-117.4,-80.4,-2.3,-31.1,-28.8,foster_youth
1743,61192,NaN,Hayward Unified,3.5,-46.8,-50.3,3.4,-71.0,-74.3,hispanic
1744,61192,NaN,Hayward Unified,-6.9,-68.2,-61.3,5.2,-51.3,-56.5,homeless_youth
1745,61192,NaN,Hayward Unified,-8.8,-14.0,-5.2,5.3,-75.9,-81.2,multiple_races
1746,61192,NaN,Hayward Unified,-2.3,-41.3,-39.0,-1.3,-144.0,-142.7,pacific_islander
1747,61192,NaN,Hayward Unified,4.1,-15.8,-19.8,9.2,-45.4,-54.6,rfep_only
1748,61192,NaN,Hayward Unified,4.1,-45.2,-49.4,NaN,NaN,NaN,ses_disad
1749,61192,NaN,Hayward Unified,3.3,-117.5,-120.7,NaN,NaN,NaN,disabilities
1750,61192,NaN,Hayward Unified,3.0,-7.2,-10.2,NaN,NaN,NaN,white
2311,61200,NaN,Livermore Valley Joint Unified,NaN,NaN,NaN,17.5,-42.2,-59.6,african_american
2312,61200,NaN,Livermore Valley Joint Unified,NaN,NaN,NaN,17.7,-64.3,-81.9,american_indian
2313,61200,NaN,Livermore Valley Joint Unified,NaN,NaN,NaN,3.8,-6.3,-10.1,all_students
2314,61200,NaN,Livermore Valley Joint Unified,26.3,2.4,-23.8,14.4,63.7,49.3,african_american
2315,61200,NaN,Livermore Valley Joint Unified,45.2,2.1,-43.1,5.6,-60.1,-65.7,american_indian
2316,61200,NaN,Livermore Valley Joint Unified,4.4,23.1,18.7,-1.6,-105.7,-104.0,all_students
2317,61200,NaN,Livermore Valley Joint Unified,12.0,72.5,60.5,3.0,3.9,0.9,asian
2318,61200,NaN,Livermore Valley Joint Unified,5.0,-37.3,-42.3,4.1,7.7,3.6,english_learners
2319,61200,NaN,Livermore Valley Joint Unified,-2.6,-91.8,-89.2,NaN,-81.2,NaN,english_learners_only
2320,61200,NaN,Livermore Valley Joint Unified,4.0,34.2,30.2,-1.1,-55.1,-54.0,english_only
2321,61200,NaN,Livermore Valley Joint Unified,-3.9,33.2,37.2,-10.7,-75.2,-64.5,filipino
2322,61200,NaN,Livermore Valley Joint Unified,NaN,-11.5,NaN,6.6,22.9,16.2,foster_youth
2323,61200,NaN,Livermore Valley Joint Unified,0.5,-21.2,-21.7,-15.6,-44.1,-28.5,hispanic
2324,61200,NaN,Livermore Valley Joint Unified,15.3,-8.5,-23.8,1.9,-8.8,-10.7,homeless_youth
2325,61200,NaN,Livermore Valley Joint Unified,7.4,47.9,40.5,4.6,-65.2,-69.8,multiple_races
2326,61200,NaN,Livermore Valley Joint Unified,-7.4,-3.1,4.3,7.0,-102.8,-109.8,pacific_islander
2327,61200,NaN,Livermore Valley Joint Unified,-0.7,24.0,24.7,2.5,8.6,6.1,rfep_only
2328,61200,NaN,Livermore Valley Joint Unified,6.3,-33.1,-39.4,NaN,NaN,NaN,ses_disad
2329,61200,NaN,Livermore Valley Joint Unified,7.0,-74.5,-81.5,NaN,NaN,NaN,disabilities
2330,61200,NaN,Livermore Valley Joint Unified,3.5,39.0,35.5,NaN,NaN,NaN,white
2592,61218,NaN,Mountain House Elementary,NaN,NaN,NaN,NaN,NaN,NaN,american_indian
2593,61218,NaN,Mountain House Elementary,NaN,NaN,NaN,NaN,NaN,NaN,all_students
2594,61218,NaN,Mountain House Elementary,NaN,NaN,NaN,NaN,NaN,NaN,american_indian
2595,61218,NaN,Mountain House Elementary,NaN,NaN,-10.7,NaN,NaN,NaN,all_students
2596,61218,NaN,Mountain House Elementary,NaN,NaN,NaN,NaN,NaN,NaN,english_learners
2597,61218,NaN,Mountain House Elementary,NaN,NaN,NaN,NaN,NaN,NaN,english_learners_only
2598,61218,NaN,Mountain House Elementary,NaN,NaN,NaN,NaN,NaN,NaN,english_only
2599,61218,NaN,Mountain House Elementary,NaN,NaN,NaN,NaN,NaN,NaN,hispanic
2600,61218,NaN,Mountain House Elementary,NaN,NaN,NaN,NaN,NaN,NaN,pacific_islander
2601,61218,NaN,Mountain House Elementary,NaN,NaN,NaN,NaN,NaN,NaN,ses_disad
2602,61218,NaN,Mountain House Elementary,NaN,NaN,NaN,NaN,NaN,NaN,white
2610,61234,NaN,Newark Unified,NaN,NaN,NaN,6.3,-66.7,-72.9,african_american
2611,61234,NaN,Newark Unified,NaN,NaN,NaN,NaN,NaN,NaN,american_indian
2612,61234,NaN,Newark Unified,-3.3,-47.6,-44.3,-1.2,-39.3,-38.1,african_american
2613,61234,NaN,Newark Unified,NaN,NaN,NaN,10.4,34.4,24.0,american_indian
2614,61234,NaN,Newark Unified,-3.7,-17.8,-14.1,-3.1,-71.9,-68.8,all_students
2615,61234,NaN,Newark Unified,0.7,37.0,36.3,0.9,-107.4,-108.3,asian
2616,61234,NaN,Newark Unified,-0.4,-53.4,-53.0,0.5,-19.9,-20.4,english_learners
2617,61234,NaN,Newark Unified,11.1,-93.0,-104.1,7.7,0.9,-6.8,english_learners_only
2618,61234,NaN,Newark Unified,-3.8,-2.4,1.4,NaN,NaN,NaN,english_only
2619,61234,NaN,Newark Unified,2.7,29.6,26.9,-7.1,-71.9,-64.8,filipino
2620,61234,NaN,Newark Unified,NaN,NaN,NaN,-12.1,-74.2,-62.1,foster_youth
2621,61234,NaN,Newark Unified,-6.7,-44.1,-37.4,8.3,4.8,-3.5,hispanic
2622,61234,NaN,Newark Unified,-15.7,-54.4,-38.7,-14.1,-48.1,-34.0,homeless_youth
2623,61234,NaN,Newark Unified,-2.6,9.7,12.3,6.8,-31.0,-37.8,multiple_races
2624,61234,NaN,Newark Unified,-13.3,-28.8,-15.5,-1.4,-65.8,-64.3,pacific_islander
2625,61234,NaN,Newark Unified,4.8,-7.8,-12.6,-14.3,-140.7,-126.4,rfep_only
2626,61234,NaN,Newark Unified,-1.3,-41.9,-40.6,-0.9,-10.5,-9.6,ses_disad
2627,61234,NaN,Newark Unified,-7.7,-115.1,-107.4,NaN,NaN,NaN,disabilities
2628,61234,NaN,Newark Unified,-1.8,6.3,8.1,NaN,NaN,NaN,white
2785,61242,NaN,New Haven Unified,NaN,NaN,NaN,10.4,-84.0,-94.4,african_american
2786,61242,NaN,New Haven Unified,NaN,NaN,NaN,35.9,-9.3,-45.3,american_indian
2787,61242,NaN,New Haven Unified,NaN,NaN,NaN,0.7,-30.2,-30.9,all_students
2788,61242,NaN,New Haven Unified,9.2,-42.9,-52.1,1.6,25.2,23.5,african_american
2789,61242,NaN,New Haven Unified,25.7,-2.5,-28.1,-1.3,-64.1,-62.8,american_indian
2790,61242,NaN,New Haven Unified,4.6,-1.4,-6.1,6.3,-108.2,-114.5,all_students
2791,61242,NaN,New Haven Unified,6.4,40.0,33.5,1.8,-30.7,-32.5,asian
2792,61242,NaN,New Haven Unified,2.5,-43.8,-46.3,-2.4,-8.9,-6.5,english_learners
2793,61242,NaN,New Haven Unified,11.2,-94.5,-105.7,NaN,NaN,-99.6,english_learners_only
2794,61242,NaN,New Haven Unified,4.8,-0.2,-5.0,2.7,-68.9,-71.7,english_only
2795,61242,NaN,New Haven Unified,3.0,22.6,19.5,-2.4,-112.3,-109.9,filipino
2796,61242,NaN,New Haven Unified,NaN,NaN,-90.4,-3.1,-11.7,-8.6,foster_youth
2797,61242,NaN,New Haven Unified,4.6,-35.1,-39.7,-9.7,-58.0,-48.2,hispanic
2798,61242,NaN,New Haven Unified,-0.8,-72.9,-72.1,4.4,-11.5,-15.9,homeless_youth
2799,61242,NaN,New Haven Unified,0.4,12.6,12.3,2.2,-62.3,-64.5,multiple_races
2800,61242,NaN,New Haven Unified,7.6,-13.5,-21.0,-4.1,-141.2,-137.1,pacific_islander
2801,61242,NaN,New Haven Unified,9.5,17.1,7.6,-11.8,-32.3,-20.5,rfep_only
2802,61242,NaN,New Haven Unified,6.4,-30.6,-37.0,NaN,NaN,NaN,ses_disad
2803,61242,NaN,New Haven Unified,-3.0,-115.7,-112.7,NaN,NaN,NaN,disabilities

In [128]:
dfe

,District Code,districtname,studentgroup,ela_currstatus,ela_priorstatus,ela_change,dfm
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,NaN
165,61119,Alameda Unified,american_indian,-14.8,14.3,-29.1,NaN
166,61119,Alameda Unified,all_students,36.8,32.8,4.0,NaN
167,61119,Alameda Unified,asian,48.6,54.0,-5.3,NaN
168,61119,Alameda Unified,english_learners,-2.5,-1.4,-1.1,NaN
...,...,...,...,...,...,...,...
148816,72769,Wheatland Union High,pacific_islander,NaN,NaN,NaN,NaN
148817,72769,Wheatland Union High,rfep_only,NaN,NaN,NaN,NaN
148818,72769,Wheatland Union High,ses_disad,-28.4,-7.9,-20.6,NaN
148819,72769,Wheatland Union High,disabilities,-150.3,NaN,NaN,NaN
148820,72769,Wheatland Union High,white,11.7,14.2,-2.5,NaN

In [166]:
mscores = dfm.districtname, dfm.studentgroup, dfm.m_currstatus, dfm.m_priorstatus, dfm.m_change
mscores

(163            Alameda Unified
 164            Alameda Unified
 165            Alameda Unified
 166            Alameda Unified
 167            Alameda Unified
                   ...
 148683    Wheatland Union High
 148684    Wheatland Union High
 148685    Wheatland Union High
 148686    Wheatland Union High
 148687    Wheatland Union High
 Name: districtname, Length: 13603, dtype: object,
 163       african_american
 164        american_indian
 165           all_students
 166                  asian
 167       english_learners
                 ...
 148683    pacific_islander
 148684           rfep_only
 148685           ses_disad
 148686        disabilities
 148687               white
 Name: studentgroup, Length: 13603, dtype: object,
 163       -83.9
 164       -51.8
 165        14.3
 166        43.6
 167       -13.7
           ...
 148683      NaN
 148684      NaN
 148685    -90.0
 148686   -226.6
 148687    -42.3
 Name: m_currstatus, Length: 13603, dtype: float64,
 163      -82.8
 164      -50.0
 165       10.8
 166       44.8
 167      -12.9
           ...
 148683     NaN
 148684     NaN
 148685   -74.0
 148686     NaN
 148687   -57.0
 Name: m_priorstatus, Length: 13603, dtype: float64,
 163       -1.1
 164       -1.8
 165        3.4
 166       -1.2
 167       -0.9
           ...
 148683     NaN
 148684     NaN
 148685   -16.0
 148686     NaN
 148687    14.7
 Name: m_change, Length: 13603, dtype: float64)

In [175]:
s2 = pandas.concat([dfe, dfm],
                   levels=[['studentgroup', 'districtname']],
                   axis=1)
s2

,District Code,districtname,studentgroup,ela_currstatus,ela_priorstatus,ela_change,dfm,District Code,districtname,studentgroup,m_currstatus,m_priorstatus,m_change
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61119,Alameda Unified,african_american,-83.9,-82.8,-1.1
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,NaN,61119,Alameda Unified,american_indian,-51.8,-50.0,-1.8
165,61119,Alameda Unified,american_indian,-14.8,14.3,-29.1,NaN,61119,Alameda Unified,all_students,14.3,10.8,3.4
166,61119,Alameda Unified,all_students,36.8,32.8,4.0,NaN,61119,Alameda Unified,asian,43.6,44.8,-1.2
167,61119,Alameda Unified,asian,48.6,54.0,-5.3,NaN,61119,Alameda Unified,english_learners,-13.7,-12.9,-0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148816,72769,Wheatland Union High,pacific_islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148817,72769,Wheatland Union High,rfep_only,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148818,72769,Wheatland Union High,ses_disad,-28.4,-7.9,-20.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148819,72769,Wheatland Union High,disabilities,-150.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148820,72769,Wheatland Union High,white,11.7,14.2,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
s2 = pandas.concat([dfe, mscores],
                   axis=1,
                   levels=[['districtname', 'studentgroup',]],
                   ignore_index=True)
s2

TypeError: merge() got an unexpected keyword argument 'axis'

In [171]:
s1 = pandas.merge(dfe, dfm, how='inner', 
                  on=['District Code'], 
                  right_index=True)

TypeError: merge() got an unexpected keyword argument 'ignore_index'

In [126]:
s1
# english groups got messed up here

,District Code,districtname_x,studentgroup_x,ela_currstatus,ela_priorstatus,ela_change,districtname_y,studentgroup_y,m_currstatus,m_priorstatus,m_change
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,Alameda Unified,african_american,-83.9,-82.8,-1.1
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,Alameda Unified,american_indian,-51.8,-50.0,-1.8
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,Alameda Unified,all_students,14.3,10.8,3.4
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,Alameda Unified,asian,43.6,44.8,-1.2
164,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,Alameda Unified,english_learners,-13.7,-12.9,-0.9
...,...,...,...,...,...,...,...,...,...,...,...
148820,72769,Wheatland Union High,white,11.7,14.2,-2.5,Wheatland Union High,pacific_islander,NaN,NaN,NaN
148820,72769,Wheatland Union High,white,11.7,14.2,-2.5,Wheatland Union High,rfep_only,NaN,NaN,NaN
148820,72769,Wheatland Union High,white,11.7,14.2,-2.5,Wheatland Union High,ses_disad,-90.0,-74.0,-16.0
148820,72769,Wheatland Union High,white,11.7,14.2,-2.5,Wheatland Union High,disabilities,-226.6,NaN,NaN
148820,72769,Wheatland Union High,white,11.7,14.2,-2.5,Wheatland Union High,white,-42.3,-57.0,14.7

In [ ]:
s1.drop('districtname_y', axis=1, inplace=True)
s1.drop('studentgroup_y', axis=1, inplace=True)
s1 = s1.rename(columns={'districtname_x': 'districtname',
                          'studentgroup_x': 'studentgroup',
                        })

In [99]:
#s2 = pandas.merge(s1, dflcff, how='left', on=['District Code'])
#s2
# probably a better way to do this

,District Code,districtname,studentgroup,ela_currstatus,ela_priorstatus,ela_change,m_currstatus,m_priorstatus,m_change,Local Educational Agency,unduplicated_pupil_count,base_grant,supplemental_grant,concentration_grant,total_grants,cds
0,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,-83.9,-82.8,-1.1,Alameda Unified,0.3486,"75,938,983","5,294,466",-,"82,158,116",01611190000000
1,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,-51.8,-50.0,-1.8,Alameda Unified,0.3486,"75,938,983","5,294,466",-,"82,158,116",01611190000000
2,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,14.3,10.8,3.4,Alameda Unified,0.3486,"75,938,983","5,294,466",-,"82,158,116",01611190000000
3,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,43.6,44.8,-1.2,Alameda Unified,0.3486,"75,938,983","5,294,466",-,"82,158,116",01611190000000
4,61119,Alameda Unified,african_american,-43.0,-48.7,5.7,-13.7,-12.9,-0.9,Alameda Unified,0.3486,"75,938,983","5,294,466",-,"82,158,116",01611190000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207554,72769,Wheatland Union High,white,11.7,14.2,-2.5,NaN,NaN,NaN,Wheatland Union High,0.4283,"7,062,422","604,967",-,"7,852,628",58727690000000
207555,72769,Wheatland Union High,white,11.7,14.2,-2.5,NaN,NaN,NaN,Wheatland Union High,0.4283,"7,062,422","604,967",-,"7,852,628",58727690000000
207556,72769,Wheatland Union High,white,11.7,14.2,-2.5,-90.0,-74.0,-16.0,Wheatland Union High,0.4283,"7,062,422","604,967",-,"7,852,628",58727690000000
207557,72769,Wheatland Union High,white,11.7,14.2,-2.5,-226.6,NaN,NaN,Wheatland Union High,0.4283,"7,062,422","604,967",-,"7,852,628",58727690000000
207558,72769,Wheatland Union High,white,11.7,14.2,-2.5,-42.3,-57.0,14.7,Wheatland Union High,0.4283,"7,062,422","604,967",-,"7,852,628",58727690000000

In [198]:
len(elat)

932

In [199]:
len(matht)

931

In [212]:
dflcff['District Code'].drop(, inplace=True)
dflcff

KeyError: "['61119' '61127' '61143' '61150' '61168' '61176' '61192' '61200' '61218'\n '61234' '61242' '61259' '61275' '61291' '61309' '75093' '75101' '75119'\n '61333' '73981' '61382' '61408' '61424' '61432' '61440' '61457' '61499'\n '61507' '61515' '61523' '61531' '61549' '73379' '75507' '61556' '61564'\n '61572' '61580' '61598' '61606' '61614' '61622' '61630' '61648' '61655'\n '61663' '61671' '61697' '61705' '61713' '61721' '61739' '61747' '61754'\n '61762' '61770' '61788' '61796' '61804' '61812' '61820' '61838' '61846'\n '61853' '61879' '61887' '61895' '61903' '61911' '61929' '61945' '61952'\n '61960' '61978' '61986' '73783' '61994' '62026' '62042' '62109' '62117'\n '62125' '62158' '62166' '62240' '62257' '62265' '62281' '62323' '62331'\n '62356' '62364' '62372' '62380' '62414' '62430' '62513' '62539' '62547'\n '73809' '73965' '73999' '75127' '75234' '75275' '75408' '75598' '76778'\n '62554' '62596' '62638' '62646' '62653' '62661' '75481' '76562' '62679'\n '62687' '62695' '62703' '62729' '62737' '62745' '62794' '62810' '62828'\n '62836' '62851' '62885' '62893' '62901' '62919' '62927' '62935' '62950'\n '62968' '62976' '62984' '63008' '63024' '63032' '63040' '63057' '75374'\n '75382' '75515' '76802' '63073' '63081' '63099' '63107' '63115' '63123'\n '63131' '63149' '63164' '63172' '63180' '63198' '63206' '63214' '63222'\n '63230' '63248' '63271' '63289' '63297' '63305' '76687' '63313' '63321'\n '63339' '63347' '63354' '63362' '63370' '63388' '63404' '63412' '63420'\n '63438' '63446' '63461' '63479' '63487' '63503' '63529' '63545' '63552'\n '63560' '63578' '63586' '63594' '63610' '63628' '63651' '63669' '63677'\n '63685' '63693' '63719' '63750' '63768' '63776' '63784' '63792' '63800'\n '63818' '63826' '63834' '63842' '63859' '73544' '73742' '73908' '75168'\n '63875' '63883' '63891' '63917' '63925' '63933' '63941' '63958' '63966'\n '63974' '63982' '63990' '73932' '64014' '64022' '64030' '64048' '64055'\n '76976' '64089' '64105' '64113' '64139' '64162' '64170' '64188' '64196'\n '64204' '75036' '64212' '64246' '64261' '64279' '64287' '64295' '64303'\n '64311' '64329' '64337' '64345' '64352' '64378' '64394' '64436' '64444'\n '64451' '64469' '64477' '64485' '64501' '64519' '64527' '64535' '64550'\n '64568' '64576' '64584' '64592' '64600' '64626' '64634' '64642' '64659'\n '64667' '64683' '64691' '64709' '64717' '64725' '64733' '64758' '64766'\n '64774' '64790' '64808' '64816' '64832' '64840' '64857' '64865' '64873'\n '64881' '64907' '64931' '64964' '64980' '64998' '65029' '65037' '65045'\n '65052' '65060' '65078' '65094' '65102' '65110' '65128' '65136' '65151'\n '73437' '73445' '73452' '73460' '75291' '75309' '75333' '75341' '75713'\n '76869' '65177' '65185' '65193' '65201' '65243' '65276' '75580' '75606'\n '76414' '65300' '65318' '65334' '65342' '65359' '65367' '65375' '65391'\n '65409' '65417' '65425' '65433' '65458' '65466' '65474' '65482' '73361'\n '75002' '65532' '65540' '65557' '65565' '65573' '65581' '65599' '65607'\n '65615' '65623' '73866' '73916' '75218' '65631' '65649' '65680' '65698'\n '65722' '65730' '65748' '65755' '65763' '65771' '65789' '65813' '65821'\n '65839' '65862' '65870' '73619' '73726' '75317' '75366' '65896' '73585'\n '73593' '73668' '73692' '65961' '65979' '65987' '65995' '66027' '66035'\n '66050' '66068' '66076' '66084' '66092' '66134' '66142' '66159' '66167'\n '66175' '66183' '66191' '66225' '66233' '73825' '75150' '75440' '75473'\n '66241' '66258' '66266' '66282' '66290' '66316' '66324' '66332' '66340'\n '66357' '66373' '66407' '66415' '76877' '66423' '66431' '66449' '66456'\n '66464' '66472' '66480' '66498' '66506' '66514' '66522' '66530' '66548'\n '66555' '66563' '66589' '66597' '66613' '66621' '66647' '66670' '66696'\n '66746' '73635' '73643' '73650' '73924' '66761' '66779' '66787' '66795'\n '66803' '66829' '66837' '66845' '66852' '66886' '66894' '66910' '66928'\n '66944' '66951' '75085' '66969' '66977' '66985' '66993' '67033' '67041'\n '67058' '67082' '67090' '67116' '67124' '67157' '67173' '67181' '67199'\n '67207' '67215' '67231' '67249' '73676' '75176' '75192' '75200' '75242'\n '67280' '67314' '67322' '67330' '67348' '67355' '67413' '67421' '67439'\n '67447' '73973' '75283' '76505' '67454' '67462' '67470' '67488' '67504'\n '67520' '67538' '67553' '67561' '67579' '75259' '67587' '67595' '67611'\n '67637' '67645' '67652' '67678' '67686' '67694' '67702' '67710' '67736'\n '67777' '67785' '67793' '67801' '67819' '67827' '67843' '67850' '67868'\n '67876' '67892' '67918' '67934' '67959' '73858' '73890' '73957' '75044'\n '75051' '75069' '75077' '67967' '67983' '67991' '68007' '68023' '68031'\n '68049' '68056' '68080' '68098' '68106' '68114' '68122' '68130' '68155'\n '68163' '68171' '68189' '68197' '68205' '68213' '68221' '68296' '68304'\n '68312' '68338' '68346' '68353' '68361' '68379' '68387' '68395' '68403'\n '68411' '68437' '68452' '73551' '73569' '73791' '75416' '75614' '76851'\n '68478' '68486' '68502' '68544' '68569' '68577' '68585' '68593' '68619'\n '68627' '68635' '68650' '68676' '75499' '76760' '68700' '68726' '68759'\n '68791' '68809' '68825' '68833' '68841' '75457' '75465' '68858' '68866'\n '68874' '68882' '68890' '68908' '68916' '68924' '68932' '68940' '68957'\n '68965' '68973' '68981' '68999' '69005' '69013' '69021' '69039' '69047'\n '69062' '69070' '69088' '69104' '69112' '69120' '69138' '69146' '69161'\n '69179' '69195' '69203' '69211' '69229' '69245' '69252' '69260' '69310'\n '69328' '69336' '69344' '75010' '76786' '69369' '69377' '69385' '69393'\n '69401' '69419' '69427' '69435' '69450' '69468' '69484' '69492' '69500'\n '69518' '69526' '69534' '69542' '69575' '69583' '69591' '69609' '69617'\n '69625' '69633' '69641' '69666' '69674' '69682' '69690' '69708' '73387'\n '69732' '69757' '69765' '69773' '69781' '69799' '69807' '69815' '69823'\n '69849' '75432' '69856' '69872' '69880' '69914' '69922' '69948' '69955'\n '69971' '69989' '69997' '70003' '70011' '70029' '70037' '70045' '70052'\n '70078' '70086' '70094' '70110' '70128' '70136' '70169' '73700' '75267'\n '70177' '70185' '70193' '70201' '70227' '70243' '70250' '70292' '70318'\n '70326' '70334' '70359' '70367' '70375' '70383' '70409' '70417' '70425'\n '70458' '70466' '70482' '70490' '70508' '70516' '73684' '76455' '70524'\n '70532' '70540' '70565' '70573' '70581' '70599' '70607' '70615' '70623'\n '70649' '70656' '70672' '70680' '70698' '70706' '70714' '70722' '70730'\n '70763' '70789' '70797' '70805' '70813' '70821' '70839' '70847' '70854'\n '70862' '70870' '70888' '70896' '70904' '70912' '70920' '70938' '70953'\n '70961' '70979' '70995' '71001' '71019' '71035' '73882' '75358' '75390'\n '71043' '71050' '71068' '71076' '71084' '71092' '71100' '71134' '71142'\n '71167' '71175' '71209' '71217' '71233' '71266' '71274' '71282' '71290'\n '71324' '73601' '75549' '75556' '75564' '75572' '75739' '71357' '71365'\n '71373' '71381' '71399' '71407' '71415' '71423' '71431' '71449' '71456'\n '71464' '71472' '71498' '71506' '71514' '71522' '71530' '71548' '71555'\n '71563' '71571' '71621' '71639' '71647' '71654' '71662' '71670' '71696'\n '71738' '71746' '71761' '73833' '75028' '76513' '71795' '71803' '71811'\n '71829' '71837' '71852' '71860' '71894' '71902' '71944' '71951' '71969'\n '71985' '71993' '72009' '72017' '72025' '72033' '72041' '72058' '72082'\n '72090' '72108' '72116' '72132' '72140' '72157' '72173' '72181' '72199'\n '72207' '72215' '72223' '72231' '72249' '72256' '72264' '72298' '75325'\n '75523' '75531' '76794' '76836' '72306' '72348' '72355' '72363' '72371'\n '72389' '72397' '72405' '72413' '72421' '75184' '72447' '72454' '72462'\n '72470' '72504' '72512' '72520' '72538' '72546' '72553' '72561' '72579'\n '72603' '72611' '72652' '73759' '73874' '73940' '76828' '72678' '72686'\n '72694' '72702' '72710' '72728' '72736' '72744' '72751' '72769'] not found in axis"

In [165]:
dflcff.drop(s3, inplace=True)
dflcff

KeyError: "['75663' '31609' '76893' '75697' '31617' '77024' '77149' '77032' '77081'\n '76547' '76992' '76950' '76919' '75630' '77222' '76927' '77065' '31625'\n '77164' '76901' '77131' '77099' '77172' '76471' '77156' '77198' '77180'\n '77206' '77214' '76943' '77107' '32276' '76968' '76885'] not found in axis"

### play cells

In [24]:
i = ela.loc[ela['rtype'] == 'S']
o = i = pandas.concat([i.pop(x) for x in ['schoolname', 
                                      'cds']],
                  1)
o
# had to check this school's cds code to validate with another dataset

                                    schoolname             cds
30      Envision Academy for Arts & Technology   1100170112607
31      Envision Academy for Arts & Technology   1100170112607
32      Envision Academy for Arts & Technology   1100170112607
33      Envision Academy for Arts & Technology   1100170112607
34      Envision Academy for Arts & Technology   1100170112607
...                                        ...             ...
148833                    Wheatland Union High  58727695838305
148834                    Wheatland Union High  58727695838305
148835                    Wheatland Union High  58727695838305
148836                    Wheatland Union High  58727695838305
148837                    Wheatland Union High  58727695838305

[134704 rows x 2 columns]

In [ ]:
mlist = []
for group in dfm['District Code']:
    mlist.append(dfm.studentgroup)
    for group in dfm['studentgroup']:
        mlist.append(dfm.m_currstatus)
mlist

In [ ]:
dfmm = dfm
dfm1 = pandas.concat([dfmm.pop(x) for x in ['District Code',
                                           'studentgroup',
                                           'currstatus',
                                           'priorstatus',
                                           'change',
                                          ]])

# Census Data

#### SCAG counties and their FIPS codes:
<br> Los Angeles (06037)<br> Orange (06059)<br> Riverside (06065)<br> San Bernardino (06071)<br> San Diego (06073)<br>Imperial (06025)<br> Ventura (06111)

In [2]:
cacom = Community.from_census(state_fips='06')

NameError: name 'Community' is not defined

In [ ]:
cacom.gdf['county'] = cacom.gdf.geoid.str[:5]
# create counties variable

In [ ]:
cacom.gdf.groupby('county').sum()
#group

In [26]:
scag = Community.from_census(county_fips=['06025', '06037', '06059', '06071', '06111', '06073', '06065'])

NameError: name 'Community' is not defined

In [27]:
rivco = Community.from_census(county_fips=['06065'])

NameError: name 'Community' is not defined

In [28]:
orangeco = Community.from_census(county_fips=['06059'])

NameError: name 'Community' is not defined

In [ ]:
laco = Community.from_census(county_fips=['06037'])

In [ ]:
sbco = Community.from_census(county_fips=['06071'])

In [ ]:
sdco = Community.from_census(county_fips=['06073'])

In [ ]:
f, ax = plt.subplots(1, figsize=(30, 30))
ax = rivco.gdf[rivco.gdf.year==2010].plot('p_poverty_rate_over_65', axes=ax)
plt.show()

# change gdf, variable, and year

### This 'plot' function will produce three maps, one from each of the census data years. We can use it to pass in communities and a specific variable to provide a preliminary view of changes over 30 years.

In [ ]:
def plot(community, column):
    fig, axs = plt.subplots(1,3, figsize=(20,20))
    axs=axs.flatten()
    
    community.gdf[community.gdf.year==1990].dropna(subset=[column]).plot(column=column, scheme='quantiles', cmap='Greens', k=7, ax=axs[0])
    axs[0].axis('off')
    axs[0].set_title('1990')

    community.gdf[community.gdf.year==2000].dropna(subset=[column]).plot(column=column, scheme='quantiles', cmap='Greens', k=7, ax=axs[1])
    axs[1].axis('off')
    axs[1].set_title('2000')

    community.gdf[community.gdf.year==2010].dropna(subset=[column]).plot(column=column, scheme='quantiles', cmap='Greens', k=7, ax=axs[2])
    axs[2].axis('off')
    axs[2].set_title('2010')

In [ ]:
datasets.codebook()

### Variables of interest from census:
#### economic indicators
median_household_income <br>
median_home_value OR median_contract_rent<br>
median_income_whitehh<br>
median_income_blackhh<br>
median_income_hispanichh<br>
n_edu_college_greater - persons with at least 4-year degree (also available as %)<br>
n_edu_hs_less - persons with less than high school (also available as %)<br>

#### demographic indicators
n_recent_immigrant_pop (within the last 10 years)<br>
n_limited_english OR n_other_language<br>
n_hispanic_persons<br>
n_black_persons<br>
n_white_persons

In [ ]:
from segregation.aspatial import GiniSeg
index = GiniSeg(scag.gdf, 'n_mexican_pop', 'n_total_pop')
type(index)

# MERGE SCHOOL DISTRICTS WITH CENSUS DATA

## Alternative community construction

Can also construct communities from longitudinal tract database (ltdb)

In [ ]:
datasets.msas()[datasets.msas().name.str.startswith('Riverside')]

In [ ]:
datasets.msas()[datasets.msas().name.str.startswith('Orange')]

In [ ]:
datasets.msas()[datasets.msas().name.str.startswith('San')]

In [ ]:
LA = Community.from_ltdb(msa_fips='31080')

In [ ]:
SD = Community.from_ltdb(msa_fips='41740')

In [ ]:
riverside = Community.from_ltdb(msa_fips='40140')