In [1]:
import pandas
from geosnap import Community
from geosnap import datasets
import fiona
import geopandas
%matplotlib inline
import matplotlib.pyplot as plt
import segregation


## 5/20 need to make cds in LCFF same length as CDS in performance (ela) dataset, with 6 zeroes. Add trailing zeroes
## also on performance(ela) dataset, need to add single leading zero for single digit county portion of cds code.

C:\Users\fiend\.conda\envs\capstone\lib\site-packages\sklearn\utils\deprecation.py:144: FutureWarning: The sklearn.cluster.spectral module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.cluster. Anything that cannot be imported from sklearn.cluster is now part of the private API.
  warnings.warn(message, FutureWarning)

TO DO: <br>
- What are the 9 extra entries in the school district shapefiles?<br><br>
- Construct community from school district files/merge census data<br><br>
- Figure out discrepancy between n of districts and LCFF data <br><br>
- Create dictionaries using achievement data files in a *student group > ELA > math* format <br><br>
- Determine viability of FRPM as an indicator of segregation vs traditional segregation measures

In [59]:
pandas.set_option('display.max_rows', 500)
pandas.set_option('display.max_column', 500)

In [2]:
ele = geopandas.read_file("districts_tiger/tl_2015_us_sde.shp")
# Reading in shapefiles from census/tiger

In [3]:
seco = geopandas.read_file("districts_tiger/tl_2015_us_sds.shp")

In [4]:
uni = geopandas.read_file("districts_tiger/tl_2015_us_sdu.shp")

In [8]:
ele = ele.loc[ele['STATEFP'] == '06']
# slicing out California
# elementary school districts in California

In [9]:
seco = seco.loc[seco['STATEFP'] == '06']
# secondary school districts in California

In [10]:
uni = uni.loc[uni['STATEFP'] == '06']
# unified school districts in California

In [18]:
len(ele)+len(seco)+len(uni)
#

986

## Combining shapefiles into single geodataframe

In [19]:
ele['origin'] = 'elementary'

In [20]:
seco['origin'] = 'secondary'

In [21]:
uni['origin'] = 'unified'

In [23]:
adistricts = uni.append([ele, seco])
#all districts

In [24]:
adistricts = adistricts.sort_values('NAME', ascending=True)

In [25]:
adistricts.head()

,STATEFP,UNSDLEA,GEOID,NAME,LSAD,LOGRADE,HIGRADE,MTFCC,SDTYP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,origin,ELSDLEA,SCSDLEA
645,06,01620,0601620,ABC Unified School District,00,KG,12,G5420,None,E,38772821,556042,+33.8637711,-118.0665456,"POLYGON ((-118.10857 33.88775, -118.10843 33.8...",unified,NaN,NaN
29,06,NaN,0601650,Acalanes Union High School District,00,09,12,G5410,None,E,205137702,4413448,+37.8772150,-122.1288576,"POLYGON ((-122.26126 37.92143, -122.26009 37.9...",secondary,NaN,01650
403,06,NaN,0601680,Ackerman Elementary School District,00,KG,08,G5400,None,E,11308882,7628,+38.9366318,-121.0507823,"POLYGON ((-121.07045 38.92923, -121.07045 38.9...",elementary,01680,NaN
658,06,00001,0600001,Acton-Agua Dulce Unified School District,00,KG,12,G5420,None,E,555175128,182565,+34.4509057,-118.2276141,"POLYGON ((-118.38010 34.50369, -118.37724 34.5...",unified,NaN,NaN
376,06,NaN,0601710,Adelanto Elementary School District,00,KG,06,G5400,None,E,868470886,832474,+34.6306380,-117.5205628,"POLYGON ((-117.66785 34.79074, -117.66784 34.7...",elementary,01710,NaN

In [26]:
adistricts.shape

(986, 18)

### Harmonizing data

In [27]:
adsgeo = adistricts['NAME']
# all districs shapfile geodataframe

In [44]:
adsgeo.unique().shape
# todo: some districts listed twice

(970,)

In [54]:
dupes = adistricts[adistricts['NAME'].isin(adistricts['NAME'].value_counts()[adistricts['NAME'].value_counts()>2].index)]
print(dupes['NAME'].unique())
# 3 Jefferson
# 3 Lakeside
# 3 Pioneer

['Jefferson Elementary School District'
 'Lakeside Union Elementary School District'
 'Pioneer Union Elementary School District']

In [ ]:
# repeat for perfomance data
# loop over both sets of names to check which one's match <-- YOU ARE HERE
# reverse loop to re-verify, see which ones are missing
# 2 lists of 
# create list of problem children

In [55]:
a1 = adsgeo.astype(str)

## ELA acheivement indicator data
Find the codebook [here](https://www.cde.ca.gov/ta/ac/cm/ela18.asp)

In [251]:
ela = pandas.read_csv('lcff_data/eladownload2018.csv')
ela.shape
#Current Status - Average distance from Standard of students who took the Smarter Balanced summative assessment in ELA
#can use with 'prior status' or 'change' to illustrate performance

C:\Users\fiend\.conda\envs\capstone\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(148838, 32)

In [252]:
ela.columns

Index(['cds', 'rtype', 'schoolname', 'districtname', 'countyname',
       'charter_flag', 'coe_flag', 'dass_flag', 'studentgroup', 'currdenom',
       'currdenom_swd', 'currstatus', 'priordenom', 'priordenom_swd',
       'priorstatus', 'change', 'statuslevel', 'changelevel', 'color', 'box',
       'hscutpoints', 'curradjustment', 'prioradjustment', 'pairshare_method',
       'caa_denom', 'caa_level1_num', 'caa_level1_pct', 'caa_level2_num',
       'caa_level2_pct', 'caa_level3_num', 'caa_level3_pct', 'ReportingYear'],
      dtype='object')

In [253]:
ela = ela.loc[ela['rtype'] == 'D']
# select district level performance
len(ela.districtname.unique())

969

In [232]:
ela['cds'].astype(str)
elat = set(ela['cds'])

,cds,rtype,schoolname,districtname,countyname,charter_flag,coe_flag,dass_flag,studentgroup,currdenom,currdenom_swd,currstatus,priordenom,priordenom_swd,priorstatus,change,statuslevel,changelevel,color,box,hscutpoints,curradjustment,prioradjustment,pairshare_method,caa_denom,caa_level1_num,caa_level1_pct,caa_level2_num,caa_level2_pct,caa_level3_num,caa_level3_pct,ReportingYear
17,1100170000000,D,NaN,Alameda County Office of Education,Alameda,NaN,Y,NaN,AA,2,NaN,NaN,9.0,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
18,1100170000000,D,NaN,Alameda County Office of Education,Alameda,NaN,Y,NaN,ALL,20,NaN,-157.0,17.0,NaN,-186.0,29.0,1,5,0,0,NaN,-12.75,-16.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018
19,1100170000000,D,NaN,Alameda County Office of Education,Alameda,NaN,Y,NaN,AS,1,NaN,NaN,0.0,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
20,1100170000000,D,NaN,Alameda County Office of Education,Alameda,NaN,Y,NaN,EL,8,NaN,NaN,2.0,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
21,1100170000000,D,NaN,Alameda County Office of Education,Alameda,NaN,Y,NaN,ELO,8,NaN,NaN,2.0,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148816,58727690000000,D,NaN,Wheatland Union High,Yuba,NaN,NaN,NaN,PI,1,NaN,NaN,0.0,NaN,NaN,NaN,0,0,0,0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
148817,58727690000000,D,NaN,Wheatland Union High,Yuba,NaN,NaN,NaN,RFP,2,NaN,NaN,3.0,NaN,NaN,NaN,0,0,0,0,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
148818,58727690000000,D,NaN,Wheatland Union High,Yuba,NaN,NaN,NaN,SED,69,NaN,-28.4,55.0,NaN,-7.9,-20.6,2,1,2,160,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
148819,58727690000000,D,NaN,Wheatland Union High,Yuba,NaN,NaN,NaN,SWD,18,18.0,-150.3,9.0,9.0,NaN,NaN,1,0,0,0,Y,-2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
148820,58727690000000,D,NaN,Wheatland Union High,Yuba,NaN,NaN,NaN,WH,75,NaN,11.7,79.0,NaN,14.2,-2.5,3,3,3,130,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018

## Math achievement indicator data
find the codebook [here](https://www.cde.ca.gov/ta/ac/cm/math18.asp)

In [ ]:
math = pandas.read_csv('lcff_data/mathdownload2018.csv')
math.shape

In [ ]:
math

In [ ]:
math = math.loc[math['rtype'] == 'D']
# select district level performance

# LCFF funding data

In [414]:
lcff = pandas.read_csv('lcff_data/lcffsnapshot18an.csv')
lcff.shape

(2243, 26)

In [415]:
lcff.columns
# leading AND trailing spaces!!!! inconsistently!!!

Index([' County Code ', 'District Code', 'School Code',
       'Local Educational Agency ', 'Charter Number',
       ' TK/K-3 ADA\nTarget, B-5/B-1 ', ' 4 - 6 ADA\nTarget, B-6/B-2 ',
       ' 7 - 8 ADA\nTarget, B-7/B-3 ', ' 9 - 12 ADA\nTarget, B-8/B-4 ',
       'Unduplicated Pupil Percentage\nTarget, D-1',
       ' Base Grant Funding\nTarget, C-5 ',
       ' Supplemental Grant Funding\nTarget, D-7 ',
       ' Concentration Grant Funding\nTarget, E-8 ',
       ' Necessary Small Schools Allowance\nTarget, F-1 ',
       ' Add-On (Based on 2012-13 Targeted Instructional Improvement Block Grant)\nTarget, F-2 ',
       ' Add-On (Based on 2012-13 Home-to-School Transportation)\nTarget, F-3 ',
       ' Add-On (Based on 2012-13 Small School District Bus Replacement Program)\nTarget, F-4 ',
       ' Total LCFF Target Entitlement\nTarget, G-1/F-1 ',
       ' Total LCFF Floor Entitlement\nTransition, B-13 ',
       ' Current Year Gap Funding (100%)\nTransition, C-3 ',
       ' Economic Recovery Target\nTransition, D-1 ',
       ' Miscellaneous Adjustments\nTransition, E-1 ',
       ' Total Local Revenue or In-Lieu of Property Taxes\nTransition, F-2/F-7 ',
       ' Education Protection Account Entitlement\nTransition, F-5/F-9 ',
       ' Net State Aid\nTransition, F-6/F-10 ',
       ' Additional SA for MSA Guarantee\nTransition, H-1/H-2 '],
      dtype='object')

In [416]:
lcff.columns = lcff.columns.str.strip()

In [417]:
# renaming important columns
lcff.rename(columns={'Charter Number': 'charter_number', 'Unduplicated Pupil Percentage\nTarget, D-1': 'unduplicated_pupil_percentage', 'Base Grant Funding\nTarget, C-5': 'base_grant', 'Supplemental Grant Funding\nTarget, D-7': 'supplemental_grant', 'Concentration Grant Funding\nTarget, E-8': 'concentration_grant', 'Total LCFF Target Entitlement\nTarget, G-1/F-1': 'total_main_grants'})

,County Code,District Code,School Code,Local Educational Agency,charter_number,"TK/K-3 ADA\nTarget, B-5/B-1","4 - 6 ADA\nTarget, B-6/B-2","7 - 8 ADA\nTarget, B-7/B-3","9 - 12 ADA\nTarget, B-8/B-4",unduplicated_pupil_percentage,base_grant,supplemental_grant,concentration_grant,"Necessary Small Schools Allowance\nTarget, F-1","Add-On (Based on 2012-13 Targeted Instructional Improvement Block Grant)\nTarget, F-2","Add-On (Based on 2012-13 Home-to-School Transportation)\nTarget, F-3","Add-On (Based on 2012-13 Small School District Bus Replacement Program)\nTarget, F-4",total_main_grants,"Total LCFF Floor Entitlement\nTransition, B-13","Current Year Gap Funding (100%)\nTransition, C-3","Economic Recovery Target\nTransition, D-1","Miscellaneous Adjustments\nTransition, E-1","Total Local Revenue or In-Lieu of Property Taxes\nTransition, F-2/F-7","Education Protection Account Entitlement\nTransition, F-5/F-9","Net State Aid\nTransition, F-6/F-10","Additional SA for MSA Guarantee\nTransition, H-1/H-2"
0,01,10017.0,112607.0,Envision Academy for Arts & Technology,811.0,-,-,-,359.23,0.7785,"$3,329,703","$518,435","$362,605",N/A,N/A,N/A,N/A,"$4,210,743","$3,871,076","$339,667",$-,$-,"$894,989","$683,070","$2,632,684",$-
1,01,10017.0,123968.0,Community School for Creative Education,1284.0,125.80,66.49,32.89,-,0.7936,"1,795,769","285,024","195,559",N/A,N/A,N/A,N/A,"2,276,352","2,124,388","151,964",-,-,"561,016","354,307","1,361,029",-
2,01,10017.0,124172.0,Yu Ming Charter,1296.0,252.38,134.11,48.83,-,0.1892,"3,474,375","131,471",-,N/A,N/A,N/A,N/A,"3,605,846","3,388,539","217,307",-,-,-,"683,750","2,922,096",-
3,01,10017.0,125567.0,Urban Montessori Charter,1383.0,271.70,101.50,26.45,-,0.3756,"3,212,111","241,293",-,N/A,N/A,N/A,N/A,"3,453,404","3,238,948","214,456",-,-,"995,692","627,724","1,829,988",-
4,01,10017.0,131581.0,Oakland Unity Middle School,1707.0,-,61.99,109.29,-,0.9199,"1,321,351","243,103","143,896",N/A,N/A,N/A,N/A,"1,708,350","1,620,979","87,371",-,-,"426,729","34,256","1,247,365",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238,58,72744.0,0.0,Plumas Lake Elementary,NaN,615.24,400.21,277.70,-,0.3868,"10,261,440","793,825",-,-,"4,433","49,203",-,"11,108,901","10,433,605","675,296","355,998",-,"1,029,589","2,348,862","8,086,448",-
2239,58,72751.0,0.0,Wheatland,NaN,580.88,389.53,284.05,-,0.4783,"9,947,133","951,543",-,-,"97,971","237,702",-,"11,234,349","10,546,226","688,123","309,994",-,"1,007,306","1,944,794","8,592,243",-
2240,58,72751.0,6118806.0,Wheatland Charter Academy,370.0,64.96,29.33,-,-,0.5069,"757,003","76,745",-,N/A,N/A,N/A,N/A,"833,748","793,112","40,636",-,-,"75,713","148,563","609,472",-
2241,58,72769.0,0.0,Wheatland Union High,NaN,-,-,-,761.94,0.4283,"7,062,422","604,967",-,-,-,"185,239",-,"7,852,628","7,260,075","592,553",-,-,"2,191,152","1,422,027","4,239,449",-
2242,STATE TOTALS,NaN,NaN,NaN,NaN,"1,813,000.84","1,361,446.53","923,799.16","1,855,585.57",NaN,"$49,569,226,529","$6,189,112,345","$3,473,165,908","$100,474,970","$855,045,830","$461,199,504","$4,112,421","$60,652,337,507","$56,805,139,260","$3,934,385,946","$45,891,349","$(134,316)","$20,313,234,098","$7,649,112,824","$33,596,775,929","$144,408,593"

In [418]:
lcff_state_totals = lcff.tail(1)
lcff.drop(lcff.tail(1).index,inplace=True)
# extracting state totals, removing from df

In [419]:
# Slicing by district level cds code
lcff['County Code'] = lcff['County Code'].astype(str)
lcff['District Code'] = lcff['District Code'].astype(int)
lcff['District Code'] = lcff['District Code'].astype(str)
lcff['School Code'] = lcff['School Code'].astype(int)
lcff['School Code'] = lcff['School Code'].astype(str)
# Changing to strings
lcff = lcff.loc[lcff['School Code'] == '0']
# District level entries do not have a school level cds code
lcff['cds'] = lcff['County Code'] + lcff['District Code'] + lcff['School Code']
# Combining into cds code
col_name='cds'
first_col = lcff.pop(col_name)
lcff.insert(0, col_name, first_col)
# Moving to front
lcff.drop('County Code', axis=1, inplace=True)
lcff.drop('District Code', axis=1, inplace=True)
lcff.drop('School Code', axis=1, inplace=True)
# Dropping split cds columns
#lcff['cds'] = lcff['cds'].str.rstrip(lcff['cds'].iloc[-1])
# Removing school level code
#lcff = lcff[(lcff.cds.str.len() == 7)]
# Selecting 7 digit (district level) cds 
len(lcff)

944

In [427]:
lcff['cds'].str.len() == 7

10      False
16      False
17      False
19      False
20      False
        ...
2233    False
2235    False
2238    False
2239    False
2241    False
Name: cds, Length: 944, dtype: bool

In [225]:
lcfft = set(lcff['cds'])
lcfft

{'0161192137646',
 '01611190',
 '1410140117994',
 '0910090930123',
 '19644850',
 '1062166133942',
 '47703180',
 '1262679111708',
 '37680230',
 '4369450113662',
 '10622570',
 '48705816116255',
 '50710920',
 '50105045030234',
 '24658210',
 '3776471119271',
 '4310439119024',
 '0161259115238',
 '52716210',
 '18641700',
 '4710470137372',
 '1910199132605',
 '3768106111195',
 '36677100',
 '37681220',
 '4110413135269',
 '37682960',
 '19647336119531',
 '37681300',
 '1964634119552',
 '4970912128074',
 '50757390',
 '19650780',
 '43696176048045',
 '34674396033799',
 '19647336016935',
 '35674700',
 '41690216044754',
 '43696740',
 '21654176113229',
 '34673550',
 '20102072030229',
 '1964733122606',
 '43693930',
 '30666960',
 '37683956040505',
 '41689240',
 '1910199135582',
 '52105206119606',
 '1964733100743',
 '3768338135913',
 '27754730',
 '4970938120121',
 '4870581115469',
 '30736430',
 '0761796132118',
 '1262687107110',
 '40687910',
 '20652010',
 '30666216094874',
 '19642950',
 '39754996118665',
 '1964733119974',
 '1964733122499',
 '2766092129239',
 '50755725030317',
 '0410041430090',
 '10738090',
 '33751760',
 '09737830',
 '23655576116669',
 '54718110',
 '3410348136275',
 '10622400',
 '55724130',
 '43695340',
 '23739160',
 '04614246113773',
 '3667587128462',
 '37680236116859',
 '5472256120659',
 '21654580',
 '49707890',
 '33671243330685',
 '3675051138107',
 '3667736116723',
 '24753170',
 '07617210',
 '1262679109975',
 '3768098133991',
 '14766870',
 '20652430',
 '4310439133496',
 '1964733106427',
 '10620420',
 '15737420',
 '09618950',
 '33671160',
 '4277206138370',
 '3667827137224',
 '3476505108837',
 '19647336019525',
 '43696170',
 '12628280',
 '33751920',
 '47702500',
 '1965094112706',
 '09619290',
 '15637190',
 '18641050',
 '56724700',
 '29664076027197',
 '3710371138792',
 '49708966052047',
 '3768338124347',
 '33736760',
 '1010108109991',
 '3768213136978',
 '0761796132100',
 '1964733117937',
 '3667876120568',
 '19647336061543',
 '3667959124032',
 '1964733115113',
 '19768690',
 '3467439101295',
 '4870573135095',
 '07617390',
 '36678433630928',
 '37681556117303',
 '19649076021984',
 '4276950132894',
 '3467439125591',
 '3010306134841',
 '1964733133272',
 '1964733118588',
 '2775150118349',
 '4169062126722',
 '3175085114371',
 '0761796132233',
 '54720090',
 '37680236115778',
 '54719020',
 '42693360',
 '12630570',
 '47704250',
 '52714720',
 '01612180',
 '05615560',
 '1964733111625',
 '30666130',
 '4169005132068',
 '46701770',
 '50710840',
 '33671810',
 '1964733131466',
 '19642610',
 '19647336019855',
 '15637840',
 '19650520',
 '3768049129221',
 '1964733111658',
 '3110314119214',
 '2075606132936',
 '1964733134023',
 '3768338111906',
 '41689320',
 '19646260',
 '37683383731247',
 '5071175120212',
 '19642871996479',
 '56724705630363',
 '35675790',
 '31667870',
 '5772694131706',
 '55723890',
 '10625470',
 '11765620',
 '33670900',
 '1964733117952',
 '19643290',
 '3775416122796',
 '50736010',
 '37681890',
 '54722150',
 '13630810',
 '1964733121137',
 '21654330',
 '0110017131581',
 '52715060',
 '09618530',
 '50711420',
 '1964733111583',
 '3768049136416',
 '29663320',
 '29102982930147',
 '4310439123794',
 '3868478101337',
 '3467439101881',
 '1964733124784',
 '4310439123281',
 '15636280',
 '3166951135871',
 '3667678137547',
 '3775416132472',
 '29664070',
 '11626460',
 '1965136114439',
 '2765979136010',
 '0761796126805',
 '19644440',
 '1964733122242',
 '1964857125377',
 '0110017137448',
 '12629190',
 '1964733102541',
 '3667827111807',
 '1975309136648',
 '4569955121640',
 '51713570',
 '1663982110205',
 '1062380138354',
 '3667876137935',
 '49709126116958',
 '2910298114330',
 '3667876107730',
 '37684370',
 '37735510',
 '1973437115725',
 '0161259114868',
 '33669850',
 '54719930',
 '49706230',
 '1964733126169',
 '43694270',
 '3868478118133',
 '0161192127696',
 '19645270',
 '1964733117614',
 '1964733124818',
 '23656150',
 '3910397127134',
 '1964733111575',
 '56725120',
 '1964733102434',
 '36677930',
 '19647336071435',
 '12627290',
 '21733610',
 '3768452124917',
 '39686760',
 '19647331938554',
 '15633540',
 '5010504129023',
 '0761648137430',
 '0161259111476',
 '1964733122614',
 '41690216044788',
 '50710685030267',
 '15634380',
 '54717950',
 '5410546135459',
 '13631490',
 '22655320',
 '4975358114934',
 '2910298126227',
 '28662900',
 '1973437137240',
 '5071266124768',
 '15633880',
 '1663958136556',
 '2710272124297',
 '2910298130823',
 '47702270',
 '36679343630670',
 '21654090',
 '3776901134429',
 '3768338119610',
 '45700940',
 '04614080',
 '41689990',
 '52716470',
 '3467439123901',
 '3968627127191',
 '5075556113852',
 '55751840',
 '1964733117648',
 '54718370',
 '37683040',
 '21654740',
 '27660500',
 '15635450',
 '01612000',
 '42767866111603',
 '54722490',
 '19646341996586',
 '3066464106765',
 '49707146051742',
 '19734520',
 '54105465430327',
 '56726110',
 '10620260',
 '1964733122630',
 '16638750',
 '1964733121848',
 '4277222138396',
 '19647336018774',
 '49706070',
 '1964634101667',
 '4310439111880',
 '04614400',
 '3667827137232',
 '31668450',
 '12626790',
 '19647336016562',
 '3710371138404',
 '39686500',
 '54721990',
 '0161259115386',
 '40687590',
 '1975309135145',
 '2265532125823',
 '1964733128009',
 '52714980',
 '1210124134163',
 '3066530134221',
 '19647336018063',
 '0973783121566',
 '19647336119044',
 '4569971135848',
 '3467439101899',
 '5071233121525',
 '05615640',
 '16639586113120',
 '36675950',
 '10752340',
 '1964733132282',
 '3475283126060',
 '39686350',
 '5071266120063',
 '36678500',
 '50755640',
 '1964733128132',
 '42691790',
 '45700290',
 '1964733124883',
 '49708476114755',
 '20651850',
 '3777032134577',
 '1964733129858',
 '4168999134197',
 '49706150',
 '49708966052039',
 '3667827113928',
 '3776471123042',
 '42691120',
 '1964733117622',
 '4575267113407',
 '1062380136754',
 '5171415129007',
 '0161259128413',
 '36677020',
 '13630730',
 '36678270',
 '4970896102525',
 '3367215126128',
 '23655810',
 '35675530',
 '39685856116594',
 '3467439137844',
 '24658130',
 '43693936046601',
 '1964733129460',
 '0161143138552',
 '19648080',
 '4369450129205',
 '1964733129833',
 '1964733123158',
 '5071043107136',
 '43695420',
 '1964733111518',
 '0961838111724',
 '54720330',
 '3776471127605',
 '19650946023527',
 '37683386119168',
 '34752833430659',
 '42692110',
 '49708396051890',
 '34673480',
 '53765130',
 '49707140',
 '16739320',
 '1964733124792',
 '56724470',
 '19647336017891',
 '4970797107284',
 '19647091996313',
 '3066464124743',
 '19647336016778',
 '37684523730942',
 '54719510',
 '5672546115105',
 '31668520',
 '19647336019715',
 '45700520',
 '29663406112593',
 '3768338128066',
 '3475283112425',
 '1964733131847',
 '3066670109066',
 '13631640',
 '09619520',
 '1964733127894',
 '19647900',
 '3768403125401',
 '4068825125807',
 '1910199115030',
 '1663875112698',
 '1910199115212',
 '23655650',
 '56725460',
 '5271472134403',
 '10624141030766',
 '42750100',
 '45699140',
 '0161259129932',
 '21654746118491',
 '54722070',
 '0161259114363',
 '49738820',
 '4870573129494',
 '31668030',
 '01100176001788',
 '19643030',
 '19643780',
 '19648730',
 '19647336117048',
 '07617540',
 '19646830',
 '19647336094726',
 '54721570',
 '2910298114975',
 '49710190',
 '39686190',
 '3667736136937',
 '4269112124255',
 '2065243107938',
 '17640300',
 '1510157135467',
 '1964733122754',
 '0110017123968',
 '3767991108563',
 '41688660',
 '3710371138594',
 '19647336019533',
 '19647336017016',
 '3166852138008',
 '4269112137877',
 '1062265116640',
 '3310330137869',
 '3868478127530',
 '43695836118541',
 '49705990',
 '19647336018642',
 '32669690',
 '49706720',
 '1964733120071',
 '36678920',
 '5472249133793',
 '5472140136507',
 '3310330138024',
 '49709536111678',
 '19646670',
 '1964733101675',
 '2765979136218',
 '40687000',
 '33751926112551',
 '37683530',
 '19651361996263',
 '1964733133884',
 '17640220',
 '1964733100289',
 '36750690',
 '45698564530333',
 '1910199121772',
 '12627030',
 '37683386120935',
 '5010504117457',
 '17640550',
 '19643110',
 '19647331931708',
 '5171415132761',
 '1975309136531',
 '30666470',
 '5171423132977',
 '33672070',
 '41689730',
 '1964733122622',
 '1964733100867',
 '4310439131110',
 '5510553129346',
 '1363123118455',
 '5810587117242',
 '26736680',
 '43693936046627',
 '44697996049720',
 '0110017124172',
 '12755150',
 '4169005127282',
 '43694840',
 '1976869119016',
 '3768338127647',
 '3475283108860',
 '1964634128991',
 '3768213123224',
 '50712090',
 '3675044107516',
 '4369369106633',
 '1964733123166',
 '16639580',
 '21653340',
 '51714310',
 '42767866118202',
 '1964667125559',
 '54718940',
 '19647331933746',
 '0161309101212',
 '4277198138362',
 '21653180',
 '10624140',
 '0461424118042',
 '45737000',
 '3166944121624',
 '33752000',
 '4970722136465',
 '47704580',
 '4310439135087',
 '3968676111336',
 '3175085128561',
 '5071167137265',
 '1910199106880',
 '4570136106013',
 '0161119130609',
 '19647740',
 '49709200',
 '4269112137885',
 '33671736032411',
 '12629500',
 '11754810',
 '09619110',
 '1062547136523',
 '37683386117683',
 '49708626051932',
 '3467439135343',
 '49709610',
 '37768510',
 '1975309131987',
 '15635780',
 '1964881113464',
 '49709380',
 '3476505130757',
 '40754570',
 '3310330137836',
 '3467421132019',
 '37679830',
 '57727020',
 '01612596117972',
 '5471803112458',
 '1964733128512',
 '3010306133983',
 '19651100',
 '55723550',
 '50712820',
 '56725530',
 '0961838107227',
 '19647336120489',
 '3768338108787',
 '21653670',
 '24656310',
 '19647336019111',
 '33752420',
 '1964733136986',
 '10625390',
 '1910199136119',
 '04615150',
 '15634610',
 '3076893130765',
 '44698234430187',
 '4970839138065',
 '1964634120303',
 '1964733106864',
 '12753820',
 '49708540',
 '3667876120006',
 '49707970',
 '3667876122317',
 '44697730',
 '10623560',
 '1964733125641',
 '23655400',
 '54722566116909',
 '3667827137208',
 '14632480',
 '3768338121681',
 '19753410',
 '33671730',
 '48705240',
 '5071167138057',
 '54720410',
 '06615980',
 '1262679137653',
 '54719850',
 '37680236037956',
 '19642461996537',
 '2710272112177',
 '2075606125021',
 '0761796129643',
 '19647336097927',
 '23656070',
 '15635600',
 '07618120',
 '1964733135509',
 '27661420',
 '35752590',
 '1964733131904',
 '43694506047229',
 '1964733121707',
 '4469765100388',
 '12626870',
 '3910397120717',
 '0510058530154',
 '3768411126086',
 '52105206119671',
 '50712740',
 '19647336114912',
 '3367207101170',
 '49709616052302',
 '1663925137901',
 '1964733112235',
 '10625130',
 '3968585133678',
 '01100176002000',
 '3777156137323',
 '2065243118950',
 '37683460',
 '04614246119523',
 '19647330',
 '47703590',
 '3768049131169',
 '1563578135186',
 '37684110',
 '27660270',
 '1964733127977',
 '30665220',
 '33670330',
 '07617546118087',
 '36676110',
 '54722230',
 '51714640',
 '5071043107128',
 '3768338106799',
 '4570110135889',
 '3968569132415',
 '19647331995836',
 '3467330106757',
 '3768163128421',
 '34674390',
 '1875036121657',
 '1964733126193',
 '50755720',
 '1964733124008',
 '43694274330726',
 '11626610',
 '3768452128223',
 '0761796110973',
 '4369427116889',
 '19647336019954',
 '1964733122747',
 '33672310',
 '19647331931047',
 '13630990',
 '39684860',
 '1964733120030',
 '1964733110304',
 '3768197136408',
 '1964733122481',
 '19648400',
 '1910199135368',
 '3010306138800',
 '19756636120158',
 '3467322127860',
 '12628286116289',
 '3968676114876',
 '1410140128447',
 '09619450',
 '1964733120527',
 '55723480',
 '37681633731239',
 '13632300',
 '5472256109751',
 '3968627129890',
 '1910199134346',
 '19647336121081',
 '19756971996693',
 '16638910',
 '1964733111484',
 '24657890',
 '4310439131748',
 '3175085119487',
 '19647580',
 '3777107136473',
 '3968676118497',
 '5471993124776',
 '44697990',
 '31669440',
 '27661590',
 '20651770',
 '13632060',
 '19647331931864',
 '4369666129718',
 '15751680',
 '30664800',
 '1964733131870',
 '2010207117184',
 '56768280',
 '1062166114553',
 '50712900',
 '2710272125765',
 '19642120',
 '3768213138636',
 '37683610',
 '47704900',
 '12628850',
 '43733870',
 '3367082120675',
 '0161309114421',
 '49753900',
 '41688740',
 '1262976115154',
 '4168924127548',
 '23655570',
 '01612340',
 '19647336016323',
 '37683386039457',
 '1964733102426',
 '43693856046452',
 '50710430',
 '2065243100016',
 '34765056112643',
 '3776471123059',
 '29663240',
 '25735930',
 '09619780',
 '0161259131896',
 '1975309127100',
 '3467447128124',
 '05615800',
 '54718600',
 '19647336057988',
 '1910199137166',
 '3968676120733',
 '1910199127522',
 '27659790',
 '34674473430758',
 '3667876136952',
 '4970672122440',
 '1976869128728',
 '4970680112987',
 '06616060',
 '0161259120188',
 '1964733122739',
 '1973437134338',
 '1964733120477',
 '43693936046577',
 '35675610',
 '07617130',
 '0161192108670',
 '52716390',
 '42693100',
 '1964733137554',
 '1310132134379',
 '1964733120022',
 '3667827137174',
 '41690470',
 '4510454132944',
 '36679590',
 '1964733100800',
 '41690620',
 '13631070',
 '13632140',
 '1964733137463',
 '45700450',
 '50711340',
 '15634790',
 '0161176130534',
 '1910199109660',
 '42767860',
 '56739400',
 '3476505113878',
 '01611760',
 '0461424137828',
 '19645500',
 '3773791138222',
 '3968676123802',
 '12630400',
 '4970862128157',
 '42693440',
 '49710010',
 '07617470',
 '42691950',
 '58105875830112',
 '1964733101683',
 '54721080',
 '31667610',
 '19647336058150',
 '55723970',
 '40688090',
 '0761796101477',
 '10623720',
 '51714566053334',
 '0161259115014',
 '41689810',
 '38684783830437',
 '34674473430691',
 '1964733112508',
 '3667876117192',
 '1964733126136',
 '43693936046510',
 '50710500',
 '4369427132274',
 '34673220',
 '41690216044739',
 '1563628127209',
 '3968627130864',
 '12768020',
 '18641880',
 '27660920',
 '1964733134148',
 '1964733124560',
 '37683870',
 '3968627126755',
 '5772710121749',
 '49708130',
 '07617050',
 '4169005132076',
 '15634046009351',
 '2910298114322',
 '19651020',
 '3567470127688',
 '0710074129684',
 '1062265126292',
 '2065243134510',
 '43695910',
 '4570169136440',
 '36675870',
 '3166845121418',
 '1964733123992',
 '0461424121475',
 '1964733124933',
 '4510454111674',
 '39686276119309',
 '54719440',
 '3768338118851',
 '02613330',
 '3467439121665',
 '1964352128496',
 '10767781030774',
 '07617960',
 '42692520',
 '43693936046668',
 '1964733129825',
 '4377149137315',
 '19647336017693',
 '19650290',
 '49708706066344',
 '41688580',
 '11625540',
 '4369666131656',
 '1062331130880',
 '42692030',
 '1964733123984',
 '40688330',
 '45700780',
 '1964733117895',
 '0161119130625',
 '53750280',
 '0961838129965',
 '15638180',
 '12629840',
 '0161192127944',
 '15635520',
 '49707306120588',
 '43694274330668',
 '3768049127118',
 '3768098101535',
 '1975309137786',
 '3366993127142',
 '37768516113468',
 '43696660',
 '33671990',
 '35675380',
 '0861820137729',
 '0410041134213',
 '4275010134866',
 '3675051137794',
 '0761796136903',
 '1964733127985',
 '21654660',
 '36103636111918',
 '4269112111773',
 '39685930',
 '43693696046247',
 '3710371137752',
 '37683386115570',
 '01611680',
 '4469765100305',
 '58727440',
 '5572413112276',
 '01612420',
 '36679186118350',
 '15637680',
 '52715630',
 '10755980',
 '3667892134247',
 '4310439113704',
 '45698720',
 '1964733120097',
 '5471837109009',
 '3968676136283',
 '44698074430179',
 '49708050',
 '5075739124669',
 '3768189118323',
 '19647336020036',
 '3968585122580',
 '3768338108548',
 '27751500',
 '5071043112292',
 '1975309131383',
 '44697810',
 '4410447136572',
 '30665140',
 '1964881113894',
 '3467439101048',
 '37681893731072',
 '0161259130666',
 '19101996119945',
 '49710350',
 '18641620',
 '43695830',
 '47736840',
 '0161259115592',
 '0710074731380',
 '37679670',
 '3476505101766',
 '30664230',
 '3768338136663',
 '47704820',
 '2410249106518',
 '44697320',
 '04615316112999',
 '0110017136101',
 '54721160',
 '19645350',
 '3675051115089',
 '54722980',
 '39103973930476',
 '51714490',
 '3768338123778',
 '4369450121483',
 '1964725127506',
 '3768163138628',
 '19647090',
 '5610561109900',
 '19644770',
 '37683386119598',
 '4169047129759',
 '54720170',
 '04615316113765',
 '37735693731221',
 '1910199137679',
 '19734600',
 '19646420',
 '43696250',
 '3968676120725',
 '51714645130125',
 '58727280',
 '3175085117879',
 '1964733114959',
 '19647331938885',
 '23656156117386',
 '5171456133934',
 '29663400',
 '3066423131417',
 '3675051136432',
 '20756060',
 '19646590',
 '3768213127084',
 '0461531110338',
 ...}

In [233]:
elat.intersection(lcfft)

set()

In [ ]:
eladistrict_names.astype(str)

In [ ]:
eladistrict_names.sort()
# need to slice achievement data by rtype=d for this to work

In [ ]:
eladistrict_names
# ABC Unified at the top means working

In [ ]:
mathdistrict_names = math['districtname'].unique()

In [ ]:
mathdistrict_names.astype(str)

In [ ]:
mathdistrict_names.sort()

In [ ]:
mathdistrict_names

In [ ]:
s1 = set([1,2,3,4])

In [ ]:
s2 = set([3,4,5,6])

In [ ]:
s1.intersection(s2)
#3 and 4 are elements of both sets
#which elements from s1 are found in s2

In [ ]:
s1.difference(s2)

In [ ]:
elaset = set(eladistrict_names)

In [ ]:
mathset = set(mathdistrict_names)

In [ ]:
elaset.difference(mathset)
#disctricts missing from mathset

In [ ]:
mathset.difference(elaset)
#districts missing from elaset (none)

In [ ]:
adistrictset = set(adistrict_names)

In [ ]:
len(elaset.difference(adistrictset))
#need to add 'school district'
#copy performance data into new list

In [ ]:
len(adistrictset.difference(elaset))

In [ ]:
performance1 = set([word+" School District" for word in elaset])

In [ ]:
performance1.difference(adistrictset)

In [ ]:
s1 = 'Tulare elementary school'

In [ ]:
s1.replace(' elementary', '')

In [ ]:
performance1 = set([word+" School District" for word in elaset])

In [ ]:
adistrict2 = set([word.replace(' Elementary', '') for word in adistrictset])

In [ ]:
len(performance1.difference(adistrict2))

In [ ]:
adistrictset.difference(performance1)
# save into lists
# elementary/secondary/unified

In [ ]:
performance1

In [ ]:
adistrictset

In [ ]:
elaunique[0:10]

In [ ]:
elaunique = elaunique.astype(str)

In [ ]:
elaunique.sort()

In [ ]:
elaunique

In [ ]:
edistricts = uni.append([ele])
#unified/elementary districts

In [ ]:
edistricts.plot(column='origin', 
                legend=True, 
                cmap='winter', 
                figsize=(5,5)
               )

#subplots

In [ ]:
sdistricts = uni.append([seco])
#unified/secondary districts

In [ ]:
sdistricts.plot(column='origin',
                legend=True,
                cmap='winter', 
                figsize=(5,5)
               )

cds                                          1100170112607
rtype                                                    S
schoolname          Envision Academy for Arts & Technology
districtname            Alameda County Office of Education
countyname                                         Alameda
charter_flag                                             Y
coe_flag                                               NaN
dass_flag                                              NaN
studentgroup                                            EO
currdenom                                               35
currdenom_swd                                          NaN
currstatus                                           -13.5
priordenom                                              45
priordenom_swd                                         NaN
priorstatus                                           -3.8
change                                                -9.7
statuslevel                                              2
changelevel                                              2
color                                                    0
box                                                      0
hscutpoints                                              Y
curradjustment                                         NaN
prioradjustment                                        NaN
pairshare_method                                       NaN
caa_denom                                              NaN
caa_level1_num                                         NaN
caa_level1_pct                                         NaN
caa_level2_num                                         NaN
caa_level2_pct                                         NaN
caa_level3_num                                         NaN
caa_level3_pct                                         NaN
ReportingYear                                         2018
Name: 35, dtype: object

In [ ]:
funding_lookup = lcff['School Code'].dropna()

In [ ]:
funding_lookup = funding_lookup.astype('int64')

In [ ]:
lcff_less_charter = lcff[lcff['Charter Number'].isnull()]
lcff_less_charter

inherent problems in matches - accept as structural problems in data gathering and storage (opacity)

Student group columns are shared by both performance indicators, can use to investigate performance by individual groups/impact by lcff funding. Create dictionaries using student groups and performance data?

In [ ]:
perf = pandas.Series(math.currstatus.values,index=math.studentgroup).to_dict()
perf

# Free and reduced meal plan data
Used by policy makers as a stand-in for a  segregation indicator.

In [64]:
frpm = pandas.read_csv('lcff_data/frpm1819.csv', encoding = "ISO-8859-1", skiprows=1)
frpm.shape

(10520, 28)

In [65]:
# renaming important columns
frpm = frpm.rename(columns={'Percent (%) \nEligible FRPM \n(K-12)': 'percent_eligible_k12_frpm', 'Percent (%) \nEligible Free \n(K-12)': 'percent_eligible_k12_free'})

In [68]:
frpm

,Academic Year,County Code,District Code,School Code,County Name,District Name,School Name,District Type,School Type,Educational \nOption Type,NSLP \nProvision \nStatus,Charter \nSchool \n(Y/N),Charter \nSchool \nNumber,Charter \nFunding \nType,IRC,Low Grade,High Grade,Enrollment \n(K-12),Free Meal \nCount \n(K-12),percent_eligible_k12_free,FRPM Count \n(K-12),percent_eligible_k12_frpm,Enrollment \n(Ages 5-17),Free Meal \nCount \n(Ages 5-17),Percent (%) \nEligible Free \n(Ages 5-17),FRPM Count \n(Ages 5-17),Percent (%) \nEligible FRPM \n(Ages 5-17),CALPADS Fall 1 \nCertification Status
0,2018-2019,1,10017,112607,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,County Office of Education (COE),High Schools (Public),Traditional,NaN,Yes,0811,Directly funded,Y,9,12,385,262,68.1%,306,79.5%,370,249,67.3%,291,78.6%,Y
1,2018-2019,1,10017,123968,Alameda,Alameda County Office of Education,Community School for Creative Education,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1284,Directly funded,Y,K,8,241,118,49.0%,120,49.8%,224,113,50.4%,115,51.3%,Y
2,2018-2019,1,10017,124172,Alameda,Alameda County Office of Education,Yu Ming Charter,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1296,Directly funded,Y,K,8,445,58,13.0%,64,14.4%,445,58,13.0%,64,14.4%,Y
3,2018-2019,1,10017,125567,Alameda,Alameda County Office of Education,Urban Montessori Charter,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1383,Directly funded,Y,K,8,432,113,26.2%,131,30.3%,418,111,26.6%,129,30.9%,Y
4,2018-2019,1,10017,130401,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,County Office of Education (COE),Juvenile Court Schools,Juvenile Court School,NaN,No,NaN,NaN,N,K,12,53,53,100.0%,53,100.0%,50,50,100.0%,50,100.0%,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10515,2018-2019,58,72751,6056832,Yuba,Wheatland,Lone Tree Elementary,Elementary School District,Elementary Schools (Public),Traditional,NaN,No,NaN,NaN,N,K,5,366,77,21.0%,144,39.3%,357,76,21.3%,141,39.5%,Y
10516,2018-2019,58,72751,6056840,Yuba,Wheatland,Wheatland Elementary,Elementary School District,Elementary Schools (Public),Traditional,NaN,No,NaN,NaN,N,K,3,321,151,47.0%,177,55.1%,306,144,47.1%,169,55.2%,Y
10517,2018-2019,58,72751,6118806,Yuba,Wheatland,Wheatland Charter Academy,Elementary School District,Elementary Schools (Public),Traditional,NaN,Yes,0370,Locally funded,N,K,5,98,12,12.2%,43,43.9%,98,12,12.2%,43,43.9%,Y
10518,2018-2019,58,72769,1,Yuba,Wheatland Union High,"Nonpublic, Nonsectarian Schools",High School District,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0,0.0%,0,0.0%,2,0,0.0%,0,0.0%,Y
10519,2018-2019,58,72769,5838305,Yuba,Wheatland Union High,Wheatland Union High,High School District,High Schools (Public),Traditional,NaN,No,NaN,NaN,N,9,12,782,260,33.2%,345,44.1%,763,253,33.2%,335,43.9%,Y

In [ ]:
frpm['School Type'].unique()
# is there any reason to cut any of these out?

In [ ]:
frpm.head()
# lookup table

In [ ]:
# frpm groupby district 
# 1) remove %
# 2) convert to float
# 3) groupby 
# 4) compare with dissimilarity index to validate proxy <--- YOU ARE HERE

In [ ]:
frpm['percent_eligible_k12_free'] = frpm['percent_eligible_k12_free'].str.strip('%')
frpm['percent_eligible_k12_free'].astype(float)

In [ ]:
frpm['percent_eligible_k12_frpm'] = frpm['percent_eligible_k12_frpm'].str.strip('%')
frpm['percent_eligible_k12_frpm'].astype(float)

In [ ]:
frpm.head()

In [ ]:
funding_lookup

In [ ]:
frmp['District Code']

In [ ]:
good = [code for code in funding_lookup if code in frmp['District Code']]

In [ ]:
good[-10:]

In [ ]:
for code in funding_lookup:
    if code in frmp['District Code']:
        print(code)

In [ ]:
frmp['Percent (%) \nEligible FRPM \n(K-12)']
# these are by school only.. will need to do an average to get a figure to represent the county, or do something else?

# Census Data

#### SCAG counties and their FIPS codes:
<br> Los Angeles (06037)<br> Orange (06059)<br> Riverside (06065)<br> San Bernardino (06071)<br> San Diego (06073)<br>Imperial (06025)<br> Ventura (06111)

In [ ]:
cacom = Community.from_census(state_fips='06')

In [ ]:
scag = Community.from_census(county_fips=['06025', '06037', '06059', '06071', '06111', '06073', '06065'])

In [ ]:
rivco = Community.from_census(county_fips=['06065'])

In [ ]:
orangeco = Community.from_census(county_fips=['06059'])

In [ ]:
laco = Community.from_census(county_fips=['06037'])

In [ ]:
sbco = Community.from_census(county_fips=['06071'])

In [ ]:
sdco = Community.from_census(county_fips=['06073'])

In [ ]:
f, ax = plt.subplots(1, figsize=(30, 30))
ax = rivco.gdf[rivco.gdf.year==2010].plot('p_poverty_rate_over_65', axes=ax)
plt.show()

# change gdf, variable, and year

### This 'plot' function will produce three maps, one from each of the census data years. We can use it to pass in communities and a specific variable to provide a preliminary view of changes over 30 years.

In [ ]:
def plot(community, column):
    fig, axs = plt.subplots(1,3, figsize=(20,20))
    axs=axs.flatten()
    
    community.gdf[community.gdf.year==1990].dropna(subset=[column]).plot(column=column, scheme='quantiles', cmap='Greens', k=7, ax=axs[0])
    axs[0].axis('off')
    axs[0].set_title('1990')

    community.gdf[community.gdf.year==2000].dropna(subset=[column]).plot(column=column, scheme='quantiles', cmap='Greens', k=7, ax=axs[1])
    axs[1].axis('off')
    axs[1].set_title('2000')

    community.gdf[community.gdf.year==2010].dropna(subset=[column]).plot(column=column, scheme='quantiles', cmap='Greens', k=7, ax=axs[2])
    axs[2].axis('off')
    axs[2].set_title('2010')

In [ ]:
datasets.codebook()

### Variables of interest from census:
#### economic indicators
median_household_income <br>
median_home_value OR median_contract_rent<br>
median_income_whitehh<br>
median_income_blackhh<br>
median_income_hispanichh<br>
n_edu_college_greater - persons with at least 4-year degree (also available as %)<br>
n_edu_hs_less - persons with less than high school (also available as %)<br>

#### demographic indicators
n_recent_immigrant_pop (within the last 10 years)<br>
n_limited_english OR n_other_language<br>
n_hispanic_persons<br>
n_black_persons<br>
n_white_persons

In [ ]:
from segregation.aspatial import GiniSeg
index = GiniSeg(scag.gdf, 'n_mexican_pop', 'n_total_pop')
type(index)

# MERGE SCHOOL DISTRICTS WITH CENSUS DATA

## Alternative community construction

Can also construct communities from longitudinal tract database (ltdb)

In [ ]:
datasets.msas()[datasets.msas().name.str.startswith('Riverside')]

In [ ]:
datasets.msas()[datasets.msas().name.str.startswith('Orange')]

In [ ]:
datasets.msas()[datasets.msas().name.str.startswith('San')]

In [ ]:
LA = Community.from_ltdb(msa_fips='31080')

In [ ]:
SD = Community.from_ltdb(msa_fips='41740')

In [ ]:
riverside = Community.from_ltdb(msa_fips='40140')