In [1]:
import pandas
#from geosnap import Community
#from geosnap import datasets
import fiona
import geopandas
%matplotlib inline
import matplotlib.pyplot as plt
import segregation

In [2]:
pandas.set_option('display.max_rows', 500)
pandas.set_option('display.max_column', 500)

In [3]:
ele = geopandas.read_file("districts_tiger/tl_2015_us_sde.shp")
# Reading in shapefiles from census/tiger

In [4]:
seco = geopandas.read_file("districts_tiger/tl_2015_us_sds.shp")

In [5]:
uni = geopandas.read_file("districts_tiger/tl_2015_us_sdu.shp")

In [6]:
ele = ele.loc[ele['STATEFP'] == '06']
# slicing out California
# elementary school districts in California

In [7]:
seco = seco.loc[seco['STATEFP'] == '06']
# secondary school districts in California

In [8]:
uni = uni.loc[uni['STATEFP'] == '06']
# unified school districts in California

In [9]:
len(ele)+len(seco)+len(uni)

986

## Combining shapefiles into single geodataframe

In [10]:
ele['origin'] = 'elementary'

In [11]:
seco['origin'] = 'secondary'

In [12]:
uni['origin'] = 'unified'

In [13]:
adistricts = uni.append([ele, seco])
#all districts

In [14]:
adistricts = adistricts.sort_values('NAME', ascending=True)

In [146]:
check = adistricts['NAME'].str.contains('County Office')

res = [i for i, val in enumerate(check) if val]
print(res)

[]

In [16]:
adistricts.shape

(986, 18)

In [17]:
adsgeo = adistricts['NAME']
# all districs shapfile geodataframe

In [18]:
adsgeo.unique().shape
# todo: some districts listed twice

(970,)

In [19]:
dupes = adistricts[adistricts['NAME'].isin(adistricts['NAME'].value_counts()[adistricts['NAME'].value_counts()>2].index)]
print(dupes['NAME'].unique())
# 3 Jefferson
# 3 Lakeside
# 3 Pioneer

# create new column indicating countyID

['Jefferson Elementary School District'
 'Lakeside Union Elementary School District'
 'Pioneer Union Elementary School District']

In [147]:
970 + 58

1028

### Harmonizing data

ela + math `currstatus` Average distance from Standard of students who took the Smarter Balanced summative assessment in ela/math


options<br>
* questions of differences across groups? (no geography)
* differences across districts (group by district)
* differences across groups in districts (interaction effects > more pronounced differences in certain districts)

visualization

* what is the best indicator to use for choropleth ()

* or - use state level values as benchmark for each group (how is it reflected in each district, heterogeniety in space?)

## ELA acheivement indicator data
Find the codebook [here](https://www.cde.ca.gov/ta/ac/cm/ela18.asp)

In [202]:
ela = pandas.read_csv('lcff_data/eladownload2018.csv')
ela.shape

C:\Users\fiend\Anaconda2\envs\capstone\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(148838, 32)

In [203]:
ela.head()

,cds,rtype,schoolname,districtname,countyname,charter_flag,coe_flag,dass_flag,studentgroup,currdenom,currdenom_swd,currstatus,priordenom,priordenom_swd,priorstatus,change,statuslevel,changelevel,color,box,hscutpoints,curradjustment,prioradjustment,pairshare_method,caa_denom,caa_level1_num,caa_level1_pct,caa_level2_num,caa_level2_pct,caa_level3_num,caa_level3_pct,ReportingYear
0,0,X,NaN,NaN,NaN,NaN,NaN,NaN,AA,172224,NaN,-51.8,177009.0,NaN,-52.7,0.9,2,3,2,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
1,0,X,NaN,NaN,NaN,NaN,NaN,NaN,AI,16662,NaN,-36.8,17234.0,NaN,-39.1,2.3,2,3,2,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
2,0,X,NaN,NaN,NaN,NaN,NaN,NaN,ALL,3171704,NaN,-6.0,3200441.0,NaN,-8.2,2.2,2,3,2,180,NaN,NaN,NaN,NaN,36140.0,18581.0,51.4,11330.0,31.4,6229.0,17.2,2018
3,0,X,NaN,NaN,NaN,NaN,NaN,NaN,AS,293002,NaN,62.4,295040.0,NaN,60.5,2.0,5,3,5,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
4,0,X,NaN,NaN,NaN,NaN,NaN,NaN,EL,1000703,NaN,-47.1,1021418.0,NaN,-50.4,3.3,2,4,3,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018

In [204]:
i = ela.loc[ela['rtype'] == 'S']
o = i = pandas.concat([i.pop(x) for x in ['schoolname', 
                                      'cds']],
                  1)
o
# had to check this school's cds code to validate with another dataset

                                    schoolname             cds
30      Envision Academy for Arts & Technology   1100170112607
31      Envision Academy for Arts & Technology   1100170112607
32      Envision Academy for Arts & Technology   1100170112607
33      Envision Academy for Arts & Technology   1100170112607
34      Envision Academy for Arts & Technology   1100170112607
...                                        ...             ...
148833                    Wheatland Union High  58727695838305
148834                    Wheatland Union High  58727695838305
148835                    Wheatland Union High  58727695838305
148836                    Wheatland Union High  58727695838305
148837                    Wheatland Union High  58727695838305

[134704 rows x 2 columns]

## Creating state-level variable

In [205]:
replacements = dict(
    studentgroup = {'ALL':'all_students',
                        'AA':'african_american',
                        'AI':'american_indian',
                        'AS':'asian',
                        'FI':'filipino',
                        'HI':'hispanic',
                        'PI':'pacific_islander',
                        'WH':'white',
                        'MR':'multiple_races',
                        'EL':'english_learners',
                        'ELO':'english_learners_only',
                        'RFP':'rfep_only',
                        'EO':'english_only',
                        'SED':'ses_disad',
                        'SWD':'disabilities',
                        'FOS':'foster_youth',
                        'HOM':'homeless_youth',
                })

In [183]:
# creating state-level ela performance variable
ela['studentgroup'].astype(str)
ela = ela.replace(replacements)
# replace codes 
j = ela
j = j.loc[j['rtype'] == 'X']
# select by no-type (state)
k = pandas.concat([j.pop(x) for x in ['studentgroup', 
                                      'currstatus', 
                                      'priorstatus', 
                                      'change',
                                      'currdenom']],
                  1)
# slice out columns
ela_state = k.sort_values(by='currstatus', ascending=False)
ela_state
# state-level ela performance variable

             studentgroup  currstatus  priorstatus  change  currdenom
3                   asian        62.4         60.5     2.0     293002
7                filipino        44.0         41.2     2.7      71139
11         multiple_races        28.6         26.3     2.3     118753
16                  white        27.7         26.9     0.8     734863
6            english_only         6.5          4.6     1.8    1795002
13              rfep_only         2.2         -0.4     2.7     488023
2            all_students        -6.0         -8.2     2.2    3171704
12       pacific_islander       -21.3        -22.0     0.7      14894
9                hispanic       -31.3        -34.5     3.2    1738615
14              ses_disad       -34.7        -38.7     4.0    1982522
1         american_indian       -36.8        -39.1     2.3      16662
4        english_learners       -47.1        -50.4     3.3    1000703
10         homeless_youth       -51.0        -54.3     3.3     115551
0        african_american       -51.8        -52.7     0.9     172224
8            foster_youth       -79.2        -80.6     1.4      21073
5   english_learners_only       -94.1        -96.7     2.6     512680
15           disabilities       -95.5        -97.6     2.1     398345

In [184]:
# combine `studentgroups`
# lcff_group = 'ses_disad', 'english_learners', 'homeless_youth', 'foster_youth' 'english_learners_only'

## Aggregation

In [206]:
ela['cds'].astype(str)
# changing cds code to string
ela = ela[ela.coe_flag !='Y']
# removing county offices of education
ela = ela.loc[ela['rtype'] == 'D']
# select district level entries
ela['cds'] = ela['cds'].apply(lambda x: '{0:0>14}'.format(x))
# adding leading zero to 13 digit int
ela['District Code'] = [x[2:7] for x in ela['cds']]
# adding district only code
elat = set(ela['cds'])
# creating test set variable
ela.head()

,cds,rtype,schoolname,districtname,countyname,charter_flag,coe_flag,dass_flag,studentgroup,currdenom,currdenom_swd,currstatus,priordenom,priordenom_swd,priorstatus,change,statuslevel,changelevel,color,box,hscutpoints,curradjustment,prioradjustment,pairshare_method,caa_denom,caa_level1_num,caa_level1_pct,caa_level2_num,caa_level2_pct,caa_level3_num,caa_level3_pct,ReportingYear,District Code
164,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,AA,298,NaN,-43.0,332.0,NaN,-48.7,5.7,2,4,3,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
165,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,AI,13,NaN,-14.8,14.0,NaN,14.3,-29.1,2,1,0,0,NaN,NaN,-0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
166,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,ALL,4550,NaN,36.8,4541.0,NaN,32.8,4.0,4,4,4,90,NaN,NaN,NaN,NaN,38.0,26.0,68.4,6.0,15.8,6.0,15.8,2018,61119
167,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,AS,1288,NaN,48.6,1334.0,NaN,54.0,-5.3,5,2,4,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
168,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,EL,1084,NaN,-2.5,1176.0,NaN,-1.4,-1.1,3,3,3,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119

In [109]:
# Create an empty list 
Row_list =[] 
  
# Iterate over each row 
for index, rows in ela.iterrows(): 
    # Create list for the current row 
    my_list =[rows.studentgroup, rows.currstatus, rows.priorstatus, rows.change, rows.currdenom] 
      
    # append the list to the final list 
    Row_list.append(my_list) 
  
 
Row_list

[['african_american', nan, nan, nan, 2],
 ['all_students', -157.0, -186.0, 29.0, 20],
 ['asian', nan, nan, nan, 1],
 ['english_learners', nan, nan, nan, 8],
 ['english_learners_only', nan, nan, nan, 8],
 ['english_only', nan, -182.2, nan, 8],
 ['filipino', nan, nan, nan, 1],
 ['foster_youth', nan, nan, nan, 2],
 ['hispanic', -151.3, nan, nan, 14],
 ['homeless_youth', nan, nan, nan, 2],
 ['multiple_races', nan, nan, nan, 2],
 ['ses_disad', -165.3, -177.4, 12.1, 16],
 ['disabilities', nan, nan, nan, 5],
 ['african_american', -43.0, -48.7, 5.7, 298],
 ['american_indian', -14.8, 14.3, -29.1, 13],
 ['all_students', 36.8, 32.8, 4.0, 4550],
 ['asian', 48.6, 54.0, -5.3, 1288],
 ['english_learners', -2.5, -1.4, -1.1, 1084],
 ['english_learners_only', -42.0, -44.7, 2.7, 643],
 ['english_only', 43.5, 38.3, 5.2, 3025],
 ['filipino', 29.8, 16.0, 13.9, 275],
 ['foster_youth', nan, nan, nan, 9],
 ['hispanic', 5.0, 0.9, 4.1, 720],
 ['homeless_youth', -75.5, -56.7, -18.7, 30],
 ['multiple_races', 46.6, 40.4, 6.2, 555],
 ['pacific_islander', -27.3, -49.1, 21.8, 40],
 ['rfep_only', 55.0, 55.5, -0.5, 441],
 ['ses_disad', -13.1, -20.0, 6.9, 1491],
 ['disabilities', -73.1, -80.4, 7.3, 506],
 ['white', 60.8, 54.1, 6.7, 1346],
 ['african_american', -9.6, 12.2, -21.8, 53],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', 57.5, 64.1, -6.6, 1887],
 ['asian', 73.0, 73.7, -0.8, 513],
 ['english_learners', 31.0, 37.6, -6.6, 449],
 ['english_learners_only', -11.4, -12.5, 1.1, 186],
 ['english_only', 60.9, 68.0, -7.1, 1234],
 ['filipino', 38.0, 23.3, 14.7, 15],
 ['foster_youth', nan, nan, nan, 1],
 ['hispanic', 25.6, 28.9, -3.3, 325],
 ['homeless_youth', nan, nan, nan, 4],
 ['multiple_races', 53.9, 58.8, -4.9, 276],
 ['pacific_islander', nan, nan, nan, 5],
 ['rfep_only', 60.9, 71.4, -10.6, 263],
 ['ses_disad', 14.5, 26.6, -12.1, 399],
 ['disabilities', -35.9, -23.9, -12.0, 191],
 ['white', 67.9, 79.3, -11.4, 681],
 ['african_american', -64.9, -73.5, 8.6, 693],
 ['american_indian', 62.3, nan, nan, 12],
 ['all_students', 32.2, 20.0, 12.3, 4730],
 ['asian', 28.5, 24.3, 4.2, 333],
 ['english_learners', -47.2, -52.6, 5.4, 600],
 ['english_learners_only', -82.8, -75.4, -7.4, 380],
 ['english_only', 43.5, 31.4, 12.1, 3672],
 ['filipino', 62.5, 18.4, 44.1, 23],
 ['foster_youth', -53.1, nan, nan, 15],
 ['hispanic', -5.3, -20.7, 15.5, 1031],
 ['homeless_youth', -71.4, -75.4, 4.1, 141],
 ['multiple_races', 51.9, 43.8, 8.1, 723],
 ['pacific_islander', nan, nan, nan, 7],
 ['rfep_only', 14.4, -3.2, 17.6, 220],
 ['ses_disad', -33.0, -47.1, 14.1, 1680],
 ['disabilities', -86.0, -92.1, 6.1, 517],
 ['white', 80.7, 70.7, 10.0, 1908],
 ['african_american', -17.7, -18.7, 1.0, 255],
 ['american_indian', nan, nan, nan, 7],
 ['all_students', 34.2, 35.7, -1.5, 4701],
 ['asian', 71.9, 71.0, 0.8, 1245],
 ['english_learners', 8.6, 6.7, 1.9, 840],
 ['english_learners_only', -63.5, -64.9, 1.4, 275],
 ['english_only', 34.0, 36.0, -2.0, 3312],
 ['filipino', 28.5, 40.6, -12.1, 152],
 ['foster_youth', nan, nan, nan, 7],
 ['hispanic', -4.6, -2.0, -2.5, 1133],
 ['homeless_youth', -54.7, -24.2, -30.4, 34],
 ['multiple_races', 43.4, 46.5, -3.1, 528],
 ['pacific_islander', 4.3, 6.3, -1.9, 19],
 ['rfep_only', 43.7, 38.9, 4.8, 565],
 ['ses_disad', -7.8, -8.3, 0.5, 1175],
 ['disabilities', -67.3, -63.5, -3.8, 436],
 ['white', 39.3, 39.8, -0.5, 1322],
 ['african_american', -71.4, -80.8, 9.4, 147],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', -51.2, -60.4, 9.2, 324],
 ['asian', -28.0, -30.9, 2.9, 41],
 ['english_learners', -54.2, -68.9, 14.7, 106],
 ['english_learners_only', -89.1, -93.5, 4.4, 64],
 ['english_only', -60.6, -71.1, 10.5, 190],
 ['filipino', nan, nan, nan, 5],
 ['foster_youth', nan, nan, nan, 2],
 ['hispanic', -37.5, -39.2, 1.6, 82],
 ['homeless_youth', nan, nan, nan, 10],
 ['multiple_races', -34.8, nan, nan, 18],
 ['pacific_islander', nan, nan, nan, 3],
 ['rfep_only', -1.0, -2.1, 1.2, 42],
 ['ses_disad', -61.1, -73.1, 12.0, 255],
 ['disabilities', -123.8, -139.1, 15.2, 37],
 ['white', -31.3, -49.0, 17.8, 27],
 ['african_american', -19.0, -25.0, 5.9, 323],
 ['american_indian', 22.5, -1.2, 23.7, 38],
 ['all_students', 68.0, 62.6, 5.3, 17742],
 ['asian', 99.3, 95.0, 4.3, 11253],
 ['english_learners', 36.3, 22.9, 13.4, 5740],
 ['english_learners_only', -76.8, -57.8, -19.0, 1398],
 ['english_only', 65.7, 60.1, 5.6, 8255],
 ['filipino', 45.4, 41.2, 4.2, 865],
 ['foster_youth', nan, -37.9, nan, 10],
 ['hispanic', -19.3, -21.5, 2.2, 2511],
 ['homeless_youth', -49.1, -52.7, 3.6, 120],
 ['multiple_races', 50.6, 44.2, 6.4, 700],
 ['pacific_islander', -17.0, -18.0, 1.0, 102],
 ['rfep_only', 72.7, 67.5, 5.2, 4342],
 ['ses_disad', -10.0, -19.6, 9.5, 3657],
 ['disabilities', -61.1, -69.5, 8.4, 1792],
 ['white', 35.7, 32.7, 3.0, 1945],
 ['african_american', -57.3, -55.6, -1.7, 916],
 ['american_indian', -12.6, -38.9, 26.2, 31],
 ['all_students', -35.4, -37.6, 2.2, 10295],
 ['asian', 13.4, 15.1, -1.8, 780],
 ['english_learners', -62.2, -63.3, 1.1, 5046],
 ['english_learners_only', -113.3, -114.9, 1.6, 2401],
 ['english_only', -28.4, -27.4, -1.0, 3620],
 ['filipino', 24.3, 21.7, 2.6, 698],
 ['foster_youth', -117.4, -80.4, -37.0, 31],
 ['hispanic', -46.8, -50.3, 3.5, 6774],
 ['homeless_youth', -68.2, -61.3, -6.9, 451],
 ['multiple_races', -14.0, -5.2, -8.8, 354],
 ['pacific_islander', -41.3, -39.0, -2.3, 318],
 ['rfep_only', -15.8, -19.8, 4.1, 2645],
 ['ses_disad', -45.2, -49.4, 4.1, 6763],
 ['disabilities', -117.5, -120.7, 3.3, 1232],
 ['white', -7.2, -10.2, 3.0, 411],
 ['african_american', 2.4, -23.8, 26.3, 103],
 ['american_indian', 2.1, -43.1, 45.2, 14],
 ['all_students', 23.1, 18.7, 4.4, 6825],
 ['asian', 72.5, 60.5, 12.0, 542],
 ['english_learners', -37.3, -42.3, 5.0, 1295],
 ['english_learners_only', -91.8, -89.2, -2.6, 686],
 ['english_only', 34.2, 30.2, 4.0, 4967],
 ['filipino', 33.2, 37.2, -3.9, 192],
 ['foster_youth', -11.5, nan, nan, 11],
 ['hispanic', -21.2, -21.7, 0.5, 2090],
 ['homeless_youth', -8.5, -23.8, 15.3, 29],
 ['multiple_races', 47.9, 40.5, 7.4, 623],
 ['pacific_islander', -3.1, 4.3, -7.4, 22],
 ['rfep_only', 24.0, 24.7, -0.7, 609],
 ['ses_disad', -33.1, -39.4, 6.3, 1863],
 ['disabilities', -74.5, -81.5, 7.0, 1010],
 ['white', 39.0, 35.5, 3.5, 3239],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', nan, -10.7, nan, 10],
 ['english_learners', nan, nan, nan, 3],
 ['english_learners_only', nan, nan, nan, 3],
 ['english_only', nan, nan, nan, 6],
 ['hispanic', nan, nan, nan, 3],
 ['pacific_islander', nan, nan, nan, 2],
 ['ses_disad', nan, nan, nan, 8],
 ['white', nan, nan, nan, 4],
 ['african_american', -47.6, -44.3, -3.3, 106],
 ['american_indian', nan, nan, nan, 5],
 ['all_students', -17.8, -14.1, -3.7, 2889],
 ['asian', 37.0, 36.3, 0.7, 385],
 ['english_learners', -53.4, -53.0, -0.4, 1118],
 ['english_learners_only', -93.0, -104.1, 11.1, 598],
 ['english_only', -2.4, 1.4, -3.8, 1370],
 ['filipino', 29.6, 26.9, 2.7, 230],
 ['foster_youth', nan, nan, nan, 2],
 ['hispanic', -44.1, -37.4, -6.7, 1572],
 ['homeless_youth', -54.4, -38.7, -15.7, 100],
 ['multiple_races', 9.7, 12.3, -2.6, 142],
 ['pacific_islander', -28.8, -15.5, -13.3, 61],
 ['rfep_only', -7.8, -12.6, 4.8, 520],
 ['ses_disad', -41.9, -40.6, -1.3, 1603],
 ['disabilities', -115.1, -107.4, -7.7, 404],
 ['white', 6.3, 8.1, -1.8, 360],
 ['african_american', -42.9, -52.1, 9.2, 292],
 ['american_indian', -2.5, -28.1, 25.7, 22],
 ['all_students', -1.4, -6.1, 4.6, 5691],
 ['asian', 40.0, 33.5, 6.4, 1335],
 ['english_learners', -43.8, -46.3, 2.5, 1865],
 ['english_learners_only', -94.5, -105.7, 11.2, 1017],
 ['english_only', -0.2, -5.0, 4.8, 2498],
 ['filipino', 22.6, 19.5, 3.0, 1070],
 ['foster_youth', nan, -90.4, nan, 9],
 ['hispanic', -35.1, -39.7, 4.6, 2148],
 ['homeless_youth', -72.9, -72.1, -0.8, 66],
 ['multiple_races', 12.6, 12.3, 0.4, 346],
 ['pacific_islander', -13.5, -21.0, 7.6, 132],
 ['rfep_only', 17.1, 7.6, 9.5, 848],
 ['ses_disad', -30.6, -37.0, 6.4, 2943],
 ['disabilities', -115.7, -112.7, -3.0, 576],
 ['white', -0.5, 0.5, -1.0, 346],
 ['african_american', -86.1, -87.5, 1.3, 4257],
 ['american_indian', -67.2, -63.8, -3.3, 46],
 ['all_students', -49.1, -50.6, 1.5, 17157],
 ['asian', -9.1, -9.3, 0.2, 2276],
 ['english_learners', -79.7, -76.1, -3.6, 7287],
 ['english_learners_only', -125.8, -126.4, 0.5, 4358],
 ['english_only', -35.2, -39.6, 4.4, 8327],
 ['filipino', -23.2, -26.9, 3.8, 135],
 ['foster_youth', -114.5, -118.9, 4.4, 66],
 ['hispanic', -70.9, -69.8, -1.1, 7266],
 ['homeless_youth', -138.1, -138.2, 0.1, 263],
 ['multiple_races', 18.4, 17.4, 0.9, 708],
 ['pacific_islander', -80.7, -64.0, -16.7, 203],
 ['rfep_only', -11.0, -13.9, 2.9, 2929],
 ['ses_disad', -71.3, -71.7, 0.4, 13180],
 ['disabilities', -132.0, -129.0, -3.0, 2520],
 ['white', 42.3, 35.5, 6.8, 2012],
 ['african_american', 41.4, 3.1, 38.2, 13],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', 86.8, 82.2, 4.6, 1426],
 ['asian', 103.7, 91.3, 12.4, 169],
 ['english_learners', 47.9, 33.6, 14.3, 52],
 ['english_learners_only', nan, 5.7, nan, 6],
 ['english_only', 87.3, 83.4, 3.9, 1247],
 ['filipino', nan, nan, nan, 5],
 ['hispanic', 53.8, 48.8, 5.0, 123],
 ['multiple_races', 88.6, 85.3, 3.3, 266],
 ['rfep_only', 50.2, 45.2, 5.0, 46],
 ['ses_disad', 18.9, 12.3, 6.6, 11],
 ['disabilities', 20.8, 14.6, 6.2, 216],
 ['white', 88.4, 85.2, 3.2, 849],
 ['african_american', -79.6, -67.5, -12.1, 581],
 ['american_indian', -59.8, -52.3, -7.5, 13],
 ['all_students', -36.9, -30.4, -6.5, 4415],
 ['asian', 12.8, 24.1, -11.3, 707],
 ['english_learners', -66.6, -56.9, -9.7, 1717],
 ['english_learners_only', -105.7, -99.3, -6.3, 1116],
 ['english_only', -31.5, -27.2, -4.3, 2010],
 ['filipino', -2.1, 5.6, -7.6, 304],
 ['foster_youth', -128.4, -99.4, -29.0, 11],
 ['hispanic', -55.4, -49.6, -5.7, 2162],
 ['homeless_youth', -101.7, -78.6, -23.2, 76],
 ['multiple_races', -6.1, -4.7, -1.3, 208],
 ['pacific_islander', -52.8, -61.1, 8.3, 50],
 ['rfep_only', 5.9, 8.6, -2.7, 601],
 ['ses_disad', -55.5, -48.2, -7.3, 2953],
 ['disabilities', -119.5, -114.4, -5.0, 595],
 ['white', -0.4, -0.9, 0.5, 383],
 ['african_american', -79.0, -90.1, 11.2, 458],
 ['american_indian', -58.0, -50.9, -7.1, 15],
 ['all_students', -40.5, -44.4, 3.9, 5071],
 ['asian', 15.4, 16.0, -0.6, 702],
 ['english_learners', -62.0, -64.7, 2.7, 2256],
 ['english_learners_only', -101.5, -116.3, 14.8, 1262],
 ['english_only', -42.3, -46.6, 4.4, 2045],
 ['filipino', 7.0, 3.6, 3.4, 374],
 ['foster_youth', nan, -102.8, nan, 10],
 ['hispanic', -55.9, -59.7, 3.8, 2895],
 ['homeless_youth', -69.8, -87.4, 17.6, 94],
 ['multiple_races', -20.7, -33.7, 13.1, 121],
 ['pacific_islander', -73.6, -56.2, -17.4, 82],
 ['rfep_only', -11.8, -22.1, 10.3, 994],
 ['ses_disad', -52.8, -57.2, 4.4, 3613],
 ['disabilities', -125.3, -132.6, 7.3, 556],
 ['white', -28.7, -23.0, -5.7, 403],
 ['african_american', -13.5, -21.7, 8.1, 186],
 ['american_indian', 89.2, nan, nan, 15],
 ['all_students', 64.4, 58.5, 5.8, 5797],
 ['asian', 92.2, 89.4, 2.8, 2906],
 ['english_learners', 29.4, 25.8, 3.6, 862],
 ['english_learners_only', -60.1, -61.1, 1.0, 236],
 ['english_only', 58.8, 52.3, 6.6, 3647],
 ['filipino', 66.0, 66.1, -0.1, 251],
 ['hispanic', 5.4, -5.2, 10.5, 650],
 ['homeless_youth', nan, nan, nan, 6],
 ['multiple_races', 53.4, 54.6, -1.2, 527],
 ['pacific_islander', 42.3, nan, nan, 16],
 ['rfep_only', 63.1, 67.1, -3.9, 626],
 ['ses_disad', -3.3, -24.6, 21.4, 567],
 ['disabilities', -38.7, -49.5, 10.8, 412],
 ['white', 46.1, 39.9, 6.2, 1246],
 ['african_american', 10.4, 26.2, -15.8, 109],
 ['american_indian', nan, nan, nan, 7],
 ['all_students', 72.1, 74.1, -1.9, 7750],
 ['asian', 102.6, 103.7, -1.1, 3141],
 ['english_learners', 31.2, 28.3, 2.9, 1051],
 ['english_learners_only', -28.6, -40.1, 11.5, 469],
 ['english_only', 65.8, 68.2, -2.4, 5003],
 ['filipino', 71.2, 69.3, 1.9, 138],
 ['foster_youth', nan, nan, nan, 4],
 ['hispanic', 12.9, 19.2, -6.2, 780],
 ['homeless_youth', -26.5, -33.7, 7.2, 13],
 ['multiple_races', 66.3, 62.6, 3.7, 471],
 ['pacific_islander', 51.7, 51.2, 0.4, 13],
 ['rfep_only', 79.4, 67.6, 11.8, 582],
 ['ses_disad', 2.1, 0.4, 1.7, 716],
 ['disabilities', -32.5, -32.4, -0.1, 734],
 ['white', 59.6, 62.8, -3.2, 3091],
 ['african_american', nan, nan, nan, 1],
 ['all_students', 63.3, 49.8, 13.4, 183],
 ['asian', 81.9, 89.0, -7.1, 34],
 ['english_learners', 60.1, 68.9, -8.8, 18],
 ['english_learners_only', nan, nan, nan, 2],
 ['english_only', 59.5, 46.5, 13.0, 147],
 ['filipino', nan, nan, nan, 2],
 ['hispanic', 29.6, 9.8, 19.8, 35],
 ['multiple_races', 84.5, 77.3, 7.2, 29],
 ['pacific_islander', nan, nan, nan, 1],
 ['rfep_only', 76.4, 79.0, -2.6, 16],
 ['ses_disad', 59.4, nan, nan, 17],
 ['disabilities', 9.4, 19.1, -9.7, 11],
 ['white', 63.3, 44.3, 19.0, 81],
 ['american_indian', -39.8, -62.8, 23.0, 23],
 ['all_students', 2.8, -11.9, 14.8, 52],
 ['english_only', 2.8, -11.9, 14.8, 52],
 ['hispanic', nan, nan, nan, 2],
 ['homeless_youth', nan, nan, nan, 6],
 ['multiple_races', nan, nan, nan, 2],
 ['ses_disad', -33.8, -52.5, 18.7, 32],
 ['disabilities', -79.6, -73.1, -6.5, 11],
 ['white', 40.1, 9.0, 31.1, 25],
 ['all_students', nan, nan, nan, 6],
 ['english_only', nan, nan, nan, 6],
 ['hispanic', nan, nan, nan, 1],
 ['ses_disad', nan, nan, nan, 5],
 ['disabilities', nan, nan, nan, 6],
 ['white', nan, nan, nan, 5],
 ['african_american', -27.7, -51.3, 23.5, 11],
 ['american_indian', -52.3, -59.2, 7.0, 62],
 ['all_students', -20.3, -18.2, -2.1, 1890],
 ['asian', 42.1, 16.4, 25.8, 15],
 ['english_learners', -48.9, -53.0, 4.1, 102],
 ['english_learners_only', -69.4, -82.9, 13.5, 44],
 ['english_only', -18.4, -16.3, -2.0, 1744],
 ['filipino', nan, 19.1, nan, 10],
 ['foster_youth', -37.3, -38.3, 1.0, 19],
 ['hispanic', -41.3, -39.5, -1.9, 399],
 ['homeless_youth', -47.5, -48.8, 1.3, 37],
 ['multiple_races', -17.9, -18.0, 0.1, 113],
 ['pacific_islander', nan, nan, nan, 2],
 ['rfep_only', -33.3, -44.1, 10.7, 58],
 ['ses_disad', -44.2, -47.6, 3.4, 934],
 ['disabilities', -97.9, -109.1, 11.3, 369],
 ['white', -13.1, -10.8, -2.3, 1272],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', nan, -85.6, nan, 8],
 ['english_only', nan, -79.2, nan, 6],
 ['hispanic', nan, nan, nan, 2],
 ['homeless_youth', nan, nan, nan, 2],
 ['ses_disad', nan, -84.5, nan, 8],
 ['disabilities', nan, nan, nan, 1],
 ['white', nan, nan, nan, 5],
 ['all_students', -48.8, -46.7, -2.1, 39],
 ['asian', nan, nan, nan, 1],
 ['english_learners', nan, nan, nan, 3],
 ['english_learners_only', nan, nan, nan, 2],
 ['english_only', -42.0, -40.5, -1.6, 36],
 ['foster_youth', nan, nan, nan, 1],
 ['hispanic', nan, nan, nan, 6],
 ['multiple_races', nan, nan, nan, 1],
 ['rfep_only', nan, nan, nan, 1],
 ['ses_disad', -59.7, -60.7, 1.0, 31],
 ['disabilities', nan, -82.2, nan, 10],
 ['white', -28.4, -31.6, 3.2, 31],
 ['african_american', nan, nan, nan, 7],
 ['american_indian', nan, nan, nan, 3],
 ['all_students', -49.3, -57.0, 7.7, 279],
 ['asian', nan, nan, nan, 6],
 ['english_learners', -87.8, -103.1, 15.3, 55],
 ['english_learners_only', -137.1, -132.2, -4.9, 28],
 ['english_only', -41.9, -47.5, 5.6, 208],
 ['foster_youth', nan, nan, nan, 6],
 ['hispanic', -65.5, -81.3, 15.8, 104],
 ['homeless_youth', -94.0, nan, nan, 15],
 ['multiple_races', nan, nan, nan, 1],
 ['pacific_islander', nan, nan, nan, 3],
 ['rfep_only', -36.6, -46.7, 10.1, 27],
 ['ses_disad', -64.8, -73.4, 8.5, 198],
 ['disabilities', -128.0, -159.8, 31.8, 40],
 ['white', -33.3, -34.6, 1.3, 155],
 ['african_american', -31.6, -28.7, -2.9, 141],
 ['american_indian', -40.9, -26.4, -14.5, 83],
 ['all_students', 0.8, -2.3, 3.0, 5814],
 ['asian', 3.4, -9.3, 12.8, 324],
 ['english_learners', -54.7, -58.0, 3.3, 764],
 ['english_learners_only', -99.8, -89.8, -10.0, 295],
 ['english_only', 7.7, 5.3, 2.5, 4866],
 ['filipino', 30.5, 40.0, -9.5, 48],
 ['foster_youth', -81.4, -86.1, 4.7, 49],
 ['hispanic', -31.6, -35.1, 3.5, 1541],
 ['homeless_youth', -71.4, -61.8, -9.6, 164],
 ['multiple_races', -11.8, -18.1, 6.4, 248],
 ['pacific_islander', 26.2, 25.6, 0.6, 28],
 ['rfep_only', -26.4, -33.8, 7.4, 469],
 ['ses_disad', -36.1, -39.8, 3.7, 2841],
 ['disabilities', -85.5, -81.8, -3.8, 803],
 ['white', 17.9, 14.7, 3.2, 3360],
 ['african_american', nan, nan, nan, 3],
 ['american_indian', nan, nan, nan, 3],
 ['all_students', 8.4, 4.9, 3.5, 507],
 ['asian', nan, nan, nan, 1],
 ['english_learners', -41.1, -51.8, 10.8, 65],
 ['english_learners_only', -70.2, -70.3, 0.1, 34],
 ['english_only', 15.3, 13.0, 2.3, 434],
 ['filipino', nan, nan, nan, 1],
 ['foster_youth', nan, nan, nan, 1],
 ['hispanic', -36.6, -47.4, 10.8, 111],
 ['homeless_youth', -57.5, nan, nan, 11],
 ['multiple_races', 46.0, 19.6, 26.4, 28],
 ['rfep_only', -9.1, 2.5, -11.6, 31],
 ['ses_disad', -30.3, -32.3, 2.0, 203],
 ['disabilities', -90.3, -85.6, -4.8, 60],
 ['white', 18.9, 18.7, 0.2, 360],
 ['american_indian', nan, nan, nan, 3],
 ['all_students', nan, nan, nan, 5],
 ['english_only', nan, nan, nan, 5],
 ['multiple_races', nan, nan, nan, 1],
 ['ses_disad', nan, nan, nan, 3],
 ['disabilities', nan, nan, nan, 3],
 ['white', nan, nan, nan, 1],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', -65.7, -73.1, 7.4, 37],
 ['english_learners', nan, nan, nan, 3],
 ['english_learners_only', nan, nan, nan, 1],
 ['english_only', -64.7, -74.0, 9.3, 34],
 ['hispanic', nan, nan, nan, 6],
 ['multiple_races', nan, nan, nan, 4],
 ['rfep_only', nan, nan, nan, 2],
 ['ses_disad', -64.3, -79.8, 15.5, 31],
 ['disabilities', nan, -156.3, nan, 10],
 ['white', -62.9, -85.4, 22.5, 26],
 ['american_indian', nan, nan, nan, 1],
 ['all_students', 14.5, -0.5, 15.0, 181],
 ['asian', 40.0, 19.6, 20.4, 16],
 ['english_learners', -16.6, -49.2, 32.6, 35],
 ['english_learners_only', -30.2, -70.4, 40.2, 28],
 ['english_only', 20.7, 13.1, 7.7, 135],
 ['hispanic', -16.5, -40.1, 23.7, 68],
 ['multiple_races', nan, nan, nan, 8],
 ['rfep_only', nan, nan, nan, 7],
 ['ses_disad', -11.4, -24.1, 12.7, 77],
 ['disabilities', -130.8, nan, nan, 11],
 ['white', 36.4, 30.9, 5.5, 88],
 ['african_american', -78.2, -101.0, 22.9, 44],
 ['american_indian', -56.0, -74.4, 18.5, 53],
 ['all_students', -56.2, -59.7, 3.5, 1367],
 ['asian', -37.5, -49.3, 11.8, 130],
 ['english_learners', -60.7, -59.7, -1.0, 177],
 ['english_learners_only', -104.8, -102.4, -2.3, 74],
 ['english_only', -56.8, -60.7, 3.9, 1174],
 ['filipino', nan, nan, nan, 2],
 ['foster_youth', -107.7, -122.2, 14.5, 17],
 ['hispanic', -54.6, -55.3, 0.7, 243],
 ['homeless_youth', -68.5, -63.2, -5.4, 48],
 ['multiple_races', -62.3, -72.9, 10.6, 179],
 ['pacific_islander', nan, nan, nan, 8],
 ['rfep_only', -29.1, -31.8, 2.7, 103],
 ['ses_disad', -65.1, -68.5, 3.4, 1106],
 ['disabilities', -124.6, -129.7, 5.2, 253],
 ['white', -58.0, -56.1, -1.9, 708],
 ['african_american', -43.4, -43.8, 0.4, 11],
 ['american_indian', -42.8, 21.2, -64.0, 43],
 ['all_students', -7.2, 5.2, -12.4, 436],
 ['asian', 34.8, 15.9, 18.9, 77],
 ['english_learners', -57.3, -57.2, -0.1, 43],
 ['english_learners_only', nan, -67.9, nan, 10],
 ['english_only', -9.7, 8.3, -18.1, 333],
 ['filipino', nan, nan, nan, 2],
 ['foster_youth', nan, nan, nan, 2],
 ['hispanic', -42.0, -7.4, -34.6, 87],
 ['homeless_youth', -37.9, -32.3, -5.6, 28],
 ['multiple_races', nan, 0.9, nan, 4],
 ['pacific_islander', nan, nan, nan, 3],
 ['rfep_only', -40.2, -50.8, 10.6, 33],
 ['ses_disad', -15.2, -7.6, -7.6, 345],
 ['disabilities', -111.2, -93.8, -17.4, 37],
 ['white', -3.4, 10.3, -13.7, 209],
 ['african_american', nan, nan, nan, 6],
 ['american_indian', -38.9, -55.5, 16.6, 47],
 ['all_students', -41.9, -49.6, 7.7, 777],
 ['asian', -13.3, -27.1, 13.8, 33],
 ['english_learners', -52.2, -67.3, 15.1, 152],
 ['english_learners_only', -91.9, -119.5, 27.6, 77],
 ['english_only', -40.7, -47.0, 6.3, 602],
 ['filipino', nan, nan, nan, 1],
 ['foster_youth', -78.0, -54.9, -23.1, 14],
 ['hispanic', -51.4, -59.4, 8.0, 294],
 ['homeless_youth', -47.1, -63.4, 16.3, 42],
 ['multiple_races', -29.3, -43.4, 14.1, 69],
 ['rfep_only', -11.5, -13.7, 2.3, 75],

In [214]:
#creating district-level ela performance variable (dictionary)
dfe = ela
dfe = pandas.concat([dfe.pop(x) for x in ['District Code',
                                          'districtname',                                          
                                          'studentgroup', 
                                          'currstatus', 
                                          'priorstatus', 
                                          'change']],
                    1)
# slice out columns

In [217]:
dfe.shape

(13618, 6)

## Math achievement indicator data
find the codebook [here](https://www.cde.ca.gov/ta/ac/cm/math18.asp)

In [324]:
math = pandas.read_csv('lcff_data/mathdownload2018.csv')
math.shape

C:\Users\fiend\Anaconda2\envs\capstone\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(148705, 32)

In [325]:
math['studentgroup'].astype(str)
math = math.replace(replacements)
# replace codes
p = math
p = p.loc[p['rtype'] == 'X']
# select by no-type (state)
q = pandas.concat([p.pop(x) for x in ['studentgroup', 
                                      'currstatus', 
                                      'priorstatus', 
                                      'change',
                                      'currdenom']],
                  1)
# slice out columns
math_state = q.sort_values(by='currstatus', ascending=False)
math_state

             studentgroup  currstatus  priorstatus  change  currdenom
3                   asian        56.7         54.3     2.4     293068
7                filipino        13.1         10.3     2.8      71096
11         multiple_races         1.9          0.1     1.9     118473
16                  white        -1.0         -1.6     0.6     733213
6            english_only       -25.2        -26.3     1.1    1790583
13              rfep_only       -29.7        -31.1     1.4     487555
2            all_students       -36.4        -37.7     1.3    3166345
12       pacific_islander       -52.0        -51.3    -0.7      14849
9                hispanic       -65.8        -67.5     1.7    1735982
14              ses_disad       -67.4        -69.7     2.3    1978909
4        english_learners       -69.9        -71.4     1.5     999887
1         american_indian       -73.0        -72.3    -0.7      16622
10         homeless_youth       -81.0        -82.6     1.5     115269
0        african_american       -91.5        -91.6     0.2     171493
5   english_learners_only      -108.2       -108.7     0.5     512332
8            foster_youth      -114.0       -113.5    -0.5      20913
15           disabilities      -125.3       -126.1     0.8     396609

## Aggregation

In [326]:
math['cds'].astype(str)
# changing to string
math = math[math.coe_flag !='Y']
# removing county offices of education
math = math.loc[math['rtype'] == 'D']
# select district level performance
math['cds'] = math['cds'].apply(lambda x: '{0:0>14}'.format(x))
# adding leading zero to 13 digit int
math['District Code'] = [x[2:7] for x in math['cds']]
# adding district only code

In [327]:
math.head()

,cds,rtype,schoolname,districtname,countyname,charter_flag,coe_flag,dass_flag,studentgroup,currdenom,currdenom_swd,currstatus,priordenom,priordenom_swd,priorstatus,change,statuslevel,changelevel,color,box,hscutpoints,curradjustment,prioradjustment,pairshare_method,caa_denom,caa_level1_num,caa_level1_pct,caa_level2_num,caa_level2_pct,caa_level3_num,caa_level3_pct,ReportingYear,District Code
163,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,african_american,297,NaN,-83.9,332.0,NaN,-82.8,-1.1,2,3,2,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
164,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,american_indian,13,NaN,-51.8,14.0,NaN,-50.0,-1.8,2,3,0,0,NaN,NaN,-0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
165,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,all_students,4543,NaN,14.3,4547.0,NaN,10.8,3.4,4,4,4,90,NaN,NaN,NaN,NaN,38.0,30.0,78.9,6.0,15.8,2.0,5.3,2018,61119
166,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,asian,1287,NaN,43.6,1336.0,NaN,44.8,-1.2,5,3,5,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119
167,01611190000000,D,NaN,Alameda Unified,Alameda,NaN,NaN,NaN,english_learners,1081,NaN,-13.7,1177.0,NaN,-12.9,-0.9,3,3,3,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018,61119

In [328]:
#creating district-level math performance variable (dictionary)
dfm = math
dfm = pandas.concat([dfm.pop(x) for x in ['District Code',
                                          'districtname',                                          
                                          'studentgroup', 
                                          'currstatus', 
                                          'priorstatus', 
                                          'change']],
                    1)
# slice out columns

In [329]:
dfm.shape

(13603, 6)

In [333]:
dfm.loc[dfm['District Code'] == '31609']

Empty DataFrame
Columns: [District Code, districtname, studentgroup, currstatus, priorstatus, change]
Index: []

# LCFF funding data

[FAQ here](https://www.cde.ca.gov/fg/aa/lc/lcfffaq.asp#CALPADS)

In [236]:
lcff = pandas.read_csv('lcff_data/lcffsnapshot18an.csv')
lcff.shape

(2243, 26)

In [237]:
lcff.columns
# leading AND trailing spaces! inconsistently!!

Index([' County Code ', 'District Code', 'School Code',
       'Local Educational Agency ', 'Charter Number',
       ' TK/K-3 ADA\nTarget, B-5/B-1 ', ' 4 - 6 ADA\nTarget, B-6/B-2 ',
       ' 7 - 8 ADA\nTarget, B-7/B-3 ', ' 9 - 12 ADA\nTarget, B-8/B-4 ',
       'Unduplicated Pupil Percentage\nTarget, D-1',
       ' Base Grant Funding\nTarget, C-5 ',
       ' Supplemental Grant Funding\nTarget, D-7 ',
       ' Concentration Grant Funding\nTarget, E-8 ',
       ' Necessary Small Schools Allowance\nTarget, F-1 ',
       ' Add-On (Based on 2012-13 Targeted Instructional Improvement Block Grant)\nTarget, F-2 ',
       ' Add-On (Based on 2012-13 Home-to-School Transportation)\nTarget, F-3 ',
       ' Add-On (Based on 2012-13 Small School District Bus Replacement Program)\nTarget, F-4 ',
       ' Total LCFF Target Entitlement\nTarget, G-1/F-1 ',
       ' Total LCFF Floor Entitlement\nTransition, B-13 ',
       ' Current Year Gap Funding (100%)\nTransition, C-3 ',
       ' Economic Recovery Target\nTransition, D-1 ',
       ' Miscellaneous Adjustments\nTransition, E-1 ',
       ' Total Local Revenue or In-Lieu of Property Taxes\nTransition, F-2/F-7 ',
       ' Education Protection Account Entitlement\nTransition, F-5/F-9 ',
       ' Net State Aid\nTransition, F-6/F-10 ',
       ' Additional SA for MSA Guarantee\nTransition, H-1/H-2 '],
      dtype='object')

In [238]:
lcff.columns = lcff.columns.str.strip()
# strip leading/trailing spaces

In [239]:
lcff_state_totals = lcff.tail(1)
lcff.drop(lcff.tail(1).index,inplace=True)
# extracting state totals, removing from df

In [240]:
# Slicing by district level cds code
lcff['County Code'] = lcff['County Code'].astype(str)
lcff['District Code'] = lcff['District Code'].astype(int)
lcff['District Code'] = lcff['District Code'].astype(str)
lcff['School Code'] = lcff['School Code'].astype(int)
lcff['School Code'] = lcff['School Code'].astype(str)
# Changing to strings
lcff['School Code'] = lcff['School Code'].apply(lambda x: '{0:0>7}'.format(x))
# Front fill school codes to == 7
lcff = lcff.loc[lcff['School Code'] == '0000000']
# select districts, district entries do not have a school level cds code
lcff['cds'] = lcff['County Code'] + lcff['District Code'] + lcff['School Code']
# Combining into cds code
col_name='cds'
first_col = lcff.pop(col_name)
lcff.insert(0, col_name, first_col)
# Moving to frontuse 
lcff.drop('County Code', axis=1, inplace=True)
# lcff.drop('District Code', axis=1, inplace=True)
lcff.drop('School Code', axis=1, inplace=True)
len(lcff)

944

In [241]:
# renaming important columns
lcff = lcff.rename(columns={'Charter Number': 'charter_number',
                     'Unduplicated Pupil Percentage\nTarget, D-1': 'unduplicated_pupil_percentage',
                     'Base Grant Funding\nTarget, C-5': 'base_grant',
                     'Supplemental Grant Funding\nTarget, D-7': 'supplemental_grant',
                     'Concentration Grant Funding\nTarget, E-8': 'concentration_grant',
                     'Total LCFF Target Entitlement\nTarget, G-1/F-1': 'total_grants',
                     'Unduplicated Pupil Percentage\nTarget, D-1': 'unduplicated_pupil_count',
                     'Necessary Small Schools Allowance\nTarget, F-1': 'nec_small_schools'
                           })

In [244]:
lcff.head()
# cds codes are now concurrent with documentation and comparable to acheivement data

,cds,District Code,Local Educational Agency,charter_number,"TK/K-3 ADA\nTarget, B-5/B-1","4 - 6 ADA\nTarget, B-6/B-2","7 - 8 ADA\nTarget, B-7/B-3","9 - 12 ADA\nTarget, B-8/B-4",unduplicated_pupil_count,base_grant,supplemental_grant,concentration_grant,nec_small_schools,"Add-On (Based on 2012-13 Targeted Instructional Improvement Block Grant)\nTarget, F-2","Add-On (Based on 2012-13 Home-to-School Transportation)\nTarget, F-3","Add-On (Based on 2012-13 Small School District Bus Replacement Program)\nTarget, F-4",total_grants,"Total LCFF Floor Entitlement\nTransition, B-13","Current Year Gap Funding (100%)\nTransition, C-3","Economic Recovery Target\nTransition, D-1","Miscellaneous Adjustments\nTransition, E-1","Total Local Revenue or In-Lieu of Property Taxes\nTransition, F-2/F-7","Education Protection Account Entitlement\nTransition, F-5/F-9","Net State Aid\nTransition, F-6/F-10","Additional SA for MSA Guarantee\nTransition, H-1/H-2"
10,01611190000000,61119,Alameda Unified,NaN,"2,870.43","1,917.91","1,219.66","3,050.17",0.3486,"75,938,983","5,294,466",-,-,"665,778","258,889",-,"82,158,116","77,176,229","4,981,887",-,-,"29,277,891","14,772,333","38,107,892",-
16,01611270000000,61127,Albany City Unified,NaN,"1,060.09",806.37,554.25,"1,131.64",0.2833,"29,644,972","1,679,684",-,-,-,"27,884",-,"31,352,540","29,460,891","1,891,649",-,-,"11,005,115","5,777,202","14,570,223",-
17,01611430000000,61143,Berkeley Unified,NaN,"2,828.54","2,101.08","1,397.55","3,070.55",0.3519,"78,556,532","5,528,808",-,-,"4,293,233","991,048",-,"89,369,621","84,726,528","4,643,093","820,253",-,"43,425,650","8,875,387","37,888,837",-
19,01611500000000,61150,Castro Valley Unified,NaN,"2,617.44","2,032.50","1,400.40","2,918.48",0.2904,"74,911,585","4,350,864",-,-,-,"292,158",-,"79,554,607","74,489,641","5,064,966",-,-,"26,572,525","14,660,230","38,321,852",-
20,01611680000000,61168,Emery Unified,NaN,237.65,151.54,104.99,191.97,0.7953,"5,702,229","906,997","699,378",-,-,"18,271",-,"7,326,875","6,698,947","627,928","108,723",-,"5,582,328","137,230","1,716,040",-

In [256]:
#is this done?
dflcff = lcff[['District Code', 'Local Educational Agency', 'unduplicated_pupil_count', 'base_grant', 'supplemental_grant', 'concentration_grant', 'total_grants', 'cds' ]].copy()
# dflcff.set_index(lcff['District Code'])

In [361]:
dflcff

,District Code,Local Educational Agency,unduplicated_pupil_count,base_grant,supplemental_grant,concentration_grant,total_grants,cds
10,61119,Alameda Unified,0.3486,"75,938,983","5,294,466",-,"82,158,116",01611190000000
16,61127,Albany City Unified,0.2833,"29,644,972","1,679,684",-,"31,352,540",01611270000000
17,61143,Berkeley Unified,0.3519,"78,556,532","5,528,808",-,"89,369,621",01611430000000
19,61150,Castro Valley Unified,0.2904,"74,911,585","4,350,864",-,"79,554,607",01611500000000
20,61168,Emery Unified,0.7953,"5,702,229","906,997","699,378","7,326,875",01611680000000
...,...,...,...,...,...,...,...,...
2233,72728,Camptonville Elementary,0.6988,"420,692","58,796","31,299","537,244",58727280000000
2235,72736,Marysville Joint Unified,0.8168,"76,193,862","12,447,028","10,164,261","100,261,913",58727360000000
2238,72744,Plumas Lake Elementary,0.3868,"10,261,440","793,825",-,"11,108,901",58727440000000
2239,72751,Wheatland,0.4783,"9,947,133","951,543",-,"11,234,349",58727510000000
2241,72769,Wheatland Union High,0.4283,"7,062,422","604,967",-,"7,852,628",58727690000000

# Free and reduced meal plan data
Used by policy makers as a stand-in for a  segregation indicator. 

Find the codebook [here](https://www.cde.ca.gov/ds/sd/sd/fsspfrpm.asp).

In [355]:
frpm = pandas.read_csv('lcff_data/frpm1819.csv', encoding = "ISO-8859-1", skiprows=1)
frpm.shape
# aggregate figures by district
# jump down to 'mealagg' cell

(10520, 28)

In [356]:
# renaming important columns
frpm = frpm.rename(columns={'Percent (%) \nEligible FRPM \n(K-12)': 'percent_eligible_k12_frpm', 
                            'Percent (%) \nEligible Free \n(K-12)': 'percent_eligible_k12_free', 
                            'Percent (%) \nEligible FRPM \n(Ages 5-17)' : 'percent_eligible_by_age',
                            'Enrollment \n(Ages 5-17)': 'enrollment_by_age',
                            'FRPM Count \n(Ages 5-17)': 'frpm_count_by_age',
                            'Free Meal \nCount \n(K-12)': 'free_count_by_age',
                            'District Type': 'district_type',
                            'District Name': 'district_name',
                            
                           })

In [357]:
frpm.head()

,Academic Year,County Code,District Code,School Code,County Name,district_name,School Name,district_type,School Type,Educational \nOption Type,NSLP \nProvision \nStatus,Charter \nSchool \n(Y/N),Charter \nSchool \nNumber,Charter \nFunding \nType,IRC,Low Grade,High Grade,Enrollment \n(K-12),free_count_by_age,percent_eligible_k12_free,FRPM Count \n(K-12),percent_eligible_k12_frpm,enrollment_by_age,Free Meal \nCount \n(Ages 5-17),Percent (%) \nEligible Free \n(Ages 5-17),frpm_count_by_age,percent_eligible_by_age,CALPADS Fall 1 \nCertification Status
0,2018-2019,1,10017,112607,Alameda,Alameda County Office of Education,Envision Academy for Arts & Technology,County Office of Education (COE),High Schools (Public),Traditional,NaN,Yes,0811,Directly funded,Y,9,12,385,262,68.1%,306,79.5%,370,249,67.3%,291,78.6%,Y
1,2018-2019,1,10017,123968,Alameda,Alameda County Office of Education,Community School for Creative Education,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1284,Directly funded,Y,K,8,241,118,49.0%,120,49.8%,224,113,50.4%,115,51.3%,Y
2,2018-2019,1,10017,124172,Alameda,Alameda County Office of Education,Yu Ming Charter,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1296,Directly funded,Y,K,8,445,58,13.0%,64,14.4%,445,58,13.0%,64,14.4%,Y
3,2018-2019,1,10017,125567,Alameda,Alameda County Office of Education,Urban Montessori Charter,County Office of Education (COE),Elementary Schools (Public),Traditional,NaN,Yes,1383,Directly funded,Y,K,8,432,113,26.2%,131,30.3%,418,111,26.6%,129,30.9%,Y
4,2018-2019,1,10017,130401,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,County Office of Education (COE),Juvenile Court Schools,Juvenile Court School,NaN,No,NaN,NaN,N,K,12,53,53,100.0%,53,100.0%,50,50,100.0%,50,100.0%,Y

In [358]:
#creating CDS code
frpm['County Code'] = frpm['County Code'].astype(str)
frpm['County Code'] = frpm['County Code'].apply(lambda x: '{0:0>2}'.format(x))
frpm['District Code'] = frpm['District Code'].astype(str)
frpm['School Code'] = frpm['School Code'].astype(str)
frpm['School Code'] = frpm['School Code'].apply(lambda x: '{0:0>7}'.format(x))
# converting to strings, adding leading zeroes 
frpm['cds'] = frpm['County Code'] + frpm['District Code'] + frpm['School Code']
# combining codes

frpm = frpm[frpm.district_type !='County Office of Education (COE)']
# removing county offices of education

col_name1='cds'
first_col1 = frpm.pop(col_name1)
frpm.insert(0, col_name1, first_col1)
# Moving to front

frpm.drop('County Code', axis=1, inplace=True)
# frpm.drop('District Code', axis=1, inplace=True)
frpm.drop('School Code', axis=1, inplace=True)
# dropping split codes

In [359]:
# aggregate all schools into district level

frpm['enrollment_by_age'] = frpm['enrollment_by_age'].str.replace(',', '').astype(int)
frpm['frpm_count_by_age'] = frpm['frpm_count_by_age'].str.replace(',', '').astype(int)
frpm['free_count_by_age'] = frpm['free_count_by_age'].str.replace(',', '').astype(int)
# striping commas, converting to int 

# If nothing is int (and everything is object), all columns live through the groupby
# if we convert to int before groupby (to make .sum() work), only int lives through groupby

dffrpm = frpm.groupby(by='District Code').sum()
# aggregating

dffrpm['pct_frpm_by_age'] = dffrpm.frpm_count_by_age / dffrpm.enrollment_by_age
dffrpm['pct_free_by_age'] = dffrpm.free_count_by_age / dffrpm.enrollment_by_age
# inferring more convinient than copying lul

In [360]:
dffrpm.head()
# percentage collumns are not quite right
# need to include district name and county name in the aggreagtion

# why do we lose columns in the groupby operation? dtypes object preventing groupby?
# are there ways to validiate percentages? groupby.multiply?

,free_count_by_age,enrollment_by_age,frpm_count_by_age,pct_frpm_by_age,pct_free_by_age
District Code,,,,,
31609,66,42,42,1.000000,1.571429
31617,372,311,311,1.000000,1.196141
31625,114,295,96,0.325424,0.386441
32276,288,127,126,0.992126,2.267717
61119,3053,11031,3306,0.299701,0.276765

## Test Variables for merge with District Codes

In [309]:
frpmt = set(dffrpm.index)
len(frpmt)

978

In [310]:
lcfft = set(dflcff['District Code'])
# create test variable
len(lcfft)

944

In [311]:
elat = set(dfe['District Code'])
len(elat)
# creating test set variable

932

In [312]:
matht = set(dfm['District Code'])
# creating test variable
len(matht)
# lowest common denominator

931

In [271]:
d2 = lcfft.difference(matht)
d2

{'61994',
 '63933',
 '66761',
 '68627',
 '70318',
 '70680',
 '70714',
 '70730',
 '70797',
 '70839',
 '70854',
 '70862',
 '70912',
 '70920',
 '71274',
 '71670'}

In [260]:
d3 = lcfft.difference(elat)
d3

{'61994',
 '63933',
 '66761',
 '68627',
 '70680',
 '70714',
 '70730',
 '70797',
 '70839',
 '70854',
 '70862',
 '70912',
 '70920',
 '71274',
 '71670'}

In [265]:
drops = d2.intersection(d3)
len(drops)

15

In [272]:
d2.difference(drops)

{'70318'}

### d2 lists district codes that can be dropped from ela and math to cleanly merge with lcff.

In [274]:
drops = d2
len(drops)

16

In [305]:
d4 = frpmt.difference(matht)
len(d4)

49

In [307]:
d2.difference(d4)

set()

In [308]:
d1.difference(d4)

set()

In [331]:
d4

{'31609',
 '31617',
 '31625',
 '32276',
 '61994',
 '63933',
 '66761',
 '68627',
 '70318',
 '70680',
 '70714',
 '70730',
 '70797',
 '70839',
 '70854',
 '70862',
 '70912',
 '70920',
 '71274',
 '71670',
 '75630',
 '75663',
 '75697',
 '76547',
 '76885',
 '76893',
 '76901',
 '76919',
 '76927',
 '76943',
 '76950',
 '76968',
 '76992',
 '77024',
 '77032',
 '77065',
 '77081',
 '77099',
 '77107',
 '77131',
 '77149',
 '77156',
 '77164',
 '77172',
 '77180',
 '77198',
 '77206',
 '77214',
 '77222'}

### d4 contains the list of districts to drop to merge all 4 datasets.

# Census Data

#### SCAG counties and their FIPS codes:
<br> Los Angeles (06037)<br> Orange (06059)<br> Riverside (06065)<br> San Bernardino (06071)<br> San Diego (06073)<br>Imperial (06025)<br> Ventura (06111)

In [ ]:
cacom = Community.from_census(state_fips='06')

In [ ]:
scag = Community.from_census(county_fips=['06025', '06037', '06059', '06071', '06111', '06073', '06065'])

In [ ]:
rivco = Community.from_census(county_fips=['06065'])

In [ ]:
orangeco = Community.from_census(county_fips=['06059'])

In [ ]:
laco = Community.from_census(county_fips=['06037'])

In [ ]:
sbco = Community.from_census(county_fips=['06071'])

In [ ]:
sdco = Community.from_census(county_fips=['06073'])

In [ ]:
f, ax = plt.subplots(1, figsize=(30, 30))
ax = rivco.gdf[rivco.gdf.year==2010].plot('p_poverty_rate_over_65', axes=ax)
plt.show()

# change gdf, variable, and year

### This 'plot' function will produce three maps, one from each of the census data years. We can use it to pass in communities and a specific variable to provide a preliminary view of changes over 30 years.

In [ ]:
def plot(community, column):
    fig, axs = plt.subplots(1,3, figsize=(20,20))
    axs=axs.flatten()
    
    community.gdf[community.gdf.year==1990].dropna(subset=[column]).plot(column=column, scheme='quantiles', cmap='Greens', k=7, ax=axs[0])
    axs[0].axis('off')
    axs[0].set_title('1990')

    community.gdf[community.gdf.year==2000].dropna(subset=[column]).plot(column=column, scheme='quantiles', cmap='Greens', k=7, ax=axs[1])
    axs[1].axis('off')
    axs[1].set_title('2000')

    community.gdf[community.gdf.year==2010].dropna(subset=[column]).plot(column=column, scheme='quantiles', cmap='Greens', k=7, ax=axs[2])
    axs[2].axis('off')
    axs[2].set_title('2010')

In [ ]:
datasets.codebook()

### Variables of interest from census:
#### economic indicators
median_household_income <br>
median_home_value OR median_contract_rent<br>
median_income_whitehh<br>
median_income_blackhh<br>
median_income_hispanichh<br>
n_edu_college_greater - persons with at least 4-year degree (also available as %)<br>
n_edu_hs_less - persons with less than high school (also available as %)<br>

#### demographic indicators
n_recent_immigrant_pop (within the last 10 years)<br>
n_limited_english OR n_other_language<br>
n_hispanic_persons<br>
n_black_persons<br>
n_white_persons

In [ ]:
from segregation.aspatial import GiniSeg
index = GiniSeg(scag.gdf, 'n_mexican_pop', 'n_total_pop')
type(index)

# MERGE SCHOOL DISTRICTS WITH CENSUS DATA

## Alternative community construction

Can also construct communities from longitudinal tract database (ltdb)

In [ ]:
datasets.msas()[datasets.msas().name.str.startswith('Riverside')]

In [ ]:
datasets.msas()[datasets.msas().name.str.startswith('Orange')]

In [ ]:
datasets.msas()[datasets.msas().name.str.startswith('San')]

In [ ]:
LA = Community.from_ltdb(msa_fips='31080')

In [ ]:
SD = Community.from_ltdb(msa_fips='41740')

In [ ]:
riverside = Community.from_ltdb(msa_fips='40140')